<p id="notice"><%= notice %></p>

<h1>Listing Distritos</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Ubigeo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @distritos.each do |distrito| %>
      <tr>
        <td><%= distrito.code %></td>
        <td><%= distrito.name %></td>
        <td><%= distrito.ubigeo %></td>
        <td><%= link_to 'Show', distrito %></td>
        <td><%= link_to 'Edit', edit_distrito_path(distrito) %></td>
        <td><%= link_to 'Destroy', distrito, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Distrito', new_distrito_path %>



<h2>Importar Archivo "*.csv"</h2>

<%= form_tag import_distritos_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Importar " %>
<% end %>


