<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @requerimiento.code %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @requerimiento.employee.full_name %>
</p>

<p>
  <strong>Division:</strong>
  <%= @requerimiento.division.name %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @requerimiento.fecha.strftime("%d/%m/%Y") %>
</p>

<p>
  <strong>Hora:</strong>
  <%= @requerimiento.hora %>

</p>




  <table>
    <tr>
   <th style="width: 5%">Item </th>
   <th style="width: 10%">Codigo </th>
   <th style="width: 10%">Cantidad </th>
   <th style="width: 10%">Unidad </th>
   <th style="width: 50%">Descrip </th>
   <th style="width: 15%">Placa/Destino </th>
   <% nroitem = 1%>
   </tr>
    <% for rq  in @requerimiento.rqdetails  %>
    <tr>
    <td style="width: 5%">  <%= nroitem %> </td>
    <td style="width: 10%">  <%= rq.codigo %></td>

    <td style="width: 10%">  <%= rq.qty %></td>
     <td style="width: 10%">  <%= rq.unidad.descrip %></td>
    
    <td style="width: 50%"> <%= rq.descrip %></td>
    <td style="width: 15%"> <%= rq.placa_destino %></td>
    
    </tr>
    <% nroitem +=1 %>
    <% end %>

  </table>
  



<p>
  <strong>Nota:</strong>
  <%= @requerimiento.nota %>
</p>

<p>
  <strong>Observa:</strong>
  <%= @requerimiento.observa %>
</p>

<div>
  <strong> Estado : <%= @requerimiento.get_processed %></strong>
  <% if @requerimiento.processed == "1" and @requerimiento.date_processed %>
    <%= doDate(@requerimiento.date_processed) %>
  <% end %>
</div>


<div>
  <strong> Usuario:</strong>
  <%=  @requerimiento.user.username  %>
</div >




<%= link_to 'Regresar', requerimientos_path %>


<div class="button">
  <%= link_to 'Exportar to PDF', "/requerimientos/pdf/#{@requerimiento.id}.pdf" %>  

  <% if @requerimiento.processed == "1" %>
   
   <%= link_to 'Anular', "/requerimientos/do_anular/#{@requerimiento.id}" %>
   <%= link_to 'Cancelar', "/requerimientos/sendcancelar/#{@requerimiento.id}" %>


    <%= link_to 'Enviar  via email', "/requerimientos/sendmail/#{@requerimiento.id}" %>
  </tr>  

  <%end %>


  <% if @requerimiento.processed.nil? %>
  <%= link_to 'Editar', edit_requerimiento_path(@requerimiento) %> 
  <%= link_to 'Procesar ST.', "/requerimientos/do_process/#{@requerimiento.id}" %>
  <%end %>


  
  <%= link_to 'Regresar', requerimientos_path %>
</div>