<p id="notice"><%= notice %></p>

<p>
  <strong>Dt:</strong>
  <%= @horas_me.dt %>
</p>

<p>
  <strong>Fal:</strong>
  <%= @horas_me.fal %>
</p>

<p>
  <strong>Sub:</strong>
  <%= @horas_me.sub %>
</p>

<p>
  <strong>Dm:</strong>
  <%= @horas_me.dm %>
</p>

<p>
  <strong>Pat:</strong>
  <%= @horas_me.pat %>
</p>

<p>
  <strong>Vac:</strong>
  <%= @horas_me.vac %>
</p>

<p>
  <strong>Tot:</strong>
  <%= @horas_me.tot %>
</p>

<p>
  <strong>Payroll:</strong>
  <%= @horas_me.payroll_id %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @horas_me.employee_id %>
</p>

<%= link_to 'Edit', edit_horas_me_path(@horas_me) %> |
<%= link_to 'Back', horas_mes_path %>
