<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @inasist.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @inasist.code %>
</p>

<%= link_to 'Edit', edit_inasist_path(@inasist) %> |
<%= link_to 'Back', inasists_path %>
