<p id="notice"><%= notice %></p>

<p>
  <strong>Description1:</strong>
  <%= @instruccion.description1 %>
</p>

<p>
  <strong>Description2:</strong>
  <%= @instruccion.description2 %>
</p>

<p>
  <strong>Description3:</strong>
  <%= @instruccion.description3 %>
</p>

<p>
  <strong>Description4:</strong>
  <%= @instruccion.description4 %>
</p>

<p>
  <strong>Description 6 :</strong>
  <%= @instruccion.instruccion6 %>
</p>



<p>
  <strong>Description 7 :</strong>
  <%= @instruccion.instruccion7 %>
</p>



<p>
  <strong>Description 8 :</strong>
  <%= @instruccion.instruccion8 %>
</p>



<p>
  <strong>Description 9 :</strong>
  <%= @instruccion.instruccion9 %>
</p>



<p>
  <strong>Description 10 :</strong>
  <%= @instruccion.instruccion10 %>
</p>





<%= link_to 'Edit', edit_instruccion_path(@instruccion) %> |
<%= link_to 'Back', instruccions_path %>
