<p id="notice"><%= notice %></p>

<h1>Listing Vueltos</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Fecha</th>
      <th>User</th>
      <th>Processed</th>
      <th>Date processed</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vueltos.each do |vuelto| %>
      <tr>
        <td><%= vuelto.code %></td>
        <td><%= vuelto.fecha %></td>
        <td><%= vuelto.user_id %></td>
        <td><%= vuelto.processed %></td>
        <td><%= vuelto.date_processed %></td>
        <td><%= vuelto.total %></td>
        <td><%= link_to 'Show', vuelto %></td>
        <td><%= link_to 'Edit', edit_vuelto_path(vuelto) %></td>
        <td><%= link_to 'Destroy', vuelto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vuelto', new_vuelto_path %>
