<p class="bold big">
  Comprobante de Egresos: 
</p>


  <table>
    <thead>
      <tr>
        <th class="small bordered_bottom bordered_right">
          Comprobantes: 
        </th>
         <th class="small bordered_bottom bordered_right">
           Importe 
        </th>
      </tr>
    </thead>
    <tbody>
      <% for product in @guias %>
        <tr>
          <td class="small bordered_bottom bordered_right" style="width: 220px;">
            <a href="#" onclick="removeItemFromSt2(<%= product.i %>); return false;" title="Eliminar desde OST."><%= product.code %></a>
            [<a href="#" onclick="removeItemFromSt2(<%= product.i %>); return false;" title="
            Eliminar desde OST.">X</a>]
          </td>

       <td class="small bordered_bottom bordered_right" style="width: 220px;">
        <%= product.fecha.strftime("%d%m%Y")%>
       </td>

         <td class="small bordered_bottom bordered_right" style="width: 220px;">
        <%= product.importe %>
       </td>

        </tr>
      <% end %>
    </tbody>
  </table>
