<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @vuelto.code %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @vuelto.fecha %>
</p>

<p>
  <strong>User:</strong>
  <%= @vuelto.user_id %>
</p>

<p>
  <strong>Processed:</strong>
  <%= @vuelto.processed %>
</p>

<p>
  <strong>Date processed:</strong>
  <%= @vuelto.date_processed %>
</p>

<p>
  <strong>Total:</strong>
  <%= @vuelto.total %>
</p>

 


<div class="button">
<%= link_to 'Agregar Item', new_vuelto_vuelto_detail_path(@vuelto) %>

</div> 

 

<table>
  <thead>
    <tr>
     
      <th>
        Item
      </th>

       <th>
        ingreso/Egreso
      </th>

       <th>
        Fecha
      </th>
      
      
      <th>
        Descripcion 
      </th>
      
      
      <th>
        Nro.Documento   </th>
      
      <th>
        Importe S/.
      </th>
      
      
      <th>
        Detalle
      </th>
        <th>
        Opciones 
      </th>
      
    </tr>
  </thead>
  <tbody>
    
<%= hr() %>


<% nroitem = 1 %>
    <%  @vuelto_detail.each do |product| %>
    
      <tr>

        <td class="small bordered_bottom bordered_right">
        <%= nroitem %>
        </td>

        <td class="small bordered_bottom bordered_right">

             <%=product.fecha.strftime("%d/%m/%Y") %>

          </td>
          
         
          <td class="small bordered_bottom bordered_left">
            <%= money(product.importe) %>
          </td>
          <td class="small bordered_bottom bordered_left">
            <%= money(product.flete) %>
          </td>

        <td class="small bordered_bottom bordered_left">
            <%= money(product.egreso) %>
          </td>
        <td class="small bordered_bottom bordered_left">
            <%= money(product.total) %>
          </td>

           <td class="small bordered_bottom bordered_right">
              <%=product.detalle %>
          </td>

          <td><%= link_to 'Editar',  edit_viatico_viatico_detail_path(viatico_id: @vuelto.id,id: product.id ) %></td>          
          <td><%= link_to 'Eliminar',[@vuelto,product], method: :delete, data: { confirm: 'Esta seguro?' } %></td>
          
      </tr>

      <% nroitem += 1 %>
    <% end %>
   <tr>
      <td colspan="5" class="bordered_bottom bordered_right bold">
        Total Egresos
      </td>
      <td class="bordered_bottom bordered_right bold right">
        <%= money(@vuelto.total)%>
      </td>
    </tr>
    
  
    
   
   
  </tbody>
</table>
<br />


<br />


<p>
  <strong>Seller:</strong>
  <%= link_to @vuelto.user.username, @vuelto.user %>
</p>

<%= hr() %>

<div class="button">
  <%= link_to 'Exportar to PDF', "/vueltos/pdf/#{@vuelto.id}.pdf" %>  
  
 <% if @vuelto.processed == "1" %> 

 <% %>

 <% else %>

  <%= link_to 'Procesar', "/vueltos/do_process/#{@vuelto.id}" %>

 <% end %> 

  
  <%= link_to 'Regresar', vueltos_path %>


</div>

