<p id="notice"><%= notice %></p>

<p>
  <strong>Proyecto minero:</strong>
  <%= @contactopm.proyecto_minero.descrip  %>
</p>



<h3>Contactos </h3>


<table>


  <thead>
    <tr>
      <th>Contacto</th>
      <th>Email</th>
      <th>Telefono</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% for post in @contactopm.contactopmdetails %>

      <tr>
        <td><%= post.contacto %></td>
        <td><%= post.email %></td>
        <td><%= post.telefono %></td>



       
      </tr>
    <% end %>
    
  </tbody>
</table>


<div class="button">


<%= link_to 'Editar', edit_contactopm_path(@contactopm) %>



<%= link_to 'Regresar ', contactopms_path %>
</div>
