<p id="notice"><%= notice %></p>

<h1>Listing Dptos</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Ubigeo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dptos.each do |dpto| %>
      <tr>
        <td><%= dpto.code %></td>
        <td><%= dpto.name %></td>
        <td><%= dpto.ubigeo %></td>
        <td><%= link_to 'Show', dpto %></td>
        <td><%= link_to 'Edit', edit_dpto_path(dpto) %></td>
        <td><%= link_to 'Destroy', dpto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div  class="form-actions">

<%= link_to 'New Dpto', new_dpto_path %>

</div>


<h2>Importar Archivo "*.csv"</h2>

<%= form_tag import_dptos_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Importar " %>
<% end %>






