<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha inicio:</strong>
  <%= @paymentnotice_detail.fecha_inicio %>
</p>

<p>
  <strong>Fecha culmina:</strong>
  <%= @paymentnotice_detail.fecha_culmina %>
</p>

<p>
  <strong>Total:</strong>
  <%= @paymentnotice_detail.total %>
</p>

<p>
  <strong>Descrip:</strong>
  <%= @paymentnotice_detail.descrip %>
</p>

<p>
  <strong>Lugar:</strong>
  <%= @paymentnotice_detail.lugar %>
</p>

<p>
  <strong>Price unit:</strong>
  <%= @paymentnotice_detail.price_unit %>
</p>

<p>
  <strong>Sub total:</strong>
  <%= @paymentnotice_detail.sub_total %>
</p>

<p>
  <strong>Igv:</strong>
  <%= @paymentnotice_detail.igv %>
</p>

<p>
  <strong>Total:</strong>
  <%= @paymentnotice_detail.total %>
</p>

<p>
  <strong>Nro compro:</strong>
  <%= @paymentnotice_detail.nro_compro %>
</p>

<p>
  <strong>Nro documento:</strong>
  <%= @paymentnotice_detail.nro_documento %>
</p>

<p>
  <strong>Observa:</strong>
  <%= @paymentnotice_detail.observa %>
</p>

<p>
  <strong>Payment notices:</strong>
  <%= @paymentnotice_detail.payment_notices %>
</p>

<%= link_to 'Edit', edit_paymentnotice_detail_path(@paymentnotice_detail) %> |
<%= link_to 'Back', paymentnotice_details_path %>
