<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @lvt_detail.fecha %>
</p>

<p>
  <strong>Gasto:</strong>
  <%= @lvt_detail.gasto_id %>
</p>

<p>
  <strong>Document:</strong>
  <%= @lvt_detail.document_id %>
</p>

<p>
  <strong>Documento:</strong>
  <%= @lvt_detail.documento %>
</p>

<p>
  <strong>Total:</strong>
  <%= @lvt_detail.total %>
</p>

<p>
  <strong>Lvt:</strong>
  <%= @lvt_detail.lvt_id %>
</p>

<p>
  <strong>Supplier:</strong>
  <%= @lvt_detail.supplier_id %>
</p>

<p>
  <strong>Td:</strong>
  <%= @lvt_detail.td %>
</p>

<p>
  <strong>Detalle:</strong>
  <%= @lvt_detail.detalle %>
</p>

<%= link_to 'Edit', edit_lvt_detail_path(@lvt_detail) %> |
<%= link_to 'Back', lvt_details_path %>
