<%= form_for(@truck) do |f| %>
  <% if @truck.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@truck.errors.count, "error") %> prohibited this truck from being saved:</h2>

      <ul>
      <% @truck.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 


  <div class="field">
    <%= f.label :placa %><br>
    <%= f.text_field :placa %>
  </div>



<div class="field">
    <%= f.label :tipo_unidad_id %><br />
     <%= f.collection_select :tipo_unidad_id, @tipo_unidad, :id, :name, :prompt => true %>
  </div>

  <div class="field">
    <%= f.label :config_vehi_id %><br />
     <%= f.collection_select :config_vehi_id, @config, :id, :name , :prompt => true %>
  </div>



<div class="field">
    <%= f.label :clase_cat_id %><br />
     <%= f.collection_select :clase_cat_id, @clase, :id, :name , :prompt => true %>
</div>



<div class="field">
    <%= f.label :color_vehi_id %><br />
     <%= f.collection_select :color_vehi_id, @color , :id, :name , :prompt => true %>
</div>


 <div class="field">
    <%= f.label :anio %><br>
    <%= f.number_field :anio %>
  </div>
  

<div class="field">
    <%= f.label :modelo_id %><br />
     <%= f.collection_select :modelo_id, @modelos, :id, :descrip , :prompt => true %>
</div>

<div class="field">
    <%= f.label :marca_id %><br />
     <%= f.collection_select :marca_id, @marcas, :id, :descrip , :prompt => true %>
</div>



  <div class="field">
    <%= f.label :certificado %><br>
    <%= f.text_field :certificado %>
  </div>


  <div class="field">
    <%= f.label :ejes %><br>
    <%= f.number_field :ejes %>
  </div>


  <div class="field">
    <%= f.label :licencia %><br>
    <%= f.text_field :licencia %>
  </div>
  <div class="field">
    <%= f.label :neumatico %><br>
    <%= f.text_field :neumatico %>
  </div>
  <div class="field">
    <%= f.label :config %><br>
    <%= f.text_field :config %>
  </div>
  <div class="field">
    <%= f.label :carroceria %><br>
    <%= f.text_field :carroceria %>
  </div>
 


  <div class="field">
    <%= f.label :propio %><br>
    <%= f.text_field :propio %>
  </div>



   <div class="field">
      <%= f.check_box :estado %>
      <%= f.label :estado ,"Estado?", :class => "bold" %>
      <div class="small">
        Esta activo   ?
      </div>
    </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
