<p id="notice"><%= notice %></p>

<h1>Listing Products Grupos</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products_grupos.each do |products_grupo| %>
      <tr>
        <td><%= products_grupo.code %></td>
        <td><%= products_grupo.name %></td>
        <td><%= products_grupo.user_id %></td>
        <td><%= link_to 'Show', products_grupo %></td>
        <td><%= link_to 'Edit', edit_products_grupo_path(products_grupo) %></td>
        <td><%= link_to 'Destroy', products_grupo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Products grupo', new_products_grupo_path %>
