<p id="notice"><%= notice %></p>

<h1>Listing Tipoproveedors</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tipoproveedors.each do |tipoproveedor| %>
      <tr>
        <td><%= tipoproveedor.code %></td>
        <td><%= tipoproveedor.name %></td>
        <td><%= link_to 'Show', tipoproveedor %></td>
        <td><%= link_to 'Edit', edit_tipoproveedor_path(tipoproveedor) %></td>
        <td><%= link_to 'Destroy', tipoproveedor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tipoproveedor', new_tipoproveedor_path %>
