<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @tipoproveedor.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @tipoproveedor.name %>
</p>

<%= link_to 'Edit', edit_tipoproveedor_path(@tipoproveedor) %> |
<%= link_to 'Back', tipoproveedors_path %>
