<p id="notice"><%= notice %></p>

<h1>Control de Documentos </h1>

<table>
  <thead>
    <tr>
      <th>Employee</th>
      <th>Lugar</th>
      <th>Experiencia</th>
      <th>Dni</th>
      <th>Categoria</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cdocuments.each do |cdocument| %>
      <tr>
        <td><%= cdocument.employee_id %></td>
        <td><%= cdocument.lugar %></td>
        <td><%= cdocument.experiencia %></td>
        <td><%= cdocument.dni %></td>
        <td><%= cdocument.categoria %></td>
        
        <td><%= link_to 'Show', cdocument %></td>
        <td><%= link_to 'Edit', edit_cdocument_path(cdocument) %></td>
        <td><%= link_to 'Destroy', cdocument, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Documento ', new_cdocument_path %>
