<p id="notice"><%= notice %></p>

<p>
  <strong>Employee:</strong>
  <%= @cdocument.employee_id %>
</p>

<p>
  <strong>Lugar:</strong>
  <%= @cdocument.lugar %>
</p>

<p>
  <strong>Experiencia:</strong>
  <%= @cdocument.experiencia %>
</p>

<p>
  <strong>Dni:</strong>
  <%= @cdocument.dni %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @cdocument.categoria %>
</p>

<p>
  <strong>Exp licencia:</strong>
  <%= @cdocument.exp_licencia %>
</p>

<p>
  <strong>Rev licencia:</strong>
  <%= @cdocument.rev_licencia %>
</p>

<p>
  <strong>Categoria especial:</strong>
  <%= @cdocument.categoria_especial %>
</p>

<p>
  <strong>Exp licencia2:</strong>
  <%= @cdocument.exp_licencia2 %>
</p>

<p>
  <strong>Rev licencia:</strong>
  <%= @cdocument.rev_licencia %>
</p>

<p>
  <strong>Iqbf:</strong>
  <%= @cdocument.iqbf %>
</p>

<p>
  <strong>Dni emision:</strong>
  <%= @cdocument.dni_emision %>
</p>

<p>
  <strong>Dni caducidad:</strong>
  <%= @cdocument.dni_caducidad %>
</p>

<p>
  <strong>Ap emision:</strong>
  <%= @cdocument.ap_emision %>
</p>

<p>
  <strong>Ap caducidad:</strong>
  <%= @cdocument.ap_caducidad %>
</p>

<p>
  <strong>App emision:</strong>
  <%= @cdocument.app_emision %>
</p>

<p>
  <strong>App caducidad:</strong>
  <%= @cdocument.app_caducidad %>
</p>

<p>
  <strong>Cv documentado:</strong>
  <%= @cdocument.cv_documentado %>
</p>

<p>
  <strong>Nivel educativo:</strong>
  <%= @cdocument.nivel_educativo %>
</p>

<%= link_to 'Edit', edit_cdocument_path(@cdocument) %> |
<%= link_to 'Back', cdocuments_path %>
