<p id="notice"><%= notice %></p>

<p>
  <strong>Viatico:</strong>
  <%= @viaticolgv_detail.viatico_id %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @viaticolgv_detail.fecha %>
</p>

<p>
  <strong>Descrip:</strong>
  <%= @viaticolgv_detail.descrip %>
</p>

<p>
  <strong>Document:</strong>
  <%= @viaticolgv_detail.document_id %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @viaticolgv_detail.numero %>
</p>

<p>
  <strong>Importe:</strong>
  <%= @viaticolgv_detail.importe %>
</p>

<p>
  <strong>Detalle:</strong>
  <%= @viaticolgv_detail.detalle %>
</p>

<p>
  <strong>Tm:</strong>
  <%= @viaticolgv_detail.tm %>
</p>

<p>
  <strong>Currtotal:</strong>
  <%= @viaticolgv_detail.CurrTotal %>
</p>

<p>
  <strong>Tranportorder:</strong>
  <%= @viaticolgv_detail.tranportorder_id %>
</p>

<p>
  <strong>Date processed:</strong>
  <%= @viaticolgv_detail.date_processed %>
</p>

<p>
  <strong>Ruc:</strong>
  <%= @viaticolgv_detail.ruc %>
</p>

<p>
  <strong>Supplier:</strong>
  <%= @viaticolgv_detail.supplier_id %>
</p>

<p>
  <strong>Gasto:</strong>
  <%= @viaticolgv_detail.gasto_id %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @viaticolgv_detail.employee_id %>
</p>

<p>
  <strong>Destino:</strong>
  <%= @viaticolgv_detail.destino_id %>
</p>

<p>
  <strong>Egreso:</strong>
  <%= @viaticolgv_detail.egreso_id %>
</p>

<p>
  <strong>Viaticolgv:</strong>
  <%= @viaticolgv_detail.viaticolgv %>
</p>

<%= link_to 'Edit', edit_viaticolgv_detail_path(@viaticolgv_detail) %> |
<%= link_to 'Back', viaticolgv_details_path %>
