


<% if @vuelto_detail.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@vuelto_detail.errors.count, "error") %> prohibited this vuelto from being saved:</h2>
    <ul>
    <% @vuelto_detail.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= hr() %>



<%= simple_form_for [@vuelto, @vuelto_detail]  do |f| %>


  <%= f.error_notification %>

  <div class="form-inputs">

 
       <div class="field">
       <strong> Fecha :</strong><br /> 
          <%= f.date_field :fecha ,:style=> 'width: 180px'%>
      </div>

<table class="ui right aligned table">
  <thead>
    <th class="left aligned"></th>
    <th>Datos</th>
    <th>Conductor</th>
    <th></th>
  </thead>
  <tbody>


    <tr>
      <td class="left aligned">Conductor </td>
      <td>   <%= f.collection_select :employee_id, @employees, :id, :full_name2, :prompt => true  %></td> 
      
     
    </tr>

    <tr>
     <td>Ruta Desde: </td>
        <td>  <%= f.collection_select :ubication_id, @puntos, :id, :name, :prompt => true %></td>
      <td>Hacia :</td>
      <td>  <%= f.collection_select :ubication2_id, @puntos, :id, :name, :prompt => true %></td>

    </tr>

    
  </tbody>
</table>

<TABLE>
  <tr>
    <td><strong>Vehiculo: </strong></td>
    <td><%= f.collection_select :truck_id, @trucks, :id, :placa, :prompt => true  %></td> 
                
   <td> </td>
    <td> </td> 
  </tr>
  <tr>
    <td><strong>Vehiculo 2 : </strong></td>
    <td><%= f.collection_select :truck2_id, @trucks, :id, :placa, :prompt => true  %></td> 
   <td>  </td>
    <td> </td> 
  </tr>
   <tr>
    <td><strong>Escolta  </strong></td>
    <td><%= f.collection_select :truck3_id, @trucks, :id, :placa, :prompt => true  %></td> 
    <td> </td>
    <td> </td> 
  </tr>

   </TABLE>
<TABLE>

   <thead>
             
              <th><strong>Importe:  </strong></th>
              <th><strong>Flete:  </strong></th>
              <th><strong>Egreso:  </strong></th>

            </thead>
            <tbody>

  <tr>
    <td><%= f.number_field :importe ,:style=> 'width: 120px' %></td>         
    <td><%= f.number_field :flete ,:style=> 'width: 120px' %></td>
    <td> <%= f.number_field :egreso  ,:style=> 'width: 120px' %></td> 
  </tr>
  
</tbody>
   </TABLE>

   <div class="field">
            <%= f.label  :observa ,"Observación  :  " , :class => "bold"%><br />
            <%= f.text_area :observa  , step: :any  %>
  
    </div> 
    
  </div>





  <div class="form-actions">
<input type="hidden" name="items" id="items" value="<% if @products_lines %><%= @products_lines %><% end %>" />


    <%= f.button :submit %>
  </div>


<% end %>



  


<script type="text/javascript">

  $(document).ready(function() {


     $("#ac_item").autocomplete("/vueltos/ac_couts/<%= @company.id %>", {
      matchSubset: 1,
      matchContains: 1,
      selectFirst: false
    });
    
    $("#ac_item").result(function(event, data, formatted) {
      $("#ac_item_cout").val(data[2]);    
      $("#selected_st").html(data[0]); 
      $("#ac_item_vuelto").val(data[4]);        
      
    
    });


    
    <% if @products_lines %>
    alert 'holas products_lines';
      listItemsCout();
    <% end %>

   
  });



// Add an item to a product kit
  function addItemToCout() {

    var item = $("#ac_item_vuelto").val();

    alert(item);
    
   if(item != "") {
      
      var item_id    = $("#ac_item_cout").val();        
      var items_arr  = $("#items").val().split(",");
      var importe   = $("#ac_item_vuelto").val();

      var item_line = item_id + "|BRK|" + importe ;
      
        $("#items").val($("#items").val() + "," + item_line);

        listItemsCout();

        
        $("#ac_item_cout").val("");
        $("#ac_item_vuelto").val("");      
      
    } else {
      alert("Please find a cout   to add first.");
    }
  }


  function listItemsCout() {
    var items3 = $("#items").val();

    var company_id = 1 ;
    
    $.get('/vueltos/list_items3/' + company_id, {
      items3: items3
    },
    function(data) {
      $("#list_items3").html(data);
      documentReady();
    });
  }



  
</script>