<html>
<body>

  
  <table style='font-family:"Courier New", Courier, monospace; font-size:70% ;width:100%'>
      <% nroitem = 1%>
      <% total_1 =  0%>
      <% total_2 =  0%>
      <% total_3 =  0%>
      <% total_4 =  0%>
      <% total_5 =  0%>
      <% total_6 =  0%>
      <% total_7 =  0%>
      <% total_8 =  0%>
      
      <% total_soles =  0%>
      <% total_dolares  =  0%>
     
      
       <% for  manifest in @facturas_rpt  %>

          <tr>
            
        
          <td width = "2%" ><%=  nroitem  %>   </td>
          <td width = "5%" ><%= manifest.fecha1.strftime("%d/%m/%Y") %></td>
          <td width = "5%" align ="center"><%=  manifest.code  %></td>
          
          <td width = "10%" align ="left"><%= manifest.customer.name   %> </td>
               
          <td width = "8%" align ="left"><%=  manifest.direccion1  %></td>
          <td width = "8%" align ="left"> <%=  manifest.direccion2  %></td>

          <td width = "5%" align ="right"><%=  sprintf("%.2f",manifest.importe) %> </td>
           <td width = "5%" align ="right"><%=  sprintf("%.2f",manifest.escolta_pen) %> </td>
          <td width = "5%" align ="right"><%=  sprintf("%.2f",manifest.stand_by_pen) %> </td>
          <td width = "5%" align ="right"><%=  sprintf("%.2f",manifest.empaletizado) %> </td>
          <td width = "5%" align ="right"><%=  sprintf("%.2f",manifest.montacarga) %> </td>
         

          <td width = "5%" align ="right"><%= sprintf("%.2f",manifest.importe2)   %></td>
          <td width = "5%" align ="right"><%= sprintf("%.2f",manifest.escolta)   %></td>
          <td width = "5%" align ="right"><%= sprintf("%.2f",manifest.stand_by)   %></td>
          
        
          <% lcDes1 ="" %> 
          <% a ="" %> 

          <%   existe2 = manifest.get_osts() %>
          <%    if existe2.size > 0 %>
          <%      for guia in existe2  %>
          <%        a << guia.code << "  "            %>
          <%      end  %>
          <%    end %>   
          <%  lcDes1 << a %>
          

          <td width = "8%" align ="left"><%= lcDes1   %></td>
          <td width = "5%" align ="left"><%= manifest.get_processed  %></td>

          </tr>



          <% nroitem += 1 %>  
          <% total_1 += manifest.importe %>
          <% total_2 += manifest.empaletizado  %>
          <% total_3 += manifest.montacarga %>
          <% total_4 += manifest.importe2  %>
          <% total_5 += manifest.escolta %>
          <% total_6 += manifest.stand_by  %>
          <% total_7 += manifest.escolta_pen%>
          <% total_8 += manifest.stand_by_pen  %>
          
            
         <% end %>

      <hr>  
     </table>
     
     <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
     <tr bgcolor="#B4D7F7">
          <td width = "57%" align ="center">Totales  </td>
          <td width = "5%" align ="right"><%= sprintf("%.2f",total_1)   %></td>
          
          <td width = "5%" align ="right"><%= sprintf("%.2f",total_7)   %></td>
          <td width = "5%" align ="right"><%= sprintf("%.2f",total_8)   %></td>

          <td width = "5%" align ="right"><%= sprintf("%.2f",total_2)   %></td>
          <td width = "5%" align ="right"><%= sprintf("%.2f",total_3)   %></td>
          <td width = "5%" align ="right"><%= sprintf("%.2f",total_4)   %></td>
          <td width = "5%" align ="right"><%= sprintf("%.2f",total_5)   %></td>
          <td width = "5%" align ="right"><%= sprintf("%.2f",total_6)   %></td>

          <td width = "13%" align ="center"> </td>
          
                
    
     </tr>
     </table>

     <% total_soles   = total_1+total_2+total_3 %>
     <% total_dolares = total_4+total_5+total_6 %>
     
     <table style='font-family:"Courier New", Courier, monospace; font-size:100% ;width:100%'>
     <tr bgcolor="#B4D7F7">
     <td width = "50%" align ="center" ><strong>VENTAS DEL : <%= @fecha1 %> AL: <%= @fecha2 %></strong></td>
     <td width = "10%" align ="right"><strong> S/. <%= sprintf("%.3f",total_soles)   %></strong></td>
     </tr>
     </table>

     <table style='font-family:"Courier New", Courier, monospace; font-size:100% ;width:100%'>
     <tr bgcolor="#B4D7F7">
     <td width = "50%" align ="center"><strong> VENTAS DEL : <%= @fecha1 %> AL: <%= @fecha2 %></strong></td>
     <td width = "10%" align ="right"><strong> US$ <%= sprintf("%.2f",total_dolares)   %></td>
     </strong></tr>
     </table>





    
    </body>
      
      </html>
      