<%= simple_form_for(@telecredito_detail) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :fecha %>
    <%= f.input :nro %>
    <%= f.input :operacion %>
    <%= f.input :purchase_id %>
    <%= f.input :beneficiario %>
    <%= f.input :documento %>
    <%= f.input :moneda %>
    <%= f.input :importe %>
    <%= f.input :egreso %>
    <%= f.input :aprueba %>
    <%= f.input :observacion %>
    <%= f.input :telecredito_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
