<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @telecredito_detail.fecha %>
</p>

<p>
  <strong>Nro:</strong>
  <%= @telecredito_detail.nro %>
</p>

<p>
  <strong>Operacion:</strong>
  <%= @telecredito_detail.operacion %>
</p>

<p>
  <strong>Purchase:</strong>
  <%= @telecredito_detail.purchase_id %>
</p>

<p>
  <strong>Beneficiario:</strong>
  <%= @telecredito_detail.beneficiario %>
</p>

<p>
  <strong>Documento:</strong>
  <%= @telecredito_detail.documento %>
</p>

<p>
  <strong>Moneda:</strong>
  <%= @telecredito_detail.moneda %>
</p>

<p>
  <strong>Importe:</strong>
  <%= @telecredito_detail.importe %>
</p>

<p>
  <strong>Egreso:</strong>
  <%= @telecredito_detail.egreso %>
</p>

<p>
  <strong>Aprueba:</strong>
  <%= @telecredito_detail.aprueba %>
</p>

<p>
  <strong>Observacion:</strong>
  <%= @telecredito_detail.observacion %>
</p>

<p>
  <strong>Telecredito:</strong>
  <%= @telecredito_detail.telecredito_id %>
</p>

<%= link_to 'Edit', edit_telecredito_detail_path(@telecredito_detail) %> |
<%= link_to 'Back', telecredito_details_path %>
