<p id="notice"><%= notice %></p>

<h1>Listing Service Extensions</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Servicebuy</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @service_extensions.each do |service_extension| %>
      <tr>
        <td><%= service_extension.code %></td>
        <td><%= service_extension.name %></td>
        <% if service_extension.servicebuy  == nil %>
        <td> - </td>
        <% else %>
        <td><%= service_extension.servicebuy.name %></td>
        
        <% end %>

        <td><%= link_to 'Show', service_extension %></td>
        <td><%= link_to 'Edit', edit_service_extension_path(service_extension) %></td>
        <td><%= link_to 'Destroy', service_extension, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Service extension', new_service_extension_path %>
