
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>




 <% if @proyecto_exam.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@proyecto_exam.errors.count, "error") %> prohibited this proyecto from being saved:</h2>

      <ul>
      <% @proyecto_exam.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



<p>
  <strong>Proyecto minero exam:</strong>
  <%= @proyecto_exam.proyecto_minero.descrip %>
</p>



  <td class="small bordered_bottom bordered_right" >

   <%= link_to "Nuevo " , new_proyecto_exam_proyectoexam_detail_path(proyecto_exam_id: @proyecto_exam_id )  %>

 </td>


<div id='container' style='height:500px;width:1000px;overflow-x:scroll'>

<table class="ui right aligned table">



<tr>

     <th class="small bordered_bottom bordered_right">
     </th>

     <th class="small bordered_bottom bordered_right">
     </th>



      <% for productItem in @pumps %>

        <% rating_id = productItem.proyectominero2.name  %>
       
        <th class="small bordered_bottom bordered_right">
          <%="#{rating_id}" %>
        </th>

        
    <% end %>
  </tr>
<tr>


     <th class="small bordered_bottom bordered_right">

      EMPLEADO 
     </th>

     <th class="small bordered_bottom bordered_right">

    
      Vigente ? 
     </th>


      <% for productItem in @pumps %>

        <% rating2_id = productItem.proyectominero3.name  %>
        
        
        <th class="small bordered_bottom bordered_right">
          <%="#{rating2_id}" %>
        </tH>

        
      <% end %>


  </tr>
     

<%= hr() %>


      <% for proyectoitem in @proyecto_examen_empleado %>
        
        <tr>
         <td  class="small bordered_bottom bordered_left", style="width: 230px" >

          <%= proyectoitem.employee.full_name2   %>

          <br></td>

         <td>  <%= check_box_tag "Active", proyectoitem.get_empleado_active(proyectoitem.employee_id), (proyectoitem.get_empleado_active(proyectoitem.employee_id) == "1" ? true : false), disabled: true %></td>  


              <% @detalle = proyectoitem.get_detalle(proyectoitem.employee_id, 
                                                    @proyecto_exam.id ) %>


                 <% for detalle in @detalle  %>


                     
                    <% if detalle.proyecto_minero_exam.proyectominero3.formatofecha == "1" %>

                         <% if detalle.fecha ==  nil %>

                           <td class="small bordered_bottom bordered_right" >
                              -
                           </td>

                         <% else %>
                         <%  if detalle.proyecto_minero_exam.proyectominero3.alert == "1" %>
                               
                              <%   if Date.today.to_date  >=  detalle.fecha.to_date %>

                                  

                               <td style="background-color:red " ,  class="small bordered_bottom bordered_right " >
                                    <%= detalle.fecha.strftime("%d/%m/%Y")  %>
                               </td>


                             <%    else %>

                                      <td class="small bordered_bottom bordered_right" >
                                    <%= detalle.fecha.strftime("%d/%m/%Y")  %>
                                   </td>
                              <%    end %>

                        <%    else %>

                                     <td class="small bordered_bottom bordered_right" >
                                    <%= detalle.fecha.strftime("%d/%m/%Y")  %>
                                   </td>

                              <%    end %>


                        <% end %>


                    <% else %>


                          <td  class="small bordered_bottom bordered_right">
                            <%= detalle.observacion  %>
                           </td>
  

              
                    <% end %>


                        

            
                <% end %>


                          <td class="small bordered_bottom bordered_right" >

                           <%= link_to "Editar " , edit_proyecto_exam_proyectoexam_detail_path(id: detalle.id, proyecto_minero_id: @proyecto_exam.proyecto_minero_id,employee_id: proyectoitem.employee_id ,proyecto_exam_id: detalle.proyecto_exam_id )  %>

                         </td>


        </tr>



      
    <% end %>


  
  </table>
</div>
   
   
  </tbody>

<br />


<div class="button">
  <%= link_to 'Exportar to PDF', "/proyecto_exams/pdf/#{@proyecto_exam.id}.pdf" %>  
  <%= link_to 'Exportar to PDF2', "/proyecto_exams/pdf2/#{@proyecto_exam.id}.pdf" %>  
  
  <%= link_to 'Exportar to XLS', "/proyecto_exams/xls/#{@proyecto_exam.id}.pdf" %>  

  <%= link_to 'Regresar ', proyecto_exams_path %>
</div>



<%= render 'layouts/autocomplete' %>




<script>

function  addItemToProyectoExam() {

 var x = document.getElementsByTagName("input");

  console.log("x: " + x);
  console.log("Number of inputs: " + x.length);



  var arrayOfInputNames = [];
  var campo_gln ;
  var campo_dif ;


      for (var i = 0; i < x.length; i++) {
      //for(key in x) {
        console.log("i: " + i);
        console.log("value: " + x[i].name);

        arrayOfInputNames.push(x[i].name );

      }

   var cadena = "" ;
   var diferencia = 0; 
   var item_line = "";
   var items = "";

  fLen = arrayOfInputNames.length;

    for (i = 0; i < fLen; i++) {

       cadena = arrayOfInputNames[i] ;


      if (cadena.substring(0,6) == "field_" ){

              campo_ent = cadena;
              
             // alert($("input[name="+campo_sal+"]").val());
              campo_ent_val = $("input[name="+campo_ent+"]").val();
                      
              item_line = campo_ent_val + "|BRK|";
          

              items = items  + item_line ;
      

            }

            
        else {
        
      }

      
    }



     var proyecto_minero_id  = <%= @proyecto_minero_id  %> ; 
     var proyecto_exam_id    = <%= @proyecto_exam_id %> ;
      var empleados_id  = $("#employee_id").val();
    
   
    $.get('/proyecto_exams/do_grabar/<%= @proyecto_exam_id %>/'+ empleados_id +"/" + proyecto_minero_id,  {
      items: items
    },
    function(data) {
      $("#list_items").html(data);
      documentReady();
    });


          hideRemote();
    
      alert("Documento grabado ");



    
   var cadena = "" ;
   var diferencia = 0; 
   var item_line = "";
   var items = "";

  fLen = arrayOfInputNames.length;

    for (i = 0; i < fLen; i++) {

       cadena = arrayOfInputNames[i] ;

       document.getElementById("employee_id").innerHTML = 64; 
                      

      if (cadena.substring(0,6) == "field_" ){

              campo_ent = cadena;
              
             // alert($("input[name="+campo_sal+"]").val());
              campo_ent_val = $("input[name="+campo_ent+"]");


               document.getElementById(campo_ent_val).innerHTML = "";
                      
               console.log(campo_ent_val);

      

            }

            
        else {
        
      }

      
    }


    

}







</script>