
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>


<p id="notice"><%= notice %></p>


<p>
  <strong>Proyecto minero exam:</strong>
  <%= @proyecto_exam.proyecto_minero.descrip %>
</p>




<div id='container' style='height:200px;width:1000px;overflow-x:scroll'>

<form method="get" action="/proyecto_exams" onsubmit="addItemToProyectoExam(); return false;">

<table class="ui right aligned table">
  <thead>
    
  </thead>

<tr>
  

     <th class="small bordered_bottom bordered_right">
     </th>

      <% for productItem in @pumps %>

        <% rating_id = productItem.proyectominero2.name  %>
       
        <th class="small bordered_bottom bordered_right">
          <%="#{rating_id}" %>
        </th>

        
    <% end %>
	</tr>
<tr>


     <th class="small bordered_bottom bordered_right">

     	EMPLEADO 
     </th>


      <% for productItem in @pumps %>

        <% rating2_id = productItem.proyectominero3.name  %>
        
        
        <th class="small bordered_bottom bordered_right">
          <%="#{rating2_id}" %>
        </th>

        
      <% end %>


  </tr>
     


<tbody>

    <tr>
      <td class="small bordered_bottom bordered_right">
         
    <%=  select_tag(:employee_id,options_from_collection_for_select(@employees,'id','full_name2') ,:style=> 'width: 230px' )  %>

      </td>

    <% for productItem in @pumps %>
        <% rating_id = "field_" + productItem.id.to_s %>

        <%if productItem.proyectominero3.formatofecha == "1"%>
	        <td class="small bordered_bottom bordered_right">

	         <%le_an_gln = "//" %>
	          <input type="date" name= "<%="#{rating_id}" %>" id= "<%= "#{rating_id}" %>" value="<%= le_an_gln %>" class="tf_shorty" />
	        </td>


        <% else %>

	        <%le_an_gln = "" %>
	        <td class="small bordered_bottom bordered_right">
	          <input type="text" name= "<%="#{rating_id}" %>" id= "<%= "#{rating_id}" %>" value="<%= le_an_gln %>  " class="tf_shorty"   />
	        </td>

        <% end %>

    <% end %>

   </tr>


  </tbody>
</table>

    <br />
   

     <%= submit_tag  "Agregar Datos " ,  class: "ui primary button"   %>


</form>
</div>

<div id='container' style='height:500px;width:1000px;overflow-x:scroll'>

<table class="ui right aligned table">


<tr>

     <th class="small bordered_bottom bordered_right">
     </th>

      <% for productItem in @pumps %>

        <% rating_id = productItem.proyectominero2.name  %>
       
        <th class="small bordered_bottom bordered_right">
          <%="#{rating_id}" %>
        </th>

        
    <% end %>
  </tr>
<tr>


     <th class="small bordered_bottom bordered_right">

      EMPLEADO 
     </th>


      <% for productItem in @pumps %>

        <% rating2_id = productItem.proyectominero3.name  %>
        
        
        <th class="small bordered_bottom bordered_right">
          <%="#{rating2_id}" %>
        </tH>

        
      <% end %>


  </tr>
     

<%= hr() %>


      <% for proyectoitem in @proyecto_examen_empleado %>
        
        <tr>
         <td  class="small bordered_bottom bordered_left", style="width: 230px" >

          <%= proyectoitem.employee.full_name2 %>

             <br></td>

              <% @detalle = proyectoitem.get_detalle(proyectoitem.employee_id, 
                                                    @proyecto_exam.proyecto_minero_id ) %>

                 <% for detalle in @detalle  %>


                     
                    <% if detalle.proyecto_minero_exam.proyectominero3.formatofecha == "1" %>

                         <% if detalle.fecha ==  nil %>

                           <td class="small bordered_bottom bordered_right" >
                              -
                           </td>

                         <% else %>
               
                           <td class="small bordered_bottom bordered_right" >
                            <%= detalle.fecha.strftime("%d/%m/%Y")  %>
                           </td>



                        <% end %>


                    <% else %>


                          <td  class="small bordered_bottom bordered_right">
                            <%= detalle.observacion  %>
                           </td>
  

              
                    <% end %>
                     
            
                <% end %>


                          <td class="small bordered_bottom bordered_right" >

                           <%= link_to "Editar " , edit_proyecto_exam_proyectoexam_detail_path(id: detalle.id,proyecto_exam_id: detalle.proyecto_exam_id)  %>

                         </td>


        </tr>



      
    <% end %>


  
  </table>
</div>
   
   
  </tbody>

<br />


<div class="button">
  <%= link_to 'Exportar to PDF', "/proyecto_exams/pdf/#{@proyecto_exam.id}.pdf" %>  
  <%= link_to 'Exportar to XLS', "/proyecto_exams/xls/#{@proyecto_exam.id}.pdf" %>  

  <%= link_to 'Regresar ', proyecto_exams_path %>
</div>



<%= render 'layouts/autocomplete' %>


<script>

function  addItemToProyectoExam() {

 var x = document.getElementsByTagName("input");

  console.log("x: " + x);
  console.log("Number of inputs: " + x.length);



  var arrayOfInputNames = [];
  var campo_gln ;
  var campo_dif ;


      for (var i = 0; i < x.length; i++) {
      //for(key in x) {
        console.log("i: " + i);
        console.log("value: " + x[i].name);

        arrayOfInputNames.push(x[i].name );

      }

   var cadena = "" ;
   var diferencia = 0; 
   var item_line = "";
   var items = "";

  fLen = arrayOfInputNames.length;

    for (i = 0; i < fLen; i++) {

       cadena = arrayOfInputNames[i] ;


      if (cadena.substring(0,6) == "field_" ){

              campo_ent = cadena;
              
             // alert($("input[name="+campo_sal+"]").val());
              campo_ent_val = $("input[name="+campo_ent+"]").val();
                      
              item_line = campo_ent_val + "|BRK|";
          

              items = items  + item_line ;
      

            }

            
        else {
        
      }

      
    }

     var proyecto_minero_id  = <%= @proyecto_minero_id  %> ; 
     var proyecto_exam_id    = <%= @proyecto_exam_id %> ;
      var empleados_id  = $("#employee_id").val();
    
   
    $.get('/proyecto_exams/do_grabar/<%= @proyecto_exam_id %>/'+ empleados_id +"/" + proyecto_minero_id,  {
      items: items
    },
    function(data) {
      $("#list_items").html(data);
      documentReady();
    });
}







</script>