<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @company.name, @company %> &raquo;
  <%= link_to "Solicitud de Transporte", "/companies/manifests/#{@company.id}" %> &raquo;
  <%= link_to @manifest.code, @manifest %>
</div>

<h1>
  <%= image_tag("invoice_48.png", :class => "vmiddle") %>
   Ingresar observaciones 
</h1>

<%= hr() %>

<h3>
  <%= link_to @manifest.code, @manifest %>
</h3>

<%= hr() %>

<form method="post" action="/manifests/do_cancelar/<%= @manifest.id %>">
  <strong>Motivo de cancelacion :</strong>
  <input type="text" name="motivo" value="Ingrese motivo de cancelacion servicio " onclick="$(this).select();" />
  <input type="submit" value="Grabar" class="bold" />
</form>

<%= hr() %>

<div class="button">

  <%= link_to 'Regresar', "/companies/manifests/#{@company.id}" %>
</div>