<%= simple_form_for(@tank) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :code %>
    <%= f.input :descrip %>
    <%= f.input :saldo_inicial %>
    <%= f.input :varilla %>
    <%= f.input :product_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
