<%= simple_form_for(@cotizacion) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">



     <div class="field">
      <%= f.label :tipocustomer_id , "Tipo de Reporte:  "%><br />
      <%= f.collection_select :tipocustomer_id, @tipocustomers, :id, :name, :prompt => true %>      
      
    </div>



     <div class="field">
      <%= f.label :fecha, "Fecha *", :class => "bold" %><br />
      <%= f.date_field :fecha %>
      </div>

     <div class="field">  
      <label for="ac_customer" class="bold"> CLIENTE  *</label><br />
      <%= f.collection_select :customer_id, @customers, :id, :name, :prompt => true %>
      
      <div class="small">
        Ingrese una termino de busqueda para encontrar un proveedor.
      </div>
    </div>

    <div class="field">
      <%= f.label :punto_id , "Lugar de Origen:  "%><br />
      <%= f.collection_select :punto_id, @puntos, :id, :name, :prompt => true %>      
      
    </div>

    <div class="field">
      <%= f.label :punto2_id , "Lugar de Destino:  "%><br />
      <%= f.collection_select :punto2_id, @puntos, :id, :name, :prompt => true %>      
      
    </div>

   <div class="field">
      <%= f.label :moneda_id ," Moneda: "%><br />
      <%= f.collection_select :moneda_id, @monedas, :id, :description, :prompt => true %>
      
    </div>


  <div class="field">
      <%= f.label :payment_id,"Forma de Pago " %><br />
     <%= f.collection_select :payment_id, @payments, :id, :descrip, :prompt => true %>
    </div>
  
  <div class="field">
    <%= f.label :valorseguro,"Seguro: " %><br />
    <%= f.number_field :valorseguro %>
  </div>


    <div class="field">  
    
        <%= f.label :especifica, "Especificaciones de la Carga ", :class => "bold" %><br />
        <%= f.text_field :especifica ,{:style => "width:500px"} %>

    </div>
    



    <table style="width:80%">
  <tr>
    <th>ITEM </th>
    <th>TIPO DE UNIDAD</th>
    <th>CONFIGURACION VEHICULAR </th>
    <th>CANTIDAD</th>
    <th>PRECIO UNIT.</th>
    <th>PRECIO TOTAL </th>

  </tr>
  <tr>
    <td> 01 </td>
   
  <td> <%= f.collection_select :tipo_unidad_id , @tipo_unidad , :id, :name, {:prompt => true } , 
   {:style => "width:150px"} %></td>

    <td> <%= f.collection_select :config_vehi_id, @config_vehi , :id, :name, {:prompt => true }  , 
   {:style => "width:150px"} %> </td>
    <td> <%= f.number_field :qty, class: :text_field, step: :any %></td>
    <td> <%= f.number_field :price, class: :text_field, step: :any %></td>
    <td>  <span id="ac_item_total">0.00</span></td>
  </tr>

<tr>
    <td> 02 </td>
    <td><%= f.collection_select :tipo_unidad2_id, @tipo_unidad, :id, :name, {:prompt => true }, 
   {:style => "width:150px"} %> </td>
    <td> <%= f.collection_select :config_vehi2_id, @config_vehi , :id, :name, {:prompt => true }, 
   {:style => "width:150px"}  %></td>
    <td> <%= f.number_field :qty2, class: :text_field, step: :any %></td>
    <td><%=   f.number_field :price2, class: :text_field, step: :any %></td>
    <td>  <span id="ac_item_total2">0.00</span> </td>

  </tr>
  <tr>
    <td> 03 </td>
    <td><%= f.collection_select :tipo_unidad3_id, @tipo_unidad, :id, :name,{:prompt => true } , 
   {:style => "width:150px"} %>  </td>
    <td> <%= f.collection_select :config_vehi3_id, @config_vehi , :id, :name, {:prompt => true } , 
   {:style => "width:150px"} %> </td>
    <td> <%= f.number_field :qty3, class: :text_field, step: :any %></td>
    <td><%=   f.number_field :price3, class: :text_field, step: :any %></td>
    <td>  <span id="ac_item_total3">0.00</span></td>

  </tr>

<tr>
    <td> </td>
    <td>  </td>
    <td>  </td>
    <td> </td>
    <td> VALOR TOTAL DEL SERVICIO </td>
    <td>  <span id="valor_total">0.00</span></td>

  </tr>
  

 <table style="width:30%" align="center">



  <tr>
  
    <th>TIPO DE UNIDAD</th>
    <th>STAND BY  POR DIA </th>
    

  </tr>

  <tr>

  <td>CAMIONETA</td>

   <td><%= f.text_field :tipounidad1 ,{:style => "width:70px"} %></td>


  </tr>



  <tr>

  <td>CAMION</td>

   <td><%= f.text_field :tipounidad2 ,{:style => "width:70px"} %></td>


  </tr>

  <tr>

  <td> PLATAFORMA </p></td>

   <td><%= f.text_field :tipounidad3 ,{:style => "width:70px"} %></td>


  </tr>

  <tr>

  <td>CAMABAJA</td>

   <td><%= f.text_field :tipounidad4 ,{:style => "width:70px"} %></td>


  </tr>



  <tr>

  <td>MODULAR </td>

   <td><%= f.text_field :tipounidad5 ,{:style => "width:70px"} %></td>


  </tr>


</table>

    

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>


<script type="text/javascript">

  $(document).ready(function() {

    
    $("#cotizacion_qty").bind("keyup", function() {
      updateItemTotalCot();
    });
    
    
    $("#cotizacion_price").bind("keyup", function() {
      updateItemTotalCot();
    });
    


    $("#cotizacion_qty2").bind("keyup", function() {
      updateItemTotalCot();
    });
    
    
    $("#cotizacion_price2").bind("keyup", function() {
      updateItemTotalCot();
    });

    $("#cotizacion_qty3").bind("keyup", function() {
      updateItemTotalCot();
    });
    
    
    $("#cotizacion_price3").bind("keyup", function() {
      updateItemTotalCot();
    });

    });


   // Update price total for invoice
  function updateItemTotalCot() {

    var quantity = $("#cotizacion_qty").val();
    var price = $("#cotizacion_price").val();


    var quantity2 = $("#cotizacion_qty2").val();
    var price2 = $("#cotizacion_price2").val();

    var quantity3 = $("#cotizacion_qty3").val();
    var price3  = $("#cotizacion_price3").val();


  

    if(isNumeric(quantity) && isNumeric(price)) {
      
      var total = quantity * price ;
  
    
      $("#ac_item_total").html(total.toFixed(2));
    } else {
      $("#ac_item_total").html("0.00");
       var total = 0;
    }


    if(isNumeric(quantity2) && isNumeric(price2)) {
      
      var total2 = quantity2 * price2 ;
      
    

      $("#ac_item_total2").html(total2.toFixed(2));
    } else {
      $("#ac_item_total2").html("0.00");
       var total2 = 0;
    }
    

    if(isNumeric(quantity3) && isNumeric(price3)) {
      
      var total3 = quantity3 * price3 ;
      
      $("#ac_item_total3").html(total3.toFixed(2));
    } else {
      $("#ac_item_total3").html("0.00");

      var total3 = 0;
    }
    

    var valor_total = total + total2 + total3

    $("#valor_total").html(valor_total.toFixed(2));




  }


  </script>


