<%= simple_form_for(@conductor) do |f| %>
  <%= f.error_notification %>

<div class="ui form">

 <table style="width:100%">
 
  <tr >
  <div class="field">

    <td>Nombre:</td>
    <td colspan="3">  <%= f.collection_select :employee_id, @empleados, :id, :full_name, :prompt => true, class: "ui selection dropdown" %></td>
    <td></td>
    <td></td>

   </div>  



   <tr>   
      <div class="field">

    <td><%= f.label :lugar , "LUGAR DE RESIDENCIA:"%><br /></td>

    <td><%= f.text_field :lugar ,:size=> "120" %></td>
    
     </div>

  
      <div class="field">

    <td><%= f.label :anio,"AÑOS DE EXPERIENCIA LABORAL CERTIFICADOS" %><br /></td>

    <td><%= f.text_field :anio ,:size=> "120" %></td>
    
     </div>

   </tr>



<tr>   
      <div class="field">

    <td><%= f.label :licencia, "LICENCIA:" %><br /></td>

    <td  colspan="3"><%= f.text_field :licencia ,:size=> "120" %></td>
    <td></td>
    <td></td>
     </div>

   </tr>

   <tr>   
      <div class="field">

    <td><%= f.label :categoria, "CATEGORIA:"%><br /></td>

    <td  colspan="3"><%= f.text_field :categoria ,:size=> "120" %></td>
    <td></td>
    <td></td>
     </div>

   </tr>

   

   <tr>   
      <div class="field">

    <td><%= f.label :expedicion_licencia,"EXPEDICION LICENCIA:" %><br /></td>

    <td><%= f.date_field :expedicion_licencia  %></td>
     </div>

   
      <div class="field">

    <td><%= f.label :revalidacion_licencia ,"REVALIDACION LICENCIA:"%><br /></td>

    <td><%= f.date_field :revalidacion_licencia  %></td>
     </div>

   </tr>


<tr>   
      <div class="field">

    <td><%= f.label :categoria_especial,"CATEGORIA ESPECIAL:"%><br /></td>

    <td><%= f.text_field :categoria_especial ,:size=> "120" %></td>
     </div>

   </tr>

   

   <tr>   
      <div class="field">

    <td><%= f.label :expedicion_licencia_especial ,"EXPEDICION LICENCIA  ESPECIAL "%><br /></td>

    <td><%= f.date_field :expedicion_licencia_especial, size: "10"   %></td>
     </div>

      <div class="field">

    <td><%= f.label :revalidacion_licencia_especial,"REVALIDACION LICENCIA ESPECIAL " %><br /></td>

    <td><%= f.date_field :revalidacion_licencia_especial ,size:"10" %></td>
     </div>

   </tr>

   

<tr>   
      <div class="field">

    <td><%= f.label :iqbf,"IQBF" %><br /></td>

    <td colspan="3"><%= f.text_field :iqbf  ,:size=> "120" %></td>
    <td></td>
    <td></td>
     </div>

   </tr>




  <tr>   
      <div class="field">

    <td><%= f.label :dni_emision,"DNI EMISION " %><br /></td>

    <td><%= f.date_field :dni_emision  %></td>

     </div>

   
      <div class="field">

    <td><%= f.label :dni_caducidad ,"DNI CADUCIDAD "%><br /></td>

    <td><%= f.date_field :dni_caducidad %></td>
     </div>

   </tr>
   
  <tr>   
      <div class="field">

    <td><%= f.label :ap_emision,"ANTECEDENTES POLICIAL EMISION:" %><br /></td>

    <td><%= f.date_field :ap_emision  %></td>
     </div>

      <div class="field">

    <td><%= f.label :ap_caducidad ,"ANTECEDENTES POLICIAL CADUCIDAD"%><br /></td>

    <td><%= f.date_field :ap_caducidad %></td>
     </div>

   </tr>
   

    
  <tr>   
      <div class="field">

    <td><%= f.label :ape_emision ,"ANTECEDENTES PENAL EMISION:"%><br /></td>

    <td><%= f.date_field :ape_emision  %></td>
     </div>

  
      <div class="field">

    <td><%= f.label :ape_caducidad,"ANTECEDENTES PENAL CADUCIDAD:" %><br /></td>

    <td><%= f.date_field :ape_caducidad %></td>
     </div>

   </tr>
   


  <tr>
    <td>
     <div class="field">
      <%= f.check_box :active%>
      <%= f.label :active ,"Activo?", :class => "bold" %>


      <div class="small">
        Es un conductor vigente  ?
      </div>


    </div>
</td>

<td></td>
<td></td>
<td></td>

    </tr>

  
</table> 
    
 <div class="ui button" tabindex="0">
    <%= f.button :submit %>
  </div>
<% end %>


<style>
select
{
width:80px;
    }
</style>

<script>

$('select.dropdown')
  .dropdown()
;

</script>
