<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
 
 <Styles>

    <Style ss:ID="s62">
  
       <Interior ss:Color="#FF0800" ss:Pattern="Solid"/>
      
    </Style>
   </Styles>
   

 

  <Worksheet ss:Name="Sheet1">
 
    <Table>

          <Row>



  <Cell><Data ss:Type="String">Nro</Data></Cell>
  <Cell><Data ss:Type="String">APELLIDOS Y NOMBRES</Data></Cell>

  <Cell><Data ss:Type="String">N° DNI</Data></Cell>
  <Cell><Data ss:Type="String">N° CELULAR</Data></Cell>
   <Cell><Data ss:Type="String">CORREO ELECTRÓNICO</Data></Cell>
    <Cell><Data ss:Type="String">FEC.NACIMIENTO</Data></Cell>
     <Cell><Data ss:Type="String">LUGAR NACIMIENTO</Data></Cell>
  <Cell><Data ss:Type="String">DOMICILIO</Data></Cell>

  <Cell><Data ss:Type="String">FEC.ING.</Data></Cell>

   <Cell><Data ss:Type="String">AÑOS EXP.LABORAL CERTIFICADOS</Data></Cell>
   <Cell><Data ss:Type="String">AÑOS DE EXPERIENCIA CERTIFICADOS CON CAMIONETA</Data></Cell>
   <Cell><Data ss:Type="String">AÑOS DE EXPERIENCIA CERTIFICADOS CON CAMION.</Data></Cell>
   <Cell><Data ss:Type="String">AÑOS DE EXPERIENCIA CERTIFICADOS CON PLATAFORMA:</Data></Cell>
   <Cell><Data ss:Type="String">AÑOS DE EXPERIENCIA CERTIFICADOS CON CAMABAJA</Data></Cell>

  <Cell><Data ss:Type="String">DNI.EMISION</Data></Cell>
  <Cell><Data ss:Type="String">DNI.CADUCIDAD</Data></Cell>


  <Cell><Data ss:Type="String">ANT.POL.EMISION</Data></Cell>
  <Cell><Data ss:Type="String">ANT.POL.VMTO</Data></Cell>


 <Cell><Data ss:Type="String">ANT.PEN.EMISION</Data></Cell>


 <Cell><Data ss:Type="String">ANT.PEN.VMTO</Data></Cell>



 <Cell><Data ss:Type="String">Nro.LICENCIA</Data></Cell>
 <Cell><Data ss:Type="String">CATEGORIA</Data></Cell>
 <Cell><Data ss:Type="String">EXP.LICENCIA</Data></Cell>


 <Cell><Data ss:Type="String">REVAL.LICENCIA</Data></Cell>
 <Cell><Data ss:Type="String">Nro.LICENCIA.</Data></Cell>
 <Cell><Data ss:Type="String">EXP.LIC.ESPECIAL</Data></Cell>
  <Cell><Data ss:Type="String">REVAL.LIC.ESPECIAL"</Data></Cell>
 <Cell><Data ss:Type="String">IQBF SUNAT </Data></Cell>
 
<Cell><Data ss:Type="String">NIVEL EDUCATIVO </Data></Cell>



      </Row>

     <% previous_day = Date.today  %>

      <% nroitem = 1 %>
    <% @facturas_rpt.each do |product| %>
      <Row>
        <Cell><Data ss:Type="String"><%= nroitem.to_s %></Data></Cell>
        <Cell><Data ss:Type="String"><%= product.employee.full_name2 %></Data></Cell>


        <Cell><Data ss:Type="String"><%=product.employee.idnumber  %></Data></Cell>

         <Cell><Data ss:Type="String"><%= product.employee.phone1 + " " + product.employee.phone2 %></Data></Cell>

         <Cell><Data ss:Type="String"><%= product.employee.email1 + " "  + product.employee.email2 %></Data></Cell>

         <Cell><Data ss:Type="String"><%=product.employee.fecha_nacimiento.strftime("%d/%m/%Y")
 %></Data></Cell>
            <% if !product.employee.distrito_id.nil? %>

                 <%  d_id = product.employee.distrito_id  %>
                  
                  row <<  product.employee.get_distrito(d_id)  
                  
                  <Cell><Data ss:Type="String"><%= product.employee.get_distrito(d_id)   %></Data></Cell>
                
              <%  else %>
                 <Cell><Data ss:Type="String">   </Data></Cell>
           
                   
              <%  end  %>
 
         <Cell><Data ss:Type="String"><%= product.lugar  %></Data></Cell>
         <Cell><Data ss:Type="String"><%= product.employee.fecha_ingreso.strftime("%d/%m/%Y") %></Data></Cell>
        <Cell><Data ss:Type="String"><%= product.anio   %></Data></Cell>
        <Cell><Data ss:Type="String"><%= product.anio1  %></Data></Cell>
        <Cell><Data ss:Type="String"><%= product.anio2  %></Data></Cell>
        <Cell><Data ss:Type="String"><%= product.anio3  %></Data></Cell>
        <Cell><Data ss:Type="String"><%= product.anio4  %></Data></Cell>


          <%  if product.dni_emision != nil  %>
                  <Cell><Data ss:Type="String"><%= product.dni_emision.strftime("%d/%m/%Y") %></Data></Cell>
             <% else %>
               <Cell><Data ss:Type="String">  </Data></Cell>

             <% end  %>

      

        <% if product.activedni == "1"%>

        <Cell><Data ss:Type="String"> SIN CADUCIDAD </Data></Cell>

        <% else %>

           <% if product.dni_caducidad <=  previous_day    %>
            <Cell ss:StyleID="s62" > <Data ss:Type="String"> <%= product.dni_caducidad.strftime("%d/%m/%Y") %> </Data></Cell>
            
           <% else%> 
            <Cell > <Data ss:Type="String"> <%= product.dni_caducidad.strftime("%d/%m/%Y") %>  </Data></Cell>
            
           <% end %>
        <% end %>

          <%  if  product.ap_emision != nil %>

             <Cell > <Data ss:Type="String"><%= product.ap_emision.strftime("%d/%m/%Y") %></Data></Cell>

          <% else  %>

             <Cell><Data ss:Type="String"> </Data></Cell>
          <% end %>





        <%  if  product.ap_caducidad != nil %>


       
         <% if product.ap_caducidad <=  previous_day    %>
            <Cell ss:StyleID="s62" > <Data ss:Type="String"> <%= product.ap_caducidad.strftime("%d/%m/%Y") %> </Data></Cell>
            
           <% else%> 
            <Cell > <Data ss:Type="String"> <%= product.ap_caducidad.strftime("%d/%m/%Y") %>  </Data></Cell>
            
           <% end %>

          <% else  %>

          <Cell><Data ss:Type="String"> </Data></Cell>
          <% end %>

        <%  if  product.ape_emision != nil %>


        <Cell><Data ss:Type="String"><%= product.ape_emision.strftime("%d/%m/%Y") %></Data></Cell>

          <% else  %>

          <Cell><Data ss:Type="String"> </Data></Cell>
          <% end %>


        <%  if  product.ape_caducidad != nil %>


             <% if product.ape_caducidad <=  previous_day    %>
            <Cell ss:StyleID="s62" > <Data ss:Type="String"> <%= product.ape_caducidad.strftime("%d/%m/%Y") %> </Data></Cell>
            
           <% else%> 
            <Cell > <Data ss:Type="String"> <%= product.ape_caducidad.strftime("%d/%m/%Y") %>  </Data></Cell>
            
           <% end %>
        
          <% else  %>

          <Cell><Data ss:Type="String"> </Data></Cell>
          <% end %>

        <Cell><Data ss:Type="String"><%=  product.licencia  %></Data></Cell>

        <Cell><Data ss:Type="String"><%= product.categoria %></Data></Cell>

        <Cell><Data ss:Type="String"><%= product.expedicion_licencia.strftime("%d/%m/%Y") %></Data></Cell>


         <% if product.revalidacion_licencia <=  previous_day    %>
            <Cell ss:StyleID="s62" > <Data ss:Type="String"> <%= product.revalidacion_licencia.strftime("%d/%m/%Y") %> </Data></Cell>
            
           <% else%> 
            <Cell > <Data ss:Type="String"> <%= product.revalidacion_licencia.strftime("%d/%m/%Y") %>  </Data></Cell>
            
           <% end %>


        <Cell><Data ss:Type="String"><%= product.categoria_especial %></Data></Cell>


          <%  if  product.expedicion_licencia_especial != nil %>


          <Cell><Data ss:Type="String"><%= product.expedicion_licencia.strftime("%d/%m/%Y") %></Data></Cell>

          <% else  %>

          <Cell><Data ss:Type="String"> </Data></Cell>
          <% end %>
          <%  if  product.revalidacion_licencia_especial != nil %>


           <% if product.revalidacion_licencia_especial <=  previous_day    %>
            <Cell ss:StyleID="s62" > <Data ss:Type="String"> <%= product.revalidacion_licencia_especial.strftime("%d/%m/%Y") %> </Data></Cell>
            
           <% else%> 
            <Cell > <Data ss:Type="String"> <%= product.revalidacion_licencia_especial.strftime("%d/%m/%Y") %>  </Data></Cell>
            
           <% end %>
          <% else  %>

          <Cell><Data ss:Type="String"> </Data></Cell>

          <% end %>



        <Cell><Data ss:Type="String"><%=product.iqbf  %></Data></Cell>

        <Cell><Data ss:Type="String"><%=  product.nivel_educativo  %></Data></Cell>

          <% nroitem += 1 %>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>

