<p id="notice"><%= notice %></p>

<p>
  <strong>Lugar:</strong>
  <%= @conductor.lugar %>
</p>

<p>
  <strong>Anio:</strong>
  <%= @conductor.anio %>
</p>

<p>
  <strong>Licencia:</strong>
  <%= @conductor.licencia %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @conductor.categoria %>
</p>

<p>
  <strong>Expedicion licencia:</strong>
  <%= @conductor.expedicion_licencia %>
</p>

<p>
  <strong>Revalidacion licencia:</strong>
  <%= @conductor.revalidacion_licencia %>
</p>

<p>
  <strong>Categoria especial:</strong>
  <%= @conductor.categoria_especial %>
</p>

<p>
  <strong>Expedicion licencia especial:</strong>
  <%= @conductor.expedicion_licencia_especial %>
</p>

<p>
  <strong>Iqbf:</strong>
  <%= @conductor.iqbf %>
</p>

<p>
  <strong>Fecha emision:</strong>
  <%= @conductor.fecha_emision %>
</p>

<p>
  <strong>Dni emision:</strong>
  <%= @conductor.dni_emision %>
</p>

<p>
  <strong>Dni caducidad:</strong>
  <%= @conductor.dni_caducidad %>
</p>

<p>
  <strong>Ap emision:</strong>
  <%= @conductor.ap_emision %>
</p>

<p>
  <strong>Ap caducidad:</strong>
  <%= @conductor.ap_caducidad %>
</p>

<p>
  <strong>Ape emision:</strong>
  <%= @conductor.ape_emision %>
</p>

<p>
  <strong>Ape caducidad:</strong>
  <%= @conductor.ape_caducidad %>
</p>

<p>
  <strong>User:</strong>
  <%= @conductor.user_id %>
</p>

<p>
  <strong>Company:</strong>
  <%= @conductor.company_id %>
</p>

<p>
  <strong>Active:</strong>
  <%= @conductor.active %>
</p>



<%= link_to 'Edit', edit_conductor_path(@conductor) %> |
<%= link_to 'Back', conductors_path %>
