<p id="notice"><%= notice %></p>

<h1>Listing Assistances</h1>

<table>
  <thead>
    <tr>
      <th>Departamento</th>
      <th>Nombre</th>
      <th>Nro</th>
      <th>Fecha</th>
      <th>Equipo</th>
      <th>Cod verificacion</th>
      <th>Num tarjeta</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assistances.each do |assistance| %>
      <tr>
        <td><%= assistance.departamento %></td>
        <td><%= assistance.nombre %></td>
        <td><%= assistance.nro %></td>
        <td><%= Time.strptime(assistance.fecha.to_s,"%Y-%m-%d %H:%M:%S").in_time_zone('Lima') %></td>
        <td><%= assistance.equipo %></td>
        <td><%= assistance.cod_verificacion %></td>
        <td><%= assistance.num_tarjeta %></td>
        <td><%= link_to 'Show', assistance %></td>
        <td><%= link_to 'Edit', edit_assistance_path(assistance) %></td>
        <td><%= link_to 'Destroy', assistance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva asistencia', new_assistance_path %>



<h2>Importar Archivo asistencia "*.csv"</h2>

<%= form_tag import_assistances_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Importar " %>
<% end %>