<%= simple_form_for(@lgc) do |f| %>
  <%= f.error_notification %>


  <div class="form-inputs">
    
    <%= f.input :employee_id %>

    <%= f.input :placa_id %>
    <%= f.input :placa_id2 %>
    <%= f.input :peso_ida %>
    <%= f.input :peso_ret %>
    <%= f.input :tipo_carga_id %>
    <%= f.input :ruta %>
    <%= f.input :viaje_salida_fecha %>
    <%= f.input :viaje_retorno_fecha %>
    <%= f.input :recorrido %>
    <%= f.input :float %>
    <%= f.input :salida_km %>
    <%= f.input :retorno_km %>
    <%= f.input :km_real %>
    <%= f.input :total_gal %>
    <%= f.input :ratio_fisico %>
    <%= f.input :ratio_teorico %>
    <%= f.input :idle_fuel %>
    <%= f.input :idletime %>
    <%= f.input :time_1 %>
    <%= f.input :margen %>
    <%= f.input :dscto_gln %>
    <%= f.input :monto %>
    <%= f.input :rpm %>
    <%= f.input :km %>
    <%= f.input :abas_total %>
    <%= f.input :monto_total %>
    <%= f.input :obser %>
    <%= f.input :user_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
