<p id="notice"><%= notice %></p>

<p>
  <strong>Employee:</strong>
  <%= @lgc.employee_id %>
</p>

<p>
  <strong>Placa:</strong>
  <%= @lgc.placa_id %>
</p>

<p>
  <strong>Placa id2:</strong>
  <%= @lgc.placa_id2 %>
</p>

<p>
  <strong>Peso ida:</strong>
  <%= @lgc.peso_ida %>
</p>

<p>
  <strong>Peso ret:</strong>
  <%= @lgc.peso_ret %>
</p>

<p>
  <strong>Tipo carga:</strong>
  <%= @lgc.tipo_carga_id %>
</p>

<p>
  <strong>Ruta:</strong>
  <%= @lgc.ruta %>
</p>

<p>
  <strong>Viaje salida fecha:</strong>
  <%= @lgc.viaje_salida_fecha %>
</p>

<p>
  <strong>Viaje retorno fecha:</strong>
  <%= @lgc.viaje_retorno_fecha %>
</p>

<p>
  <strong>Recorrido:</strong>
  <%= @lgc.recorrido %>
</p>

<p>
  <strong>Float:</strong>
  <%= @lgc.float %>
</p>

<p>
  <strong>Salida km:</strong>
  <%= @lgc.salida_km %>
</p>

<p>
  <strong>Retorno km:</strong>
  <%= @lgc.retorno_km %>
</p>

<p>
  <strong>Km real:</strong>
  <%= @lgc.km_real %>
</p>

<p>
  <strong>Total gal:</strong>
  <%= @lgc.total_gal %>
</p>

<p>
  <strong>Ratio fisico:</strong>
  <%= @lgc.ratio_fisico %>
</p>

<p>
  <strong>Ratio teorico:</strong>
  <%= @lgc.ratio_teorico %>
</p>

<p>
  <strong>Idle fuel:</strong>
  <%= @lgc.idle_fuel %>
</p>

<p>
  <strong>Idletime:</strong>
  <%= @lgc.idletime %>
</p>

<p>
  <strong>Time 1:</strong>
  <%= @lgc.time_1 %>
</p>

<p>
  <strong>Margen:</strong>
  <%= @lgc.margen %>
</p>

<p>
  <strong>Dscto gln:</strong>
  <%= @lgc.dscto_gln %>
</p>

<p>
  <strong>Monto:</strong>
  <%= @lgc.monto %>
</p>

<p>
  <strong>Rpm:</strong>
  <%= @lgc.rpm %>
</p>

<p>
  <strong>Km:</strong>
  <%= @lgc.km %>
</p>

<p>
  <strong>Abas total:</strong>
  <%= @lgc.abas_total %>
</p>

<p>
  <strong>Monto total:</strong>
  <%= @lgc.monto_total %>
</p>

<p>
  <strong>Obser:</strong>
  <%= @lgc.obser %>
</p>

<p>
  <strong>User:</strong>
  <%= @lgc.user_id %>
</p>

<%= link_to 'Edit', edit_lgc_path(@lgc) %> |
<%= link_to 'Back', lgcs_path %>
