<div class="mid_box bordered_right">

  <%= form_for(@purchase) do |f| %>
    <h3>
       Informacion Factura 
    </h3>

    <div class="field">
    
      <label for="ac_supplier" class="bold">Proveedor*</label><br />
      <input type="text" name="ac_supplier" id="ac_supplier" value="<% if @ac_supplier %><%= @ac_supplier %><% end %>" />
      
    

      <div class="small">
        Ingrese una termino de busqueda para encontrar un proveedor
      </div>

      <br />

      <div class="small">
        <strong>Seleccionar proveedor:</strong>

        <span id="selected supplier"><% if @ac_supplier %><%= @ac_supplier %><% else %><!-- i --><% end %></span>

      </div>
    </div>
    <div class="field">
      <%= f.label :document_id,"Documento:" %><br />
      <%= f.collection_select  :document_id, Document.all , :id, :description,{:selected => Document.first }%>

    

    </div>
      
    <div class="field ">
      <%= f.label :documento, "Nro Documento *", :class => "bold" %><br />
      <%= f.text_field :documento %>

    </div>

    <div class="field">
      <%= f.label :date2, "Fecha Registro*", :class => "bold" %><br />
      <%= f.date_field :date2  %>
    </div>
    <div class="field">
      <%= f.label :date1, "Fecha Emision*", :class => "bold" %><br />
      <%= f.date_field :date1  %>
    </div>

    


    <div class="field">
      <%= f.label :payment_id,"Forma de Pago " %><br />
      <%= f.select :payment_id, options_from_collection_for_select(@payments,'id','descrip')%>
    </div>
  


    <div class="field">
      <%= f.label :moneda_id ,"  "%><br />
      <%= f.select :moneda_id, options_from_collection_for_select(@monedas,'id','description') %>


    </div>
    
      
    <%= hr() %>
    
    <div class="field" id="list_items">
      <p class="bold big">Productos:</p>
    </div>
    

    <br />
     <div class="field">
    <strong>Op.Inafecta :</strong><br />
    <%= f.number_field :inafecto, :value => (number_with_precision(f.object.inafecto, :precision => 2) || 0)  ,:step => 0.01 %>
  </div>

    <div class="small">
      Importe Op.Inafecta  para agregar una factura.
    </div>
    <br />
    
    <strong>Op.Afecta :</strong><br />
 <div class="field">
    <%= f.number_field :payable_amount, :value => (number_with_precision(f.object.payable_amount, :precision => 2) || 0) ,:step => 0.01  %>
</div>

    <div class="small">
      Importe Op.Afecta  para agregar una factura.
    </div>
    <br />

    <br />
    <div>
      <strong>Total Op. Gravadas:</strong><br />
      <span id="ac_item_subtotal">0.00</span>
    </div>
    
    
    <br />
    <div>
      <strong>Total Op.No  Gravadas:</strong><br />
      <span id="ac_item_subtotal2">0.00</span>
    </div>
    
    
    
    <br />
    <div>
      <strong>Impuesto (%):</strong><br />
      <span id="ac_item_tax">0.00</span>
    </div>
    

    <div>
      <strong>Importe Total:</strong><br />
      <span id="ac_item_total">0.00</span>
    </div>

    
    <br />

    <%= hr() %>
  
    <div class="field">
      <%= f.check_box :processed %>
      <%= f.label :processed, "Procesar Factura", :class => "bold" %>
      <div class="small">
        Marcas de tiempo o no esta factura se ha pagado y que pueden deducir las cantidades de productos y contar hacia el total del mes.
      </div>
    </div>
  
    <div class="field">
      <%= f.check_box :return %>
      <%= f.label :return, :class => "bold" %>
      <div class="small">
        Es una orden de devolución?
      </div>
    </div>
    
    <%= hr() %>
    
    <div class="field">
      <label for="ac_user" class="bold">Vendedor*</label><br />
      <input type="text" name="ac_user" id="ac_user" value="<% if @ac_user %><%= @ac_user %><% end %>" />

      <div class="small">
        Introduzca un término de búsqueda para encontrar a un usuario .
      </div>
      <br />

      <div class="small">
        <strong>Seleccionar vendedor:</strong>
        <span id="selected_seller"><% if @ac_user %><%= @ac_user %><% else %><!-- i --><% end %></span>
      </div>
    </div>
  
    <%= hr() %>
  

    <div class="actions">
      <input type="hidden" name="items" id="items" value="<% if @products_lines %><%= @products_lines %><% end %>" />
      <%= f.hidden_field :user_id, :id => "ac_user_id" %>
      <%= f.hidden_field :supplier_id, :id => "ac_supplier_id" %>
      <%= f.hidden_field :status, value: "1" %>
      
      <%= f.hidden_field :company_id %>
      <%= f.submit %>
    </div>

    
    <div class="small">
      Una vez que haya terminado la adición de productos , no olvide <strong><%= @action_txt %></strong> tu factura.
    </div>

  <% end %>
</div>


  </form>
  
  <%= hr() %>
  

<%= br() %>
<br />

<%= render 'layouts/autocomplete' %>

<script type="text/javascript">

  $(document).ready(function() {
    $("#ac_supplier").autocomplete("/purchases/ac_suppliers/<%= @company.id %>", {
      matchSubset: 1,
      matchContains: 1,
      selectFirst: false
    });
    
    $("#ac_supplier").result(function(event, data, formatted) {
      $("#ac_supplier_id").val(data[2]);
      $("#selected_supplier").html(data[0]);
    });
    
    $("#ac_user").autocomplete("/purchases/ac_user/<%= @company.id %>", {
      matchSubset: 1,
      matchContains: 1,
      selectFirst: false
    });
    
    $("#ac_user").result(function(event, data, formatted) {
      $("#ac_user_id").val(data[2]);
      $("#selected_seller").html(data[0]);
    });
    
    $("#ac_item").autocomplete("/purchases/ac_products/<%= @company.id %>", {
      matchSubset: 1,
      matchContains: 1,
      selectFirst: false
    });
    
    
    $("#purchase_inafecto").bind("keyup", function() {
      calculoTotal();
    });
    $("#purchase_payable_amount").bind("keyup", function() {
      calculoTotal();


    });


    

    
      function calculoTotal()
    {
      var quantity = 1 ;
      var price     = $("#purchase_payable_amount").val();
      var inafecto  = $("#purchase_inafecto").val();
      
      
      var vventa = round( price ,2);
      var total = round(vventa  * 1.18,2 );
      var igv = round(total - vventa ,2);
      total += round(inafecto,2) ; 
      
      $("#ac_item_subtotal").html(price);
      $("#ac_item_subtotal2").html(inafecto);
      $("#ac_item_tax").html(igv);
      $("#ac_item_total").html(total);

      
     
    }
    
    function round(value, decimals) {
      return Number(Math.round(value+'e'+decimals)+'e-'+decimals);
  
    }

  });
</script>