<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @company.name, @company %>
</div>


<div class="small">
  <form method="get" action="/companies/purchases/<%= @company.id %>">
    <strong>Buscar :</strong>
    <input type="text" name="search" value="<% if @q_org %><%= @q_org %><% end %>" class="small" style="width: 250px;" onclick="$(this).select();" />
    <input type="submit" value="Find" class="bold small_btn" />
    <a href="/companies/purchases/<%= @company.id %>" > Limpiar</a>
  </form>
</div>



<br />

<div class="button">
  <% if @status == "1" %>
  <%= link_to 'Nueva Factura/Nota', "/purchases/new2/#{@company.id}" %>
  
  <% else %>
  <%= link_to 'Nueva Factura/Nota', "/purchases/new/#{@company.id}" %>
  <%= link_to "Cargar Orden de servicio","/purchases/cargar2/#{@company.id}" %>
  <%= link_to 'Cargar Orden de compra', "/purchases/cargar/#{@company.id}" %>
  <% end%>
  
</div>

<%= render "purchases/list" %>

<br />


<%= will_paginate @invoices %>



<h2>Importar Archivo purchass "*.csv"</h2>

<%= form_tag import_purchases_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Importar " %>
<% end %>





<%= render 'layouts/autocomplete' %>

<script type="text/javascript">
  $(document).ready(function() {
    $("#ac_suppliers").autocomplete("/purchases/ac_suppliers/<%= @company.id %>", {
      matchSubset: 1,
      matchContains: 1,
      selectFirst: false
    });
  });
</script>