<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @tipocargue.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @tipocargue.name %>
</p>

<%= link_to 'Edit', edit_tipocargue_path(@tipocargue) %> |
<%= link_to 'Back', tipocargues_path %>
