<% if @lvt.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@lvt.errors.count, "error") %> prohibited this lvt from being saved:</h2>
    <ul>
    <% @lvt.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= hr() %>

<div class="mid_box bordered_right">

  <%= form_for(@lvt) do |f| %>
    <h4>
       Informacion Liquidacion de comprobantes
       
    </h4>
    
  <div>
        <td>
        
        </td>
          
        </div>
        
        </td>      
         <td>
        <div class="field">
          <%= f.label :fecha, "Fecha*", :class => "bold" %><br />
          <%= f.date_field :fecha ,:class => "input.tf_short" %>
        </div>

        </td>
        
         <td>
       

        </td>
       
       
  
        <%= hr() %>
      <div class="field" id="list_items2">
        <p class="bold big">Comprobante Egresos :</p>
      </div>
           
 <div class="field">
          <%= f.label :peaje, "Peaje*", :class => "bold" %><br />
          <%= f.number_field :peaje, :class => "input.tf_short" ,:value => "0.00" %>
        </div>      
      <div class="field" id="list_items">
        <p class="bold big">Detalle gastos :</p>
      </div>
 
    <%= hr() %>
    
        <table>
          
          <tr>
            <td>
              <div class="field">
                <%= f.label  :cdevuelto,"Comp.Devuelto " , :class => "bold"%><br />
                <%= f.text_field :cdevuelto, :class => "input.tf_short" ,:value => "" %>
              </div>
            </td>
            
            <td>
              <div class="field">
                <%= f.label  :devuelto,"Devuelto  " , :class => "bold"%><br />
                <%= f.number_field :devuelto, :class => "input.tf_short" ,:value => "0.00" %>
              </div>
            </td>
        
        </tr>
        
          <tr>
            
            <td>
              <div class="field">
                <%= f.label  :cdescuento,"Comp.Descuento " , :class => "bold"%><br />
                <%= f.text_field :cdescuento, :class => "input.tf_short" ,:value => "" %>
              </div>
            </td>
            <td>
             <div class="field">
              <%= f.label  :descuento,"Descuento  " , :class => "bold"%><br />
              <%= f.number_field :descuento, :class => "input.tf_short" ,:value => "0.00" %>
              </div>
            </td>  
          </td>
          
          <tr>
            <td>
              <div class="field">
                <%= f.label  :creembolso,"Comp.Reembolso" , :class => "bold"%><br />
                <%= f.text_field :creembolso, :class => "input.tf_short" ,:value => "" %>
              </div>
            </td>
            
          <td>
          <div class="field">
            <%= f.label  :reembolso,"Reembolso  " , :class => "bold"%><br />
            <%= f.number_field :reembolso, :class => "input.tf_short" ,:value => "0.00" %>
          </div>
        </td>
        </tr>
        </table>
        <%= hr() %>
         <div class="field">
          <%= f.label  :comments,"Comentarios  " , :class => "bold"%><br />
          <%= f.text_area :comments  %>
        </div>
   
        <%= hr() %>
      
     <div class="field">
      <label for="ac_user" class="bold">Seller*</label><br />
      <input type="text" name="ac_user" id="ac_user" value="<% if @ac_user %><%= @ac_user %><% end %>" />

      <div class="small">
      </div>
      <br />

      <div class="small">
        <strong>Selected seller:</strong>
        <span id="selected_seller"><% if @ac_user %><%= @ac_user %><% else %><!-- i --><% end %></span>
      </div>

    </div>
  
    <%= hr() %>
    <div class="actions">
      <input type="hidden" name="items" id="items" value="<% if @lvts_lines %><%= @lvts_lines %><% end %>" />
      <input type="hidden" name="items2" id="items2" value="<% if @compro_lines %><%= @compro_lines %><% end %>" />
      <%= f.hidden_field :user_id, :id => "ac_user_id" %>
      <%= f.hidden_field :compro_id, :id => "ac_compro_id" %>
      <%= f.hidden_field :company_id %>

      <%= f.submit %>
    </div>
    
    <div class="small">
      Once you're done adding customers, don't forget to <strong><%= @action_txt %></strong> your lvt.
    </div>

  <% end %>
</div>




<div class="mid_box">
  
  
  <h4>
    Agregar Comprobante por rendir 
  </h4>
                                              
  <form method="get" action="/lvts" onsubmit="addItemToLvt2(); return false;">

    <strong>Documento :</strong><br />
          <input type="text" name="ac_item_compro" id="ac_item_compro" value="" />
          <div class="small">
            Ingrese un termino de busqueda para encontrar un documento 
          </div>
    
          <br />

          <strong>Importe :</strong><br />
      
          <input type="text" name="ac_item_inicial" id="ac_item_inicial" value="" class="tf_short" readonly />
          <div class="small">
            Importe entregado en comprobante.
          </div>
          <br />
    
    <input type="submit" value="Agregar Comprobante" />

  </form>

<%= hr() %>
  <h5>
    Agregar informacion egresos comprobante 
  </h5>
  
  <form method="get" action="/lvts" onsubmit="addItemTolvt(); return false;">   
  
    
  
    <br />
    
    <td>
      
     
    <div >
    <strong>Gasto  :</strong><br />
    <br />
      <%= select_tag :ac_item_id, options_from_collection_for_select(@gastos,'id','descrip')%>  
    <br />
    <div>
      Ingrese un termino de busqueda para encontrar un documento 
    </div>
    
      <br />
    <td>
      <strong> Fecha :</strong><br />
      <input type="date" name="ac_item_fecha" id="ac_item_fecha" min="2017-01-01"><br> 
    </td>
    
     <br />
    <td>
      <strong> TD :</strong><br />
      <input type="text" name="ac_item_td" id ="ac_item_td" value="" />
      <div class="small">
        Tipo de documento 
      </div>
    </td>
        
     <br />
    <strong>Documento :</strong><br />
    <input type="text" name="ac_item_documento" id="ac_item_documento" value="" />
    <div class="small">
      Ingrese un termino de busqueda para encontrar un documento 
    </div>
    
    <br />  
  
  

    <div >
      <strong>Total:</strong><br />    
    <input type="text" name="ac_item_importe" id="ac_item_importe" value="0.00" class="tf_short" />
    </div>
    <div class="small">
     Total 
    </div>

    <br />
    <div >
      <strong>Detalle:</strong><br />    
    <input type="text" name="ac_item_detalle" id="ac_item_detalle" value=""  />
    </div>
    <div class="small">
     Detalle 
    </div>
    
  <br />
    
    <input type="submit" value="Agregar item a Comprobante" />
      
  </form>
  
  <%= hr() %>
  
  
</div>

<%= br() %>
<br />

<%= render 'layouts/autocomplete' %>

<script type="text/javascript">


  $(document).ready(function() {
    
    
   $("#ac_item_compro").autocomplete("/lvts/ac_compros/<%= @company.id %>", {
      matchSubset: 1,
      matchContains: 1,
      selectFirst: false
    });
    
    $("#ac_item_compro").result(function(event, data, formatted) {
      $("#ac_item_inicial").val(data[4]);
      $("#ac_compro_id").val(data[2]);
    });
    
    $("#ac_user").autocomplete("/lvts/ac_user/<%= @company.id %>", {
			matchSubset: 1,
			matchContains: 1,
      selectFirst: false
    });
    
    $("#ac_user").result(function(event, data, formatted) {
      $("#ac_user_id").val(data[2]);
      $("#selected_seller").html(data[0]);
    });    
    
    <% if @lvts_lines %>
      listItemslvt();
    <% end %>


  });



  function addItemTolvt() {

    alert("aaa"); 

    
    var item = $("#ac_item").val();

    if(item != "") {
      var company_id = $("#lvt_company_id").val();
      var stock_inicial = $("#ac_item_inicial").val();
      var peaje = $("#lvt_peaje").val();
        
      var item_id = $("#ac_item_id").val();
      var ac_item_fecha = $("#ac_item_fecha").val();
    
      var td        = $("#ac_item_td").val();
      var documento = $("#ac_item_documento").val();
      var importe   = $("#ac_item_importe").val();
      var detalle   = $("#ac_item_detalle").val();
      
      var items_arr = $("#items").val().split(",");

      if(importe == "" || !isNumeric(importe)) {
        alert("Por favor ingrese un importe valido");
      } else {
      
      var item_line = item_id + "|BRK|" +ac_item_fecha + "|BRK|" + td + "|BRK|"+documento + "|BRK|"+ importe + "|BRK|"+ peaje + "|BRK|"+ stock_inicial+ "|BRK|"+ detalle;
        
        $("#items").val($("#items").val() + "," + item_line);
        listItemslvt();
        
        $("#ac_item").val("");
        $("#ac_item_id").val("");        
        $("#ac_td").val("");
        $("#ac_documento").val("");
        $("#ac_item_total").val("0.00");
        $("#ac_item_detalle").val("");
        
      }
    } else {
      alert("Por favor ingrese un detalle primero.");    
    }
  }

  // List items in a kit
  function listItemslvt() {
    
    var items = $("#items").val();
    var company_id = $("#lvt_company_id").val();
    
    $.get('/lvts/list_items/' + company_id ,  {
      items: items
    },
    function(data) {
      $("#list_items").html(data);
      documentReady();
    });
  }


  // Removes an item from an invoice
  function removeItemFromlvt(id) {
    var items = $("#items").val();
    var items_arr = items.split(",");
    var items_final = Array();
    var i = 0;
    
    while(i < items_arr.length) {
      if(i != id) {
        items_final[i] = items_arr[i];
      }
      i++;
    }
    
    $("#items").val(items_final.join(","));
    listItemslvt();
  }



function addItemToLvt2() {


  alert("aaa");
  
    var item = $("#ac_item_compro").val();
    alert(item); 


    if(item != "") {
      var company_id = $("#lvt_company_id").val();
      var item_id = $("#ac_compro_id").val();        
      var inicial = $("#ac_item_inicial").val();        
      
      var items_arr = $("#items2").val().split(",");
      
      var item_line = item_id + "|BRK|" + inicial ;
        
        $("#items2").val($("#items2").val() + "," + item_line );

        listItemsLvt2();
        
        $("#ac_item_compro").val("");
        $("#ac_item_inicial").val("");
        $("#ac_compro_id").val("");      
      
    } else {
      alert("Por favor ingreso informacion de comprobante.");
    }
  }


  function listItemsLvt2() {
    var items2 = $("#items2").val();
    var company_id = $("#lvt_company_id").val();
    
    $.get('/lvts/list_items2/' + company_id, {
      items2: items2
    },
    function(data) {
      $("#list_items2").html(data);
      documentReady();
    });

  }

// Removes an item from an invoice
  function removeItemFromLvt2(id) {
    var items = $("#items2").val();
    var items_arr = items.split(",");
    var items_final = Array();
    var i = 0;
    
    while(i < items_arr.length) {
      if(i != id) {
        items_final[i] = items_arr[i];
      }
      i++;
    }
    
    $("#items2").val(items_final.join(","));
    listItemsLvt2();
  }

  


</script>