<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @company.name, @company %> &raquo;
  <%= link_to "lvts", "/companies/lvts/#{@company.id}" %> &raquo;
  <%= link_to @lvt.identifier, @lvt %>
</div>

<h1>
  <%= image_tag("lvt_48.png", :class => "vmiddle") %>
  Editing lvt
</h1>

<p>
  To modify the lvt, please fill out the following form.  Fields marked with <strong>*</strong> are required.
</p>

<%= render 'form' %>

<%= hr() %>

<div class="button">
  <%= link_to 'Show', @lvt %>
  <%= link_to 'Back', "/companies/lvts/#{@company.id}" %>
</div>