<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @company.name, @company %> &raquo;
  <%= link_to "lvts", "/companies/customer_payments/#{@company.id}" %> &raquo;
  <%= link_to @lvt.identifier, @lvt %>
</div>

<h1>
  <%= image_tag("lvt_48.png", :class => "vmiddle") %>
  Send lvt via email
</h1>

<%= hr() %>

<h3>
  <%= link_to @lvt.identifier, @lvt %>
</h3>

<%= hr() %>

<form method="post" action="/customer_payments/do_email/<%= @lvt.id %>">
  <strong>Email:</strong>
  <input type="text" name="email" value="<%= @lvt.customer.email %>" onclick="$(this).select();" />
  <input type="submit" value="Send" class="bold" />
</form>

<%= hr() %>

<div class="button">
  <%= link_to 'Ver', @lvt %>
  <%= link_to 'Regresa', "/companies/customer_payments/#{@company.id}" %>
</div>