<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @lvt.company.name, @lvt.company %> &raquo;
  <%= link_to "lvts", "/companies/customer_payments/#{@lvt.company.id}" %>
</div>

<h1>
  <%= image_tag("invoice_48.png", :class => "vmiddle") %>
  <%= @lvt.identifier %>
</h1>

<%= hr() %>

<% if @lvt.location %>
  <p>
    <b>Location:</b>
    <%= link_to @lvt.location.name, @lvt.location %>
  </p>
<% end %>

<% if @lvt.division %>
  <p>
    <b>Division:</b>
    <%= link_to @lvt.division.name, @lvt.division %>
  </p>
<% end %>

<p>
  <b>Code:</b>
  <%= @lvt.code %>
</p>

<p>
    <b>Fecha :</b>
    <%= @lvt.fecha.strftime("%d/%m/%Y") %>   
</p>
 
<p>
    <b>Estado: </b>
    <%= @lvt.get_processed   %>   
</p>


<%= hr() %>

<h3>
  Informacion lvt
</h3>
<p>
  <b>Comprobante </b>  
  
   
</p>
<p>
  
<%= hr() %>


<table>
  <thead>
    <tr>
      <th>
        Compro 
      </th>
      
      <th>
        Cod.
      </th>
      <th>
        Placa 
      </th>
      <th>
        OST 
      </th>
      
      <th>
        Lugar 
      </th>
      
     
      <th>
        Total
      </th>
    </tr>
  </thead>
  <tbody>
    

    <% for product in @lvt.get_lvts2()%>
      <tr>
        <td class="small bordered_bottom bordered_right">
            <%= product.compro.code  %>
          </td>
        
        <td class="small bordered_bottom bordered_right">
            <%= product.compro.tranportorder.employee.full_name %>
          </td>
          
         <td class="small bordered_bottom bordered_right">
            <%=  product.compro.tranportorder.truck.placa<<" - " << product.compro.tranportorder.get_placa(product.compro.tranportorder.truck2_id) %>
          </td>
         <td class="small bordered_bottom bordered_right">
            <%= product.compro.tranportorder.code %>
          </td>

         <td class="small bordered_bottom bordered_right">
            <%= product.compro.tranportorder.get_punto(product.compro.tranportorder.ubication_id) %>
          </td>
          
          <td class="small bordered_bottom bordered_right">
            <%= money(product.importe) %>
          </td>

      </tr>
    <% end %>
    
</tbody>
</table>

<p>
  

 <b>Gastos </b>  
</p>

<table>
  <thead>
    <tr>
      <th>
        Cod.
      </th>
      <th>
        Gasto
      </th>
      <th>
        Fecha
      </th>
      
      <th>
        Td
      </th>
      
      <th>
        Documento 
      </th>
      <th>
        Total
      </th>
    </tr>
  </thead>
  <tbody>
    

    <% for product in @lvt.get_lvts() %>
      <tr>
          <td class="small bordered_bottom bordered_right">
            <%= product.gasto.code %>
          </td>

       <td class="small bordered_bottom bordered_right">
            <%= product.gasto.descrip %>
          </td>
          
         <td class="small bordered_bottom bordered_right">
            <%= product.fecha.strftime("%d/%m/%Y")%>
          </td>
       
         <td class="small bordered_bottom bordered_right">
            <%= product.td %>
          </td>
           <td class="small bordered_bottom bordered_right">
              <%=product.documento %>
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= money(product.total) %>
          </td>

      </tr>
    <% end %>
    
    
    <tr>
      <td colspan="5" class="bordered_bottom bordered_right bold">
        Total ingresos
      </td>
      <td class="bordered_bottom bordered_right bold right">
        <%= money(@lvt.total_ing) %>
      </td>
    </tr>
    
    <tr>
      <td colspan="5" class="bordered_bottom bordered_right bold">
        Total Egresos
      </td>
      <td class="bordered_bottom bordered_right bold right">
        <%= money(@lvt.total_egreso) %>
      </td>
    </tr>
    <tr>
      <td colspan="5" class="bordered_bottom bordered_right bold">
        Peajes 
      </td>
      <td class="bordered_bottom bordered_right bold right">
        <%= money(@lvt.peaje) %>
      </td>
    </tr>
    <tr>
      <td colspan="5" class="bordered_bottom bordered_right bold">
        Saldo
      </td>
      <td class="bordered_bottom bordered_right bold right">
        <%= money(@lvt.saldo) %>
      </td>
    </tr>
    
     <tr>
      <td colspan="5" class="bordered_bottom bordered_right bold">
        
      </td>
      <td class="bordered_bottom bordered_right bold right">
        
      </td>
    </tr>
    
    <tr>
      <td colspan="5" class="bordered_bottom bordered_right bold">
          Vuelto
      </td>
      
      <td class="bordered_bottom bordered_right bold right">
          <%= money(@lvt.devuelto) %>
      </td>
    </tr>
    <tr>
      <td colspan="5" class="bordered_bottom bordered_right bold">
          Descuento
      </td>
      
      <td class="bordered_bottom bordered_right bold right">
          <%= money(@lvt.descuento) %>
      </td>
    </tr>
    <tr>
      <td colspan="5" class="bordered_bottom bordered_right bold">
          Reembolso
      </td>
      
      <td class="bordered_bottom bordered_right bold right">
          <%= money(@lvt.reembolso) %>
      </td>
    </tr>
    
    
    
  </tbody>
</table>


<br />

<%= hr() %>


<br />


<p>
  <strong>Seller:</strong>
  <%= link_to @lvt.user.username, @lvt.user %>
</p>

<%= hr() %>

<div class="button">
  
  <%= link_to 'Exportar to PDF', "/lvts/pdf/#{@lvt.id}.pdf" %>  
 <% if @lvt.processed == "1" %> 

 <% %>

 <% else %>

  <%= link_to 'Procesar', "/lvts/do_process/#{@lvt.id}" %>

 <% end %> 
  
  <%= link_to 'Regresar', "/companies/lvts/#{@lvt.company.id}" %>
</div>

