<% if @viaticotbks.count > 0 %>
  <table>
    <thead>
      <tr>
        <th class="bordered_right bordered_bottom" style="width: 100px;">
         Orden
        </th>
        <th class="bordered_right bordered_bottom">
          Saldo Inicial 
        </th>
        <th class="bordered_right bordered_bottom">
          Total Ingreso
        </th>
        <th class="bordered_right bordered_bottom">
          Total Egreso
        </th>
        <th class="bordered_right bordered_bottom">
          Saldo Final 

        </th>
        
        <th class="bordered_right bordered_bottom">
          Fecha 
        </th>
        <th class="bordered_right bordered_bottom">
          Aprobado 
        </th>
        
        <th class="bordered_right bordered_bottom" colspan="3">
          Opciones 
        </th>
        
      </tr>
    </thead>
    <tbody>
    
      <% for viaticotbk  in @viaticotbks %>
        <tr>
          <td class="bordered_right bordered_bottom">
            <%= link_to viaticotbk.code, viaticotbk, :title => "Ir a factura" %>
          </td>
          
          <td class="small bordered_bottom bordered_right">
            <%= money(viaticotbk.inicial) %>
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= money(viaticotbk.total_ing) %>
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= money(viaticotbk.total_egreso) %>
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= money(viaticotbk.saldo) %>
          </td>

          
          <td class="bordered_right bordered_bottom">
            <%= viaticotbk.fecha1.strftime("%d/%m/%Y")  %>
          </td>
          <td class="bordered_right bordered_bottom <%= viaticotbk.processed_color %>">
            <%= viaticotbk.get_processed_short %>
          </td>
          <td class="bordered_right bordered_bottom">
            <%= link_to "Ver", viaticotbk %>
          </td>
          <td class="bordered_right bordered_bottom">  
            <%= link_to 'Editar',edit_viatico_path(viaticotbk) %>
          </td>
          <td class="bordered_right bordered_bottom">  
          <%= link_to 'Eliminar', viaticotbk, :data=> {:confirm => 'Esta seguro ?'}, :method => :delete  %>           
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="error">
    We couldn't find any viaticotbk.
  </p>
<% end %>