<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @viaticotbk.company.name, @viaticotbk.company %> &raquo;
  <%= link_to "viaticos", "/companies/customer_payments/#{@viaticotbk.company.id}" %>
</div>

<h1>
  <%= image_tag("invoice_48.png", :class => "vmiddle") %>
  <%= @viaticotbk.identifier %>
</h1>

<%= hr() %>

<% if @viaticotbk.location %>
  <p>
    <b>Location:</b>
    <%= link_to @viaticotbk.location.name, @viaticotbk.location %>
  </p>
<% end %>

<% if @viaticotbk.division %>
  <p>
    <b>Division:</b>
    <%= link_to @viaticotbk.division.name, @viaticotbk.division %>
  </p>
<% end %>

<p>
  <b>Code:</b>
  <%= @viaticotbk.code %>
</p>
<p>
  
  <strong> <%= @viaticotbk.caja.descrip %></strong>
</p>

<p>
    <b>Fecha entrega:</b>
    <%= @viaticotbk.fecha1.strftime("%d/%m/%Y") %>   
</p>
 
<p>
    <b>Estado: </b>
    <%= @viaticotbk.get_processed   %>   
</p>


<%= hr() %>

<h3>
  Informacion Pago
</h3>

<p>
  <b>Inicial </b>  
  <%= link_to @viaticotbk.inicial.round(2) %>
</p>


<div class="button">
<%= link_to 'Agregar Item', new_viaticotbk_viaticotbk_detail_path(@viaticotbk) %>


</div> 



<%= form_tag viaticotbks_path , method: :get ,remote: :true,  :onsubmit=>"return false;"  do   %>
  <div class="col-md-6">
    <div class="form-group">
      <td>Periodo </td>
        <div class="input-group input-large">


          <%= text_field_tag 'search[date_from]' ,@search.date_from %>

         

          <span class="input-group-addon">To</span>
         <%= text_field_tag 'search[date_to]' ,@search.date_to %>
             <%= hidden_field_tag 'search[viaticotbk_id]', @viaticotbk.id %>


        </div>
    </div>
  </div>

<%= submit_tag 'Buscar' %>

<% end %>




<table>
  <thead>
    <tr>
     
      <th>
        Item
      </th>

       <th>
        ingreso/Egreso
      </th>

       <th>
        Fecha
      </th>
      
      
      <th>
        Descripcion 
      </th>
      
      
      <th>
        Nro.Documento   </th>
      
      <th>
        Importe S/.
      </th>
      
      
      <th>
        Detalle
      </th>

        <th>
        Placa
      </th>
        <th>
        Destino
      </th>
        <th>
        Nro.O.S.T.
      </th>

       <th>
       
      </th>


        <th>
        Opciones 
      </th>
      
    </tr>
  </thead>
  <tbody>
    
<%= hr() %>



<% nroitem = 1 %>
    <%  @viaticotbk_detail.each do |product| %>
    
      <tr>

        <td class="small bordered_bottom bordered_right">
        <%= nroitem %>
        </td>

        <td class="small bordered_bottom bordered_right">
             <%if product.egreso %>  
              <%= product.egreso.name  %>
               <%else%>

              <%end %>
          </td>

        <td class="small bordered_bottom bordered_right">

             <%=product.fecha.strftime("%d/%m/%Y") %>

          </td>
          
        
         <td class="small bordered_bottom bordered_right">
           <%if product.supplier_id !=  2570 %>
            <%= product.supplier.name %>
          <%else%>
           <%if  product.employee != 64 %>
            <%= product.employee.full_name %>
            <%end %>
          <%end %>
          </td>
         
        
          
          <td class="small bordered_bottom bordered_right">
            
              <%= product.document.descripshort << "-" << product.numero    %>
          </td>


          <td class="small bordered_bottom bordered_left">
            <%= money(product.importe) %>
          </td>


          <td class="small bordered_bottom bordered_right">
              <%=product.detalle %>
          </td>

              <% if product.cout_id.nil? %>

             <td class="small bordered_bottom bordered_right">

             </td>

              <td class="small bordered_bottom bordered_right">
              
             </td>
               <td class="small bordered_bottom bordered_right">
              
             </td>


          <% else %>

            <td class="small bordered_bottom bordered_right">
                <%=  product.cout.get_placa(product.cout.truck_id) + " /  " + product.cout.get_placa(product.cout.truck2_id) +  product.cout.get_placa(product.cout.truck3_id)  %>
            </td>

            <td class="small bordered_bottom bordered_right">
              <%= product.cout.get_punto(product.cout.ubication_id) + "  -  "+ product.cout.get_punto(product.cout.ubication2_id) +" EJES:"+ product.cout.tranportorder.get_ejes2(product.cout.tranportorder.id) %> 
            </td>

             <td class="small bordered_bottom bordered_right">
              <%= product.cout.tranportorder.code %>
            </td>

          <% end %>


          <td><%= link_to 'Editar',  edit_viaticotbk_viaticotbk_detail_path(viaticotbk_id: @viaticotbk.id,id: product.id ) %></td>          
          <td><%= link_to 'Eliminar',[@viaticotbk,product], method: :delete, data: { confirm: 'Esta seguro?' } %></td>
          
      </tr>

      <% nroitem += 1 %>
    <% end %>
   <tr>
      <td colspan="5" class="bordered_bottom bordered_right bold">
        Total Egresos
      </td>
      <td class="bordered_bottom bordered_right bold right">
        <%= money(@viaticotbk.total_egreso)%>
      </td>
    </tr>
    
   <tr>
      <td colspan="5" class="bordered_bottom bordered_right bold">
        Saldo
      </td>
      <td class="bordered_bottom bordered_right bold right">
        <%= money(@viaticotbk.saldo) %>
      </td>
    </tr>
    
   
   
  </tbody>
</table>
<br />


<br />


<p>
  <strong>Seller:</strong>
  <%= link_to @viaticotbk.user.username, @viaticotbk.user %>
</p>

<%= hr() %>

<div class="button">
  <%= link_to 'Exportar to PDF', "/viaticotbks/pdf/#{@viaticotbk.id}.pdf" %>  
  
 <% if @viaticotbk.processed == "1" %> 

 <% %>

 <% else %>

  <%= link_to 'Procesar', "/viaticotbks/do_process/#{@viaticotbk.id}" %>

 <% end %> 
  
  <%= link_to 'Regresar', "/companies/viaticotbks/#{@viaticotbk.company.id}" %>
</div>



<script>



</script>