<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @cpagar.company_id %>
</p>

<p>
  <strong>Bank acount:</strong>
  <%= @cpagar.bank_acount_id %>
</p>

<p>
  <strong>Document:</strong>
  <%= @cpagar.document_id %>
</p>

<p>
  <strong>Documento:</strong>
  <%= @cpagar.documento %>
</p>

<p>
  <strong>Supplier:</strong>
  <%= @cpagar.supplier_id %>
</p>

<p>
  <strong>Tm:</strong>
  <%= @cpagar.tm %>
</p>

<p>
  <strong>Total:</strong>
  <%= @cpagar.total %>
</p>

<p>
  <strong>Fecha1:</strong>
  <%= @cpagar.fecha1 %>
</p>

<p>
  <strong>Fecha2:</strong>
  <%= @cpagar.fecha2 %>
</p>

<p>
  <strong>Nrooperacion:</strong>
  <%= @cpagar.nrooperacion %>
</p>

<p>
  <strong>Operacion:</strong>
  <%= @cpagar.operacion %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @cpagar.comments %>
</p>

<p>
  <strong>User:</strong>
  <%= @cpagar.user_id %>
</p>

<p>
  <strong>Processed:</strong>
  <%= @cpagar.processed %>
</p>

<p>
  <strong>Date processed:</strong>
  <%= @cpagar.date_processed %>
</p>

<p>
  <strong>Code:</strong>
  <%= @cpagar.code %>
</p>

<div class="button">
<%= link_to 'Agregar Item', new_cpagar_cpagar_detail_path(@cpagar) %>
<%= link_to 'Editar', edit_cpagar_path(@cpagar) %> |
<%= link_to 'Regresar', cpagars_path %>
</div>


    <%  @cpagar_details.each do |detalle| %>
    
    <tr>
        
    <td class="small bordered_bottom bordered_right">
      <%= detalle.supplier.ruc %>              
    </td>
    <td class="small bordered_bottom bordered_right">
      <%= detalle.supplier.name %>              
    </td>
    
    <td class="small bordered_bottom bordered_right">
      <%= detalle.detalle  %>              
    </td>
    <td class="small bordered_bottom bordered_right">
      <%= detalle.total   %>              
    </td>
        
  <td><%= link_to 'Editar', edit_cpagar_cpagar_detail_path(loan_id: @cpagar.id,id: detalle.id ) %></td>          

 <td><%= link_to 'Eliminar',[@cpagar,detalle], method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </tr>    
          
      <tr>
  
         
     
      </tr>
    
    <% end %>

</tbody>
</table>
<br />



<div class="button">

<%= link_to 'Agregar Item', new_cpagar_cpagar_detail_path(@cpagar) %>
<%= link_to 'Editar', edit_cpagar_path(@loan) %> 
<%= link_to 'Regresar', cpagars_path %>
</div> 

