<%= simple_form_for(@quotation_detail) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :item %>
    <%= f.input :descrip %>
    <%= f.input :costo1 %>
    <%= f.input :costo2 %>
    <%= f.input :total %>
    <%= f.input :references %>
    <%= f.input :quotations %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
