<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @proyectominero2.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @proyectominero2.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @proyectominero2.user_id %>
</p>

<%= link_to 'Edit', edit_proyectominero2_path(@proyectominero2) %> |
<%= link_to 'Back', proyectominero2s_path %>
