<p id="notice"><%= notice %></p>

<h1>Listing Telecredito Details</h1>

<table>
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Nro</th>
      <th>Operacion</th>
      <th>Purchase</th>
      <th>Beneficiario</th>
      <th>Documento</th>
      <th>Moneda</th>
      <th>Importe</th>
      <th>Egreso</th>
      <th>Aprueba</th>
      <th>Observacion</th>
      <th>Telecredito</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @telecredito_details.each do |telecredito_detail| %>
      <tr>
        <td><%= telecredito_detail.fecha %></td>
        <td><%= telecredito_detail.nro %></td>
        <td><%= telecredito_detail.operacion %></td>
        <td><%= telecredito_detail.purchase_id %></td>
        <td><%= telecredito_detail.beneficiario %></td>
        <td><%= telecredito_detail.documento %></td>
        <td><%= telecredito_detail.moneda %></td>
        <td><%= telecredito_detail.importe %></td>
        <td><%= telecredito_detail.egreso %></td>
        <td><%= telecredito_detail.aprueba %></td>
        <td><%= telecredito_detail.observacion %></td>
        <td><%= telecredito_detail.telecredito_id %></td>
        <td><%= link_to 'Show', telecredito_detail %></td>
        <td><%= link_to 'Edit', edit_telecredito_detail_path(telecredito_detail) %></td>
        <td><%= link_to 'Destroy', telecredito_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Telecredito detail', new_telecredito_detail_path %>
