<% if @quotation.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@quotation.errors.count, "error") %> prohibited this serviceorder from being saved:</h2>
    <ul>
    <% @quotation.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= hr() %>



<%= form_for(@quotation) do |f| %>
  

  <div class="form-inputs">
<table>
  <tr>
    
    <td>
    <div class="field">
      <%= f.label :location_id ,"Local"%><br />
      <%= f.collection_select :location_id, @locations, :id, :name, :prompt => true %>
      
    </div>
    </td>
    <td>
    <div class="field">
      <%= f.label :division_id, "Solicitante" %><br />
      <%= f.collection_select :division_id, @divisions, :id, :name, :prompt => true %>
      
    </div>  
    </tr>
    </td>
    
    <tr>
      <td>
      <div class="field">
      <%= f.label :fecha1, "Fecha Emision*", :class => "bold" %><br />
      <%= f.date_field :fecha1 %>
      </div>
      </td>
      
      <td>
    <div class="field">  
      <label for="ac_customer" class="bold"> CLIENTE  *</label><br />
      <%= f.collection_select :customer_id, @customers, :id, :name, :prompt => true %>
      
      <div class="small">
        Ingrese una termino de busqueda para encontrar un proveedor.
      </div>
    </div>
    </td>
    </tr>
    
    <tr>
      <td>
    <div class="field">
      <%= f.label :code, "Code*", :class => "bold" %><br />
      <%= f.text_field :code, :onclick => "$(this).select();" %>
    </div>
      </td>
      <td>
    <div class="field">
      <%= f.label :punto_id , "Lugar de Destino:  "%><br />
      <%= f.collection_select :punto_id, @puntos, :id, :name, :prompt => true %>      
      
    </div>
    </td>
    </tr>
      <tr>
        <td>
      <div class="field">
        <%= f.label :tipo_unidad,"Tipo de Unidad e importe del Servicio  " %><br />
        <%= f.text_area :tipo_unidad  %>
      </div>
        </td>
      <td>
      <div class="field">
      <%= f.label :carga,"Carga a transportar: " %><br />
      <%= f.text_area :carga %>
        </div>
    </td>
    </tr>
  
     <tr>
       <td>
    <div class="field">
      <%= f.label :moneda_id ,"  "%><br />
      <%= f.collection_select :moneda_id, @monedas, :id, :description, :prompt => true %>      
      
    </div>
    </td>
    <td>
    <div class="field">
      <%= f.label :importe,"Importe: " %><br />
      <%= f.number_field :importe , step: 0.01 %>
    </div>
    </td>
    </tr>
    </table>  
    
    <table>
    <tr>
      <td>
    <div class="field">
      <%= f.label :condiciones,"Condiciones 1: " %><br />
      <%= f.text_area :condiciones %>
    </div>
    </td>
    
    <td>
     <div class="field">
      <%= f.check_box :op1 %>
      <%= f.label :op1 ,"Seleccionado ?", :class => "bold" %>
      <div class="small">
        Condición seleccionada  ?
      </div>
      
      </div>
      </td>
      </tr>
    
      <tr>
      <td>
    
      <div class="field">
        <%= f.label :respon," Condiciones 2:" %><br />
        <%= f.text_area :respon %>
      </div>
    <td>
     <div class="field">
      <%= f.check_box :op2 %>
      <%= f.label :op2 ,"Seleccionado ?", :class => "bold" %>
      <div class="small">
        Condición seleccionada  ?
      </div>
      
      </div>
      </td>
      
      <tr>
      <td>
      <div class="field">
        <%= f.label :seguro,"Condiciones 3:" %><br />
        <%= f.text_area :seguro %>
      </div>
      
      
      </td>
      <td>
        
     <div class="field">
      <%= f.check_box :op3 %>
      <%= f.label :op3 ,"Seleccionado ?", :class => "bold" %>
      <div class="small">
        Condición seleccionada  ?
      </div>
        </div>
      </td>
      </tr>
      
      
  </table>
    <div class="field">
      <%= f.label :firma_id,"Firma " %><br />
      <%= f.collection_select :firma_id, @employees, :id, :full_name, :prompt => true %>
    </div>

  
  </div>

  <div class="form-actions">
   <%= f.hidden_field :company_id %>
    <div > 
      <%= f.button :submit  %>
    </div>
    
  </div>
  
  
<% end %>
