<p id="notice"><%= notice %></p>

<h1>Listing Antecedents</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @antecedents.each do |antecedent| %>
      <tr>
        <td><%= antecedent.code %></td>
        <td><%= antecedent.name %></td>
        <td><%= link_to 'Show', antecedent %></td>
        <td><%= link_to 'Edit', edit_antecedent_path(antecedent) %></td>
        <td><%= link_to 'Destroy', antecedent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Antecedent', new_antecedent_path %>
