<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @antecedent.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @antecedent.name %>
</p>

<%= link_to 'Edit', edit_antecedent_path(@antecedent) %> |
<%= link_to 'Back', antecedents_path %>
