<p id="notice"><%= notice %></p>

<p>
  <strong>Employee:</strong>
  <%= @program_exm.employee_id %>
</p>

<p>
  <strong>Ind:</strong>
  <%= @program_exm.ind %>
</p>

<p>
  <strong>Tr:</strong>
  <%= @program_exm.tr %>
</p>

<p>
  <strong>Em:</strong>
  <%= @program_exm.em %>
</p>

<p>
  <strong>Lo:</strong>
  <%= @program_exm.lo %>
</p>

<p>
  <strong>Tema:</strong>
  <%= @program_exm.tema %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @program_exm.fecha %>
</p>

<p>
  <strong>Inicio:</strong>
  <%= @program_exm.inicio %>
</p>

<p>
  <strong>Termino:</strong>
  <%= @program_exm.termino %>
</p>

<p>
  <strong>Totalhora:</strong>
  <%= @program_exm.totalhora %>
</p>

<p>
  <strong>Horaingbase:</strong>
  <%= @program_exm.horaingbase %>
</p>

<p>
  <strong>Observa:</strong>
  <%= @program_exm.observa %>
</p>

<%= link_to 'Edit', edit_program_exm_path(@program_exm) %> |
<%= link_to 'Back', program_exms_path %>
