



<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>



<div class="ui form segment raised">



<% if @autoviatic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@autoviatic.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @autoviatic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>






<table class="ui right aligned table">
      <thead>
        <th class="left aligned"></th>
        <th>1.Examen Medicos </th>
        <th> </th>
        <th></th>
      </thead>
      <tbody>
        <tr>

          <td class="left aligned"> Sucursal:</td>
          <td><%= @autoviatic.location.name %>  </td>

           <td class="left aligned">Proyecto Minero</td>
          <td><%= @autoviatic.proyecto_minero.descrip  %> </td>
          
        
          <td> </td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="left aligned">Empleado  </td>
          <td><%= @autoviatic.employee.full_name  %> </td>

          <td>Fecha </td>
          <td><%= @autoviatic.fecha  %></td>

       
        </tr>
          <tr>
                      <td></td>
             <td> </td>
          <td class="left aligned"> Tema </td>
          <td><%= @autoviatic.tema   %> </td>

         


       
        </tr>

         <tr>
          <td class="left aligned">Clinica/Capacitacion  </td>
          <td><%= @autoviatic.supplier.name  %> </td>
         <td class="left aligned">Asunto  </td>
          <td> <%= @autoviatic.tramit.name  %> </td>
          <td></td>
          <td></td>
        </tr>



         <tr>
          <td class="left aligned"> Movilidad </td>
          <td><%= @autoviatic.movilidad  %> </td>
           <td class="left aligned">Lugar </td>
          <td><%= @autoviatic.lugar1  %> </td>
          <td></td>
          <td></td>
        </tr>

         <tr>
          <td class="left aligned"> Almuerzo</td>
          <td><%=  @autoviatic.almuerzo   %> </td>
           <td class="left aligned">Lugar </td>
          <td><%=  @autoviatic.lugar2  %> </td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="left aligned"> Otros</td>
          <td><%=  @autoviatic.otros  %> </td>
           <td class="left aligned">Lugar </td>
          <td><%=  @autoviatic.lugar3  %> </td>
          <td></td>
          <td></td>
        </tr>

         <tr>
          <td class="left aligned"> Total </td>
          <td> <p id= "total_viatico"  align="right" > </p>
           </td>
           <td class="left aligned">Observaciones </td>
          <td><%=  @autoviatic.obser %> </td>
          <td></td>
          <td></td>
        </tr>
        
         <tr>
          <td class="left aligned">Lugar Ingreso </td>
          <td><%=  @autoviatic.lugar_salida %> </td>

           <td class="left aligned">Lugar Salida </td>
          <td><%=  @autoviatic.lugar_salida2 %> </td>
          <td></td>
          <td></td>
        </tr>

         <tr>
          <td class="left aligned"> Hora Ingreso </td>
          <td><%=  @autoviatic.hora_ingreso %> </td>
          
           <td class="left aligned">Hora Salida </td>
          <td><%=  @autoviatic.hora_salida %> </td>
          <td></td>
          <td></td>
        </tr>




      </tbody>
</table>

<table style="width:100%">

  <tr>
    <td>OBSERVACIONES </td>
    <td><%=  @autoviatic.obser2  %>  </td>
   
    
  </tr>

</table>




<div class="button">
  
   
<%= link_to 'Export PDF', "/autoviatics/pdf/#{@autoviatic.id}" %>
  
<% if @autoviatic.processed =="0" || @autoviatic.processed==nil %>
  <%= link_to 'Aprobar', "/autoviatics/do_process/#{@autoviatic.id}" %>
  <%= link_to 'Editar', edit_autoviatic_path(@autoviatic) %>
  
<% elsif @autoviatic.processed =="1" and current_user.level =="admin" %>  

   <%= link_to 'Anular', "/autoviatics/sendcancelar/#{@autoviatic.id}" %>
  

<% end %>
<%= link_to 'Regresar',autoviatics_path %>
</div>