 <% if @manifest.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@manifest.errors.count, "error") %> prohibited this invoice from being saved:</h2>

    <ul>
    <% @manifest.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>      


<%= simple_form_for(@manifest) do |f| %>
  <%= f.error_notification %>



    <div class="field">  
        <%= f.label :location_id , "Local *", :class => "bold" %><br />

       <%= f.collection_select :location_id, @locations, :id, :name, :prompt => true %>

    </div>  

   
    <div class="field">  
        <%= f.label :customer_id , "Cliente*", :class => "bold" %><br />

        
         <%= f.collection_select :customer_id, @customers, :id, :name, :prompt => true %>
   
    </div>  
    

    <div class="field">
      <%= f.label :fecha1, "Fecha Emision*", :class => "bold" %><br />
      <%= f.date_field :fecha1  %>
    </div>


    <div class="field">  
        <%= f.label :solicitante, "OST *", :class => "bold" %><br />
        <%= f.text_field :solicitante %>        
    </div>

      <div class="field">  
        <%= f.label :tipocargue_id , "Tipo carga*", :class => "bold" %><br />
        <%= f.collection_select :tipocargue_id, @cargas, :id, :name, :prompt => true %>

    </div>  
    
    
   <table>
    <thead>
      <tr>
        <th class="small bordered_bottom bordered_right">
          Carga
        </th>
        <th class="small bordered_bottom bordered_right">
          
        </th>
        <th class="small bordered_bottom bordered_right">
          
        </th>        
      </tr>
    </thead>

    
    <tbody>
      
     
        <tr>
          <td class="small bordered_bottom bordered_right">
                <%= f.input :largo %>
          </td>
          <td class="small bordered_bottom bordered_right">
                <%= f.input :ancho %>
          </td>          
          <td class="small bordered_bottom bordered_right">
               <%= f.input :alto %>
          </td>          
        </tr>


        <tr>
          <td class="small bordered_bottom bordered_right">        
            <%= f.input :peso %>        
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= f.input :bultos %>        
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= f.input :otros  %>
          </td>          
        </tr>
        
      
    </tbody>
  </table>



    <%= hr() %>

   
 <%= hr() %>
    <h3>
    Carga 
    </h3>

    <div class="field">  
        <%= f.label :especificacion, "Descripcion de la carga *", :class => "bold" %><br />
        <%= f.text_field :especificacion %>

    </div>

    <div class="field">
      <%= f.label :fecha2, "Fecha de carguio*", :class => "bold" %><br />
      <%= f.date_field :fecha2 %>
    </div>

    <div class="field">  
        <%= f.label :direccion1, "Punto de carguio *", :class => "bold" %><br />
         <%= f.text_field :direccion1 %>
    </div>
   
   <div class="field">  
        <%= f.label :hora, "Hora de carguio *", :class => "bold" %><br />
        <%= f.text_field :hora %>
    </div>
  
   <div class="field">  

        <%= f.label :contacto1, "Contacto carga *", :class => "bold" %><br />
        <%= f.text_field :contacto1 %>        
    </div>

    <div class="field">  

        <%= f.label :telefono1, "Telefono  *", :class => "bold" %><br />
        <%= f.text_field :telefono1 %>        
    </div>

      <%= hr() %>

   
    <div class="field">  
        <%= f.label :direccion2, "Punto de descarga *", :class => "bold" %><br />
         <%= f.text_field :direccion2 %>        
    </d
    </div>
    
    
    <div class="field">  
        <%= f.label :contacto2, "Contacto descarga *", :class => "bold" %><br />
        <%= f.text_field :contacto2 %>
    </div>    

    <div class="field">  
        <%= f.label :telefono2, "Telefono  *", :class => "bold" %><br />
        <%= f.text_field :telefono2 %>        
    
    </div>

   
    <div class="field">  
    


    
    <div class="field">  
    
        <%= f.label :observa, "Observaciones carga", :class => "bold" %><br />
        <%= f.text_area :observa %>

    </div>
    

  

  <div class="form-actions">
    <%= f.button :submit %>
  </div>

<% end %>
