<p id="notice"><%= notice %></p>

<h1>Solicitud de Transporte de Carga</h1>

<table>
  <thead>
    <tr>
      
      <th>Code </th>
      <th>Cliente </th>
      <th>Guia</th>
      <th>Fecha1</th>
      <th>Estado </th>
      
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @manifests.each do |manifest| %>
      <tr>
        
        <td><%= manifest.code %></td>
        <td><%= manifest.customer.name %></td>
        <td><%= manifest.solicitante %></td>
        <td><%= manifest.fecha1.strftime("%Y-%m-%d") %></td>
        <td><%= manifest.get_processed %></td>
        <td><%= link_to 'Ver', manifest %></td>
        
        <td><%= link_to 'Editar', edit_manifest_path(manifest) %></td>
         <% if current_user.level =="admin"%> 
        <td><%= link_to 'Eliminar', manifest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class= "buttons" >

<%= link_to 'Nueva solicitud', new_manifest_path %>

</div>


<%= will_paginate @products %>
