<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @manifest.company.name, @manifest.company %> &raquo;
  <%= link_to "manifests", "/companies/manifests/#{@manifest.company.id}" %>
</div>



<h1>
  <%= image_tag("invoice_48.png", :class => "vmiddle") %>
  <%= @manifest.code %>
</h1>

<%= hr() %>

<% if @manifest.location %>
  <p>
    <b>Location:</b>
    <%= link_to @manifest.location.name, @manifest.location %>
  </p>
<% end %>




<p>
  <b>Code:</b>
  <%= @manifest.code %>
</p>

 

 <p>
    <b> Cliente :</b>
    <%= @manifest.customer.name %>   
 </p>

<p>
    <b>Fecha emision :</b>
    <%= @manifest.fecha1.strftime("%dd/%mm/%YY")  %>   
</p>
 
<p>
    <b>Solicitante: </b>
    <%=   @manifest.solicitante  %>   
</p>
    
<p>
    <b>Telefono : </b>
    <%=   @manifest.telefono1    %>   
</p>


<%= hr() %>

<h3>
  Carga 
</h3>

<h5>
  Unidades a utilizar  
</h5>




 <table style="width:100%">
  <tr>
    <th>Unidades</th>
    <th>Cantidad</th>
    <th>Capacidad</th>
  </tr>
  <tr>
    <td>Camioneta </td>
    <td> <%= @manifest.camionqty %> </td>
    <td> <%= @manifest.camionpeso %></td>
  </tr>
  <tr>
    <td>Semitrailer</td>
     <td> <%= @manifest.semiqty %> </td>
    <td> <%= @manifest.semipeso %></td>
  </tr>
  <tr>
    <td>Extensible  </td>
     <td> <%= @manifest.extenqty %> </td>
    <td> <%= @manifest.extenpeso %></td>
  </tr>
  <tr>
    <td>Cama Baja </td>
     <td> <%= @manifest.camaqty %> </td>
    <td> <%= @manifest.camapeso %></td>
  </tr>
  <tr>
    <td>Modular   </td>
     <td> <%= @manifest.modularqty %> </td>
    <td> <%= @manifest.modularpeso %></td>
  </tr    
  >
  
</table> 
<h3>
  Del Transporte 
</h3>

<p>
    <b>Punto de Partida: </b>
    <%=   @manifest.direccion1   %>   
</p>
<p>
    <b>Punto de llegada : </b>
    <%=   @manifest.direccion2   %>   
</p>

<p>
    <b>Fecha llegada :</b>
    <%= @manifest.fecha2.strftime("%dd/%mm/%YY")  %>   
</p>

<p>
    <b> Contacto 1 : </b>
    <%=   @manifest.contacto1  %>   
</p>
<p>
    <b> Telefono  1 : </b>
    <%=   @manifest.telefono1  %>   
</p>

<p>
    <b> Contacto 2 : </b>
    <%=   @manifest.contacto2  %>   
</p>
<p>
    <b> Telefono  2 : </b>
    <%=   @manifest.telefono2  %>   
</p>

<%= hr() %>

<h3>
  Details
</h3>

</table>
<br />

<%= hr() %>

<% if @manifest.especificacion != "" %>
  <div>
    <b> Especificacion :</b>
    <br />
    <br />
    <%= format_text(@manifest.especificacion) %>
  </div>
  <%= hr() %>
<% end %>
<h5>
  Carga
</h5>


 <table style="width:100%">
  <tr>
    <th>Largo</th>
    <th><%=@manifest.largo  %></th>
    <th>Ancho</th>
    <th><%=@manifest.ancho %></th>
    <th>Alto</th>
    <th><%=@manifest.alto %></th>
  </tr>
  <tr>
    <td>Peso</td>
    <td><%=@manifest.peso %></td>
    <td>Bultos</td>
    <td><%=@manifest.bultos %></td>
    <td>Otros</td>
    <td<%=@manifest.otros %></td>
    
  </tr>
  
</table> 

<p>
    <b> Observaciones carga : </b>
    <%=   @manifest.observa   %>   
</p>
<p>
    <b> Observaciones  : </b>
    <%=   @manifest.observa2  %>   
</p>



<br />

<div>
  <strong><%= @manifest.get_processed %></strong>
  <% if @manifest.processed == "1" and @manifest.date_processed %>
    <%= doDate(@manifest.date_processed) %>
  <% end %>
</div>


<p>
  <strong> Usuario :</strong>
  
 
</p>

<%= hr() %>

<div class="button">
  <%= link_to 'Exportar to PDF', "/manifests/pdf/#{@manifest.id}.pdf" %>  
  <% if @manifest.processed == "1" %>

  <tr>

    <%= link_to 'Enviar  via email', "/manifests/sendmail/#{@manifest.id}" %>


    </tr>
    

  <% else %>
  <%= link_to 'Procesar ST.', "/manifests/do_process/#{@manifest.id}" %>

  <% end %>
  
  <%= link_to 'Regresar', manifests_path %>
</div>