<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @tipocar.code %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @tipocar.nombre %>
</p>

<%= link_to 'Edit', edit_tipocar_path(@tipocar) %> |
<%= link_to 'Back', tipocars_path %>
