<div class="mid_box bordered_right">
    
  
  <%= hr() %>

  <h3>
    <%= image_tag("invoice_32.png", :class => "vmiddle") %>
    <%= link_to "Liquidacion de gastos de Combustible ", lgcs_path %>
  </h3>

  <p>
     Liquidacion de gastos de combustible
  </p>
  
  <%= hr() %>

   <h3>
    <%= image_tag("supplier_32.png", :class => "vmiddle") %>
    <%= link_to "Ticket de consumo Pex ", pexes_path %>
  </h3>

  <p>
     Agregar, editar or eliminar tickets de consumo de combustible.
  </p>
  <%= hr() %>

  
  
</div>

<div class="mid_box">

<%= hr() %>

     <% if @current_user.level == "admin" %>
  <h3>
    <%= image_tag("product_kit_32.png", :class => "vmiddle") %>
    <%= link_to "Estacion de servicio ", eesses_path  %>
  </h3>

  <p>
   Agregar editar o elminar estacion de servicio .
  </p>

  <%= hr() %>
 
  
  <h3>
    <%= image_tag("divisions_32.png", :class => "vmiddle") %>
    <%= link_to "Tipo de vehiculo", tipocars_path %>
  </h3>

  <p>
     Agregar, editar or eliminar  tipo de vehiculo .
  </p>
   <% end %>
  
  
  <%= hr() %>
  
  <h3>

  
  <h3>
    <%= image_tag("divisions_32.png", :class => "vmiddle") %>
    <%= link_to "Reportes", "/companies/reports/reports_lgc/#{@company.id}" %>
  </h3>

  <p>
    Reportes de liquidacion de gastos de combustible
  </p>

</div>