<div class="mid_box bordered_right">
    
  
  <%= hr() %>

  <h3>
    <%= image_tag("invoice_32.png", :class => "vmiddle") %>
    <%= link_to "Documnentos de conductores ", "/companies/outputs/#{@company.id}" %>
  </h3>

  <p>
     Documentos de conductores 
  </p>
  
  <%= hr() %>

   <h3>
    <%= image_tag("supplier_32.png", :class => "vmiddle") %>
    <%= link_to "Documentos de Personal Admministrativo", conductors_path %>
  </h3>

  <p>
     
     Documnentos de personal administrativo.

       </p>
  <%= hr() %>


  
  
  
  
  
</div>
