<div class="mid_box bordered_right">
    
  
  <%= hr() %>

  <h3>
    <%= image_tag("invoice_32.png", :class => "vmiddle") %>
    <%= link_to "Control de unidades ", "/companies/outputs/#{@company.id}" %>
  </h3>

  <p>
   Agregar, editar or eliminar de control de unidades 
  </p>
  
  <%= hr() %>

   <h3>
    <%= image_tag("supplier_32.png", :class => "vmiddle") %>
    <%= link_to "Aprobacion de inspecciones vehicularees.", conductors_path %>
  </h3>

  <p>
     Agregar, editar or eliminar de inspecciones vehiculares.
  </p>
  <%= hr() %>
 
  
  
</div>
