<div class="mid_box bordered_right">
    
  
  <%= hr() %>

  <h4>
    <%= image_tag("invoice_32.png", :class => "vmiddle") %>
    <%= link_to "Autorización de gestion nueva o renovacion", exmautorizs_path %>
  </h4>

  <p>
     Autorizacion de gestion nueva o renovacion.
  </p>
  
  <%= hr() %>

   <h4>
    <%= image_tag("supplier_32.png", :class => "vmiddle") %>
    <%= link_to "Cargo de aprobacion de exm. y cap.", exmautorizs_path %>
  </h4>

  <p>
     Agregar, editar or eliminar proveedores para tu negocio.
  </p>
  <%= hr() %>

  
   <h4>
    <%= image_tag("supplier_32.png", :class => "vmiddle") %>
    <%= link_to "Status de ingreso  a proyectos mineros" , trucks_path %>
  </h4>

  <p>
     Agregar, editar or eliminar proveedores para tu negocio.
  </p>
  <%= hr() %>
  



  
  
   <h4>
    <%= image_tag("supplier_32.png", :class => "vmiddle") %>
    <%= link_to "Matriz de inversion para proyectos mineros " , trucks_path %>
  </h4>

  <p>
     Matriz de inversion para proyectos mineros.
  </p>
  <%= hr() %>
  

  
  
   <h4>
    <%= image_tag("supplier_32.png", :class => "vmiddle") %>
    <%= link_to "Autorización de viaticos para Exm.Med.y capacitaciones " , autoviatics_path %>
  </h4>

  <p>
     Matriz de inversion para proyectos mineros.
  </p>
  <%= hr() %>
  
  
  
  
  
</div>

<div class="mid_box">
<%= hr() %>
  <h4>
        <div>
    <%= image_tag("clients_32.png", :class => "vmiddle") %>
    <%= link_to "Base de datos examnes medicos y capacitaciones", "/companies/reports/reports_basedatosexm/#{@company.id}" %>
        </div>
  </h4>
  
  <p>
     Agregar, editar or eliminar exm.medicos y capacitaciones.
  </p>

<%= hr() %>

     <% if @current_user.level == "admin" %>
  <h4>
    <%= image_tag("product_kit_32.png", :class => "vmiddle") %>
    <%= link_to "Base de datos de Contacto a minas ", contactopms_path   %>
  </h4>

  <p>
   Agregar, editar or eliminar contactos a minas 
  </p>

  <%= hr() %>
 
  
  <h4>
    <%= image_tag("divisions_32.png", :class => "vmiddle") %>
    <%= link_to "Base de datos de empresas capacitadoras ", "/companies/suppliers/#{@company.id}/1" %>
   </h4>
   
  <p>
      Agregar, editar or eliminar contactos base de datos de empresas capacitadoras.
  </p>

   <% end %>
  
  
  <%= hr() %>
  
  <h3>


</div>