<div class="mid_box bordered_right">
    
  
  <%= hr() %>

  <h3>
    <%= image_tag("invoice_32.png", :class => "vmiddle") %>
    <%= link_to "Control de Documentos", "/companies/examens01/#{@company.id}" %>
  </h3>

  <p>
     Control de documentos 
  </p>
  
  <%= hr() %>

   <h3>
    <%= image_tag("supplier_32.png", :class => "vmiddle") %>
    <%= link_to "Homologacion a Proyectos Mineros",  "/companies/examens02/#{@company.id}" %>
  </h3>

  <p>
     Homologacion a Proyectos mineros
  </p>
  <%= hr() %>

  
   <h3>
    <%= image_tag("supplier_32.png", :class => "vmiddle") %>
    <%= link_to "Unidades" , trucks_path %>
  </h3>

  <p>
     Agregar, editar or eliminar unidades 
  </p>
  <%= hr() %>
  
  
  
  
  
  
</div>

<div class="mid_box">
<%= hr() %>
  <h3>
        <div>
    <%= image_tag("clients_32.png", :class => "vmiddle") %>
    <%= link_to "Aviso de Pago", payment_notices_path   %>
        </div>
  </h3>
  
  <p>
     Agregar, editar o eliminar avisos de pago
  </p>

<%= hr() %>

     <% if @current_user.level == "admin" %>
  <h3>
    <%= image_tag("product_kit_32.png", :class => "vmiddle") %>
    <%= link_to "Control de asistencias", autoviaticos_path   %>
  </h3>

  <p>
   Agregar, editar o eliminar  control de asistencias 
  </p>

  <%= hr() %>
 
  
  <h3>
    <%= image_tag("divisions_32.png", :class => "vmiddle") %>
    <%= link_to "Programacion de Exm.Medicos y Capacitacion", cdocuments_path %>
  </h3>

  <p>
    Programacion de Examenes medicos y capacitaciones. 
  </p>
   <% end %>
  
  
  <%= hr() %>
  
  <h3>


</div>