<div class="mid_box bordered_right">



  <h3>
    <%= image_tag("invoice_32.png", :class => "vmiddle") %>
    <%= link_to "Operatividad de Unidades", "/companies/serviceorders/#{@company.id}" %>
  </h3>

  <p>
     Agregar, editar or eliminar operatividad de unidades
  </p>
  
  <%= hr() %>

  <h3>
    <%= image_tag("invoice_32.png", :class => "vmiddle") %>
    <%= link_to "Control de Neumaticos ", "/companies/purchaseorders/#{@company.id}" %>
  </h3>

  <p>
     Agregar, editar or eliminar de control de neumaticos.
  </p>
  
 

  <%= hr() %>

  <h3>
    <%= image_tag("invoice_32.png", :class => "vmiddle") %>
    <%= link_to "Historial de Mantenimiento ", "/companies/purchaseorders/#{@company.id}" %>
  </h3>

  <p>
     Agregar, editar or eliminar historial de mantenimiento.
  </p>
  
 

  <%= hr() %>

  <h3>
    <%= image_tag("invoice_32.png", :class => "vmiddle") %>
    <%= link_to "Mantenimiento preventino ", "/companies/purchaseorders/#{@company.id}" %>
  </h3>

  <p>
     Agregar, editar or eliminar  mantenimiento preventivo.
  </p>



</div>

<div class="mid_box">
 

 
    
  <h3>
    <%= image_tag("reports_32.png", :class => "vmiddle") %>
    <%= link_to "Reportes", "/companies/reports_compras/#{@company.id}" %>
  </h3>

  <p>
    Reportes de mantenimento.
  </p>

 

  <%= hr() %>