<div class="mid_box bordered_right">
  

  
  <h3>
    <%= image_tag("products_32.png", :class => "vmiddle") %>
    <%= link_to "Comprobante Egreso ", couts_path %>
  </h3>

  <p>
    Agregar, editar or eliminar liquidacion de viaticos/cajas que tu negocio ofrece.
  </p>

  <%= hr() %>

  <h3>
    <%= image_tag("products_32.png", :class => "vmiddle") %>
    <%= link_to "Comprobante Egreso Local ", "/couts/list_couts/1" %>
  </h3>

  <p>
    Agregar, editar or eliminar liquidacion de viaticos/cajas que tu negocio ofrece.
  </p>

  <%= hr() %>


  <h3>
    <%= image_tag("products_32.png", :class => "vmiddle") %>
    <%= link_to "Liquidacion Caja ","/companies/viaticos/2" %>
  </h3>

  <p>
    Agregar, editar or eliminar liquidacion de viaticos/cajas que tu negocio ofrece.
  </p>

  <%= hr() %>


  <h3>
    <%= image_tag("products_32.png", :class => "vmiddle") %>
    <%= link_to "Liquidacion Caja - Compra de repuestos","/companies/viaticos/3" %>
  </h3>

  <p>
    Agregar, editar or eliminar liquidacion de viaticos/cajas que tu negocio ofrece.
  </p>

  <%= hr() %>

  
  <h3>
    <%= image_tag("products_32.png", :class => "vmiddle") %>
    <%= link_to "Liquidacion Caja - Arequipa ","/companies/viaticos/4" %>
  </h3>

  <p>
    Agregar, editar or eliminar liquidacion de viaticos/cajas que tu negocio ofrece.
  </p>

  <%= hr() %>

  

  <h3>
    <%= image_tag("product_kit_32.png", :class => "vmiddle") %>
    <%= link_to "Liquidacion de viaje por conductor ","/companies/viaticolgvs/#{@company.id}" %>
  </h3>

  <p>
   Agregar, editar or eliminar Liquidacion de viaje por conductor
  </p>

  <%= hr() %>


  
  <h3>
    <%= image_tag("product_kit_32.png", :class => "vmiddle") %>
    <%= link_to "Liquidacion de Viaticos telebanking  ","/companies/viaticotbks/#{@company.id}" %>
  </h3>

  <p>
   Agregar, editar or eliminar Liquidacion de viaticos telebanking por conductor
  </p>

  <%= hr() %>
</div>

<div class="mid_box">
  
  
  
  <h3>
      <div>
        <%= image_tag("product_kit_32.png", :class => "vmiddle") %>
        <%= link_to "Gastos", gastos_path  %>
      </div>
  </h3>
  <p>
    Gastos 
  </p>


<% if current_user.level =="admin"%>
  <h3>
      <div>
        <%= image_tag("product_kit_32.png", :class => "vmiddle") %>
        <%= link_to "Egresos", egresos_path  %>
      </div>
  </h3>
  <p>
    Egresos
  </p>

<% end %>

<%= hr() %>
  <h3>
        <div>
          <%= image_tag("divisions_32.png", :class => "vmiddle") %>
          <%= link_to "Reportes" , "/companies/reports/reports_caja/#{@company.id}" %>
           
        </div>
  </h3>
  <p>
    Reporte de viaticos 
  </p>
