<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @proyecto_minero_exam.proyecto_minero.descrip %>
</p>

<p>
  <strong>Observacion:</strong>
  <%= @proyecto_minero_exam.proyectominero2.name %>
</p>

<p>
  <strong>Reference:</strong>
  <%= @proyecto_minero_exam.proyectominero3.name  %>
</p>


<%= link_to 'Edit', edit_proyecto_minero_exam_path(@proyecto_minero_exam) %> |
<%= link_to 'Back', proyecto_minero_exams_path %>
