
<%= form_for [@proyecto_exam, @proyectoexam_detail]  do |f| %>



<table class="ui right aligned table">
  <thead>
    
  </thead>



<tbody>

    <tr>
      <td class="small bordered_bottom bordered_right">
         
    <div class="field">
      <%= f.label :employee_id,"Empleado  :" %><br />
      <%= f.collection_select :employee_id, @employees, :id, :full_name2, :prompt => true %>
      
      </div>

      </td>

     <tr>    
      <%rating_id = ""%>
    
                 <% for detalle in @detalle  %>

                  <% rating_id = "field_" <<  detalle.id.to_s %>

              <tr>
                    
                     <td>

                        <%=  detalle.proyectominero3.formatofecha %>


                            <td><%= detalle.proyectominero2.name   %></td>


                            <td><%= detalle.proyectominero3.name   %></td>

                     </td>

                    <% if detalle.proyectominero3.formatofecha == "1" %>

                         <% if detalle.fecha ==  nil %>

                           <td>
                       <%le_an_gln = "//"  %>
                        <input type="date" name= "<%="#{rating_id}" %>" id= "<%= "#{rating_id}" %>" value="<%= le_an_gln %>" class="tf_shorty" /></td>


                          
                         <% else %>                    
                           


                       <%le_an_gln = detalle.fecha.to_date  %>
                          <td>  <input type="date" name= "<%="#{rating_id}" %>" id= "<%= "#{rating_id}" %>" value="<%= le_an_gln %>" class="tf_shorty" /></td>
                          
                        <% end %>
                    <% else %>

                          

                       <%le_an_gln = detalle.observacion  %>
                      <td> <input type="text" name= "<%="#{rating_id}" %>" id= "<%= "#{rating_id}" %>" value="<%= le_an_gln %>" class="tf_shorty" /></td>

                    <% end %>
                     
            </tr>
                <% end %>

</tbody>

 </table>


  <div class="form-actions">

    
   
     <%= submit_tag  "Grabar informacion " ,  class: "ui primary button"   %>

  </div>


<%end%>


<%= render 'layouts/autocomplete' %>


<script>



function  addItemToProyectoExamEdit() {

  alert("dddd")

 var x = document.getElementsByTagName("input");

  console.log("x: " + x);
  console.log("Number of inputs: " + x.length);



  var arrayOfInputNames = [];
  var campo_gln ;
  var campo_dif ;


      for (var i = 0; i < x.length; i++) {
      //for(key in x) {
        console.log("i: " + i);
        console.log("value: " + x[i].name);

        arrayOfInputNames.push(x[i].name );

      }

   var cadena = "" ;
   var diferencia = 0; 
   var item_line = "";
   var items = "";

  fLen = arrayOfInputNames.length;

    for (i = 0; i < fLen; i++) {

       cadena = arrayOfInputNames[i] ;


      if (cadena.substring(0,6) == "field_" ){

              campo_ent = cadena;
              
             // alert($("input[name="+campo_sal+"]").val());
              campo_ent_val = $("input[name="+campo_ent+"]").val();
                      
              item_line = campo_ent_val + "|BRK|";
          

              items = items  + item_line ;
      
              alert(items);

            }

            
        else {
        
      }

      
    }



     var proyecto_minero_id  = <%= @proyecto_minero_id  %> ; 
     var proyecto_exam_id    = <%= @proyecto_exam_id %> ;
      var empleados_id  = $("#employee_id").val();
    
   
    $.get('/proyecto_exams/do_grabar/<%= @proyecto_exam_id %>/'+ empleados_id +"/" + proyecto_minero_id,  {
      items: items
    },
    function(data) {
      $("#list_items").html(data);
      documentReady();
    });


    
      alert("Documento grabado ");



    
   var cadena = "" ;
   var diferencia = 0; 
   var item_line = "";
   var items = "";

  fLen = arrayOfInputNames.length;

    for (i = 0; i < fLen; i++) {

       cadena = arrayOfInputNames[i] ;


      if (cadena.substring(0,6) == "field_" ){

              campo_ent = cadena;
              
             // alert($("input[name="+campo_sal+"]").val());
              campo_ent_val = $("input[name="+campo_ent+"]").val();
                      
              item_line = campo_ent_val + "|BRK|";
          

              items = items  + item_line ;
      

            }

            
        else {
        
      }

      
    }
    

}


</script>