
<%= simple_form_for [@proyecto_exam, @proyectoexam_detail] do |f| %>


<table class="ui right aligned table">
  <thead>
    
  </thead>

<tr>
  

     <th class="small bordered_bottom bordered_right">
     </th>

      <% for productItem in @pumps %>

        <% rating_id = productItem.proyectominero2.name  %>
       
        <th class="small bordered_bottom bordered_right">
          <%="#{rating_id}" %>
        </th>

        
    <% end %>
  </tr>
<tr>


     <th class="small bordered_bottom bordered_right">

      EMPLEADO 
     </th>


      <% for productItem in @pumps %>

        <% rating2_id = productItem.proyectominero3.name  %>
        
        
        <th class="small bordered_bottom bordered_right">
          <%="#{rating2_id}" %>
        </th>

        
      <% end %>


  </tr>
     

<tbody>

    <tr>
      <td class="small bordered_bottom bordered_right">
         
         <%= @empleado.full_name2 %>

      </td>

    
                 <% for detalle in @detalle  %>

                     
                    <% if detalle.proyecto_minero_exam.proyectominero3.formatofecha == "1" %>

                         <% if detalle.fecha ==  nil %>

                           <td class="small bordered_bottom bordered_right" >
                              -
                           </td>

                         <% else %>
               
                           <td class="small bordered_bottom bordered_right" >
                            <%= detalle.fecha.strftime("%d/%m/%Y")  %>
                           </td>

                          


                        <% end %>


                    <% else %>


                          <td  class="small bordered_bottom bordered_right">
                            <%= detalle.observacion  %>
                           </td>
  

              
                    <% end %>
                     
            
                <% end %>

</tbody>

 </table>


  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
