<p id="notice"><%= notice %></p>

<p>
  <strong>Doc:</strong>
  <%= @pex.doc %>
</p>

<p>
  <strong>Razon:</strong>
  <%= @pex.razon %>
</p>

<p>
  <strong>Red:</strong>
  <%= @pex.red %>
</p>

<p>
  <strong>Ruc red:</strong>
  <%= @pex.ruc_red %>
</p>

<p>
  <strong>Placa:</strong>
  <%= @pex.placa %>
</p>

<p>
  <strong>Nromiddia:</strong>
  <%= @pex.nromiddia %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @pex.categoria %>
</p>

<p>
  <strong>Fecha inicio:</strong>
  <%= @pex.fecha_inicio %>
</p>

<p>
  <strong>Hora inicio:</strong>
  <%= @pex.hora_inicio %>
</p>

<p>
  <strong>Fecha fin:</strong>
  <%= @pex.fecha_fin %>
</p>

<p>
  <strong>Hora fin:</strong>
  <%= @pex.hora_fin %>
</p>

<p>
  <strong>Fecha apro:</strong>
  <%= @pex.fecha_apro %>
</p>

<p>
  <strong>Hora apro:</strong>
  <%= @pex.hora_apro %>
</p>

<p>
  <strong>Plaza:</strong>
  <%= @pex.plaza %>
</p>

<p>
  <strong>Pista:</strong>
  <%= @pex.pista %>
</p>

<p>
  <strong>Importe:</strong>
  <%= @pex.importe %>
</p>

<p>
  <strong>Nro compro:</strong>
  <%= @pex.nro_compro %>
</p>

<p>
  <strong>Fecha compro:</strong>
  <%= @pex.fecha_compro %>
</p>

<%= link_to 'Edit', edit_pex_path(@pex) %> |
<%= link_to 'Back', pexes_path %>
