<p id="notice"><%= notice %></p>

<h1>Listing Tramits</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tramits.each do |tramit| %>
      <tr>
        <td><%= tramit.code %></td>
        <td><%= tramit.name %></td>
        <td><%= link_to 'Show', tramit %></td>
        <td><%= link_to 'Edit', edit_tramit_path(tramit) %></td>
        <td><%= link_to 'Destroy', tramit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tramit', new_tramit_path %>
