<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @products_line.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @products_line.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @products_line.user_id %>
</p>

<%= link_to 'Editar', edit_products_line_path(@products_line) %> |
<%= link_to 'Regresar', products_lines_path %>
