<p id="notice"><%= notice %></p>

<h1>Listing Tipocustomers</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
   
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tipocustomers.each do |tipocustomer| %>
      <tr>
        <td><%= tipocustomer.code %></td>
        <td><%= tipocustomer.name %></td>
    
      
        <td><%= link_to 'Show', tipocustomer %></td>
        <td><%= link_to 'Edit', edit_tipocustomer_path(tipocustomer) %></td>
        <td><%= link_to 'Destroy', tipocustomer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tipocustomer', new_tipocustomer_path %>
