 <% if @tranportorder.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@tranportorder.errors.count, "error") %> prohibited this invoice from being saved:</h2>

    <ul>
    <% @tranportorder.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>       





<div >

<%= form_for(@tranportorder) do |f| %>

  <div >

<table style="width:100%">
  <tr>
    <td>
    <div class="field">
      <%= f.label :location_id ,"Local"%><br />
       <td>  <%= f.collection_select :location_id, @locations, :id, :name, :prompt => true %></td>
  
           
    </div>
    </td>
    <td>
    <div class="field">
      <%= f.label :code, "Numero *", :class => "bold" %><br />
      <%= f.text_field :code, :onclick => "$(this).select();" %>
    </div>

    </td>
    <td>

         <div >

          
            <%= f.label :customer_id , "Cliente :"%><br />
            <%= f.collection_select :customer_id, @customers, :id, :name, :prompt => true,:size=> "60" %>
         
        </div>
      </td>

  </td>

</tr>
</table>

<br>

<table style="width:100%">

  <tr>
    <td>Ruta</td>
    <td>De:</td>
    <td>  <%= f.collection_select :ubication_id, @puntos, :id, :name, :prompt => true %></td>
    <td>Fecha Salida</td>
    <td>  <%= f.date_field :fecha1 %></td>
    <td>Fecha Llegada</td>
    <td>  <%= f.date_field :fecha2 %></td>
    
  </tr>

  <tr>
    <td></td>
    <td>A: </td>
    <td>  <%= f.collection_select :ubication2_id, @puntos, :id, :name, :prompt => true %></td>
    
    <td>Tipo Carga </td>

    <td>  <%= f.collection_select :tipocargue_id, @cargas, :id, :name, :prompt => true %></td>
    <td>Carga </td>
    <td> <%= f.text_field :carga  %></td>
    
  </tr>


</table>
  <br>
<p>Guia Remision Transportista </p>
 <p> <%= f.text_field :description %></p>

<table class="ui right aligned table">
      <thead>
        <th class="left aligned">Datos</th>
        <th>Placa</th>
        <th>Tipo Unidad</th>
        <th>Configuracion</th>
        <th>Clase/ 
        Categoria</th>
        <th>Color</th>
        <th>Año</th>
        <th>Modelo</th>
        <th>Marca</th>
        <th>CHV</th>
        <th>Nro.Ejes</th>


      </thead>
      <tbody>
        <tr>
          <td class="left aligned">Tracto</td>

        

          <td><%= f.collection_select :truck_id, @trucks, :id, :placa, :prompt => true %></td>

          <td> </td>
          <td> </td>


        </tr>
        <tr>
          <td class="left aligned">Carreta</td>
          <td>  <%= f.collection_select :truck2_id, @trucks, :id, :placa, :prompt => true %></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="left aligned">Escolta</td>
          <td>  <%= f.collection_select :truck3_id, @trucks, :id, :placa, :prompt => true %></td>
          <td> </td>
          <td> </td>
        </tr>


       
      </tbody>
    </table>


<table class="ui right aligned table">
      <thead>
        <th class="left aligned"></th>
        <th>Datos</th>
        <th>Conductor</th>
        <th></th>
      </thead>
      <tbody>
        <tr>
          <td class="left aligned">Conductor</td>
          <td><%= f.collection_select :employee_id, @employees, :id, :full_name, :prompt => true %> </td>
          <td>DNI</td>
          <td> </td>
          <td>Licencia</td>
          <td></td>
        </tr>
        <tr>
          <td class="left aligned">Conductor</td>
          <td><%= f.collection_select :employee2_id, @employees, :id, :full_name, :prompt => true %> </td>
          <td>DNI</td>
          <td></td>
          <td>Licencia</td>
          <td></td>
        </tr>
         <tr>
          <td class="left aligned">Escolta </td>
          <td><%= f.collection_select :employee4_id, @employees, :id, :full_name, :prompt => true %> </td>
          <td>DNI</td>
          <td></td>
          <td>Licencia</td>
          <td></td>
        </tr>


         <tr>
          <td class="left aligned">Supervisor / Apoyo </td>
          <td><%= f.collection_select :employee3_id, @employees, :id, :full_name, :prompt => true %> </td>
          <td>DNI</td>
          <td></td>
          <td>Licencia</td>
          <td></td>
        </tr>
        
      </tbody>
    </table>

    <%= hr() %>


  </div>


    <div class="actions">
      <input type="hidden" name="items2" id="items2" value="<% if @guias_lines %><%= @guias_lines %><% end %>" />
          <%= f.hidden_field :company_id %>    

      
      <%= f.submit  class: "ui primary button"   %>
    </div>
    
    <div class="small">
      Once you're done adding products, don't forget to <strong><%= @action_txt %></strong> your invoice.
    </div>


 
<% end %>


<%= render 'layouts/autocomplete' %>


 </div>

 


<%= br() %>
<br />



<script type="text/javascript">
  
  $(document).ready(function() {
  

    $("#ac_item3").autocomplete("/facturas/ac_st/<%= @company.id %>", {
      matchSubset: 1,
      matchContains: 1,
      selectFirst: false
    });


    
    $("#ac_item3").result(function(event, data, formatted) {
      $("#ac_item_guia").val(data[2]);    
      $("#selected_guia").html(data[0]);      
    });
    

   <% if @guias_lines %>
      listItemsSt2();
    <% end %>

  });
</script>







