

<div id="friend-lookup">

  
<%= form_tag search_manifests_path, remote: true, method: :get, id: 'friend-lookup-form' do %>

<div class="form-group row no-padding text-center col-md-12">

<div class="col-md-10">

<%= text_field_tag :search_param,

params[:search_param],

placeholder: 'Code:',

autofocus: true,

class: 'form-control search-box input-lg' %>

</div>

<div class="col-md-2">

<%= button_tag(type: :submit, class: 'btn btn-lg btn-success') do %>

<i class='fa fa-search'></i> Buscar S.T.

<% end %>


</div>

</div>

<% end %>



<% if @manifests %>

<% if @manifests.size > 0 %>

<h3>Search Results</h3>

<div id="friend-lookup-results" class="well results-block col-md-10">

<table class="search-results-table col-md-12">

<tbody>

<% @manifests.each do |detalle| %>

<tr>

<td><strong>S.T.</strong> <%= detalle.code %></td>

<td><strong>Fecha</strong> <%= detalle.fecha1 %></td>


<% if detalle.not_friends_with?(detalle.id) %>

<%= link_to "Agregar Item ", add_manifest_path(user: detalle.id , friend: @tranport.id),

class: 'btn btn-xs btn-success', method: :post %>

<% else %>

<span class='label label-primary'>

You are friends

</span>

<% end %>




</td>

</tr>

<% end %>

</tbody>

</table>

</div>

<% else %>

<p class="lead col-md-12">

No people match this search criteria

</p>

<% end %>

<% end %>

<div id="friend-lookup-errors"></div>

</div>



<script type="text/javascript">
  


var init_friend_lookup;

init_friend_lookup = function(){

$('#friend-lookup-form').on('ajax:before', function(event, data, status){

show_spinner();

});

$('#friend-lookup-form').on('ajax:after', function(event, data, status){

hide_spinner();

});

$('#friend-lookup-form').on('ajax:success', function(event, data, status){

$('#friend-lookup').replaceWith(data);

init_friend_lookup();

});

$('#friend-lookup-form').on('ajax:error', function(event, xhr, status, error){

hide_spinner();

$('#friend-lookup-results').replaceWith(' ');

$('#friend-lookup-errors').replaceWith('Person was not found.');

});

}

$(document).ready(function() {

init_friend_lookup();

})
;



</script>

