



<% if @payment_notice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment_notice.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @payment_notice.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<p>
  <h2> <strong>Aviso de Pago </strong> </h2>
</p>



<p>
  <strong>Code:</strong>
  <%= @payment_notice.code %>
</p>

<p>
  <strong>Para :</strong>
  <%= @payment_notice.employee.full_name %>
</p>

<p>
  <strong>Asunto:</strong>
  <%= @payment_notice.asunto %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @payment_notice.fecha %>
</p>

<p>
  <strong>Concepto:</strong>
  <%= @payment_notice.concepto %>
</p>

<p>
  <strong>Proveedor :</strong>
  <%= @payment_notice.supplier.name  %>
</p>

<p>
  <strong>Total:</strong>
  <%= @payment_notice.total %>
</p>

<p>
  <strong>Processed:</strong>
  <%= @payment_notice.get_processed %>
</p>

<p>
  <strong>Date processed:</strong>
  <%= @payment_notice.date_processed %>
</p>

<table> 


<tbody>

      <% total_1 = 0%>
      <% total_2 = 0%>
      <% total_3 = 0%>
       <thead>
      <tr>

        <th class="small bordered_bottom bordered_right">
          Fec.Inicio
        </th>


        <th class="small bordered_bottom bordered_right">
          Fec.Culminacion 
        </th>

        <th class="small bordered_bottom bordered_right">
          Cant.
        </th>
        <th class="small bordered_bottom bordered_right">
          Descrip
        </th>

        
        <th class="small bordered_bottom bordered_right">
          Lugar
        </th>
        <th class="small bordered_bottom bordered_right">
          Pre.Unit.
        </th>
        <th class="small bordered_bottom bordered_right">
          Sub Total
        </th>

        <th class="small bordered_bottom bordered_right">
           IGV.
        </th>

        <th class="small bordered_bottom bordered_right">
           Total
        </th>

        <th class="small bordered_bottom bordered_right">
           Nro.Compro.
        </th>

        <th class="small bordered_bottom bordered_right">
           Nro.Documento.
        </th>
        <th class="small bordered_bottom bordered_right">
           Observa 
        </th>




      </tr>
    </thead>


    <% for product in @payment_notice.get_products %>
        <tr>

          <td> <%= product.fecha_inicio.strftime("%d/%m/%Y")  %> </td>
          <td> <%= product.fecha_culmina.strftime("%d/%m/%Y") %> </td>
          <td class="small bordered_bottom bordered_right">
            <%= product.qty %>
          </td>

          <td class="small bordered_bottom bordered_right" style="width: 220px;">
            <a href="#" onclick="removeItemFromPaymentAdvice(<%= product.descrip %>); return false;" title="Remover item de Aviso"><%= product.descrip %></a>
            [<a href="#" onclick="removeItemFromPaymenAdvice(<%= product.descrip %>); return false;" title="Remover item de Aviso">X</a>]
          </td>
          
           <td class="small bordered_bottom bordered_right">
            <%= product.lugar %>
          </td>

           <td class="small bordered_bottom bordered_right">
            <%= money(product.price_unit) %>
          </td>

          <td class="small bordered_bottom bordered_right">
            <%= money(product.sub_total) %>
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= money(product.igv) %> 
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= money(product.total) %>
          </td>
        <td class="small bordered_bottom bordered_right">
            <%= product.nro_compro %>
          </td>

          <td class="small bordered_bottom bordered_right">
            <%= product.nro_documento %>
          </td>
       <td class="small bordered_bottom bordered_right">
            <%= product.observa  %>
          </td>

        </tr>


        <% total_1 += product.total %>
        
      <% end %>
      
      <% total_3 = total_1 / 1.18 %>
      <% total_2 = total_1 - total_3 %>
    
    </tbody>
    
        <tr>
          <td >
          </td>
          
          <td class="small bordered_bottom bordered_right">
          </td>
          <td class="small bordered_bottom bordered_right">
            
          </td>

            <td class="small bordered_bottom bordered_right">
          </td>
          <td class="small bordered_bottom bordered_right">
            
          </td> 

           <td class="small bordered_bottom bordered_right">
          </td>
          <td class="small bordered_bottom bordered_right">
            

      


          <td class="small bordered_bottom bordered_right">
            Op.Gravada
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= money(total_3) %>
          </td>
        </tr>
    
    <tr>
          <td >
          </td>
         <td class="small bordered_bottom bordered_right">
          </td>
          <td class="small bordered_bottom bordered_right">
            
          </td>

            <td class="small bordered_bottom bordered_right">
          </td>
          <td class="small bordered_bottom bordered_right">
            
          </td> 

           <td class="small bordered_bottom bordered_right">
          </td>
          <td class="small bordered_bottom bordered_right">
            
          </td>
           
          <td class="small bordered_bottom bordered_right">
           I.G.V.
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= money(total_2) %>
          </td>
        </tr>
    <tr>
          <td class="small bordered_bottom bordered_right">
          </td>
          <td class="small bordered_bottom bordered_right">
            
          </td>

            <td class="small bordered_bottom bordered_right">
          </td>
          <td class="small bordered_bottom bordered_right">
            
          </td> 

           <td class="small bordered_bottom bordered_right">
          </td>
          <td class="small bordered_bottom bordered_right">
            
          </td>

           <td class="small bordered_bottom bordered_right">
            
          </td>

        
         
          <td class="small bordered_bottom bordered_right">
            Op.Gravada
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= money(total_1) %>
          </td>
        </tr>
    
    
  </table>
<br />



<div class="button">
  
   
<%= link_to 'Export PDF', "/payment_notices/pdf/#{@payment_notice.id}" %>
  
<% if @payment_notice.processed =="0" || @payment_notice.processed==nil %>
  <%= link_to 'Aprobar', "/payment_notices/do_process/#{@payment_notice.id}" %>

  
<% elsif @payment_notice.processed =="1" and current_user.level =="admin" %>  

   <%= link_to 'Anular', "/payment_notices/do_anular/#{@payment_notice.id}" %>
  

<% end %>
<%= link_to 'Regresar',payment_notices_path %>
</div>


