<p id="notice"><%= notice %></p>

<p>
  <strong>Contacto:</strong>
  <%= @contactopmdetail.contacto %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contactopmdetail.email %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @contactopmdetail.telefono %>
</p>

<p>
  <strong>Contactopm:</strong>
  <%= @contactopmdetail.contactopm %>
</p>

<%= link_to 'Edit', edit_contactopmdetail_path(@contactopmdetail) %> |
<%= link_to 'Back', contactopmdetails_path %>
