<% if @purchaseorders.count > 0 %>
  <table>
    <thead>
      <tr>
        <th class="small bordered_bottom bordered_right" style="width: 100px;">
          Orden Compra
        </th>
        <th class="small bordered_bottom bordered_right" style="width: 350px;">
          Proveedor 
        </th>
       <td class="small bordered_bottom bordered_right">
          Moneda
        </th>      
       <td class="small bordered_bottom bordered_right">
          Total
        </th>
       <td class="small bordered_bottom bordered_right">
          Fecha 
        </th>
       <td class="small bordered_bottom bordered_right">
          Processed
        </th>
        <th class="small bordered_bottom bordered_right" colspan="3">
          Options
        </th>
      </tr>
    </thead>
    <tbody>
    
      <% for purchaseorder in @purchaseorders %>
        <tr>
         <td class="small bordered_bottom bordered_right">
            <%= link_to purchaseorder.code, purchaseorder, :title => "Ir a factura" %>
          </td>
         <td class="small bordered_bottom bordered_right">
            <%= link_to purchaseorder.supplier.name, purchaseorder.supplier, :title => "Go to supplier" %>
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= purchaseorder.moneda.symbol %>
          </td>
          
          <td class="small bordered_bottom bordered_right">
            <%= money(purchaseorder.total) %>
          </td>
         <td class="small bordered_bottom bordered_right">
            <%= doDate(purchaseorder.created_at) %>
          </td>
          <td class="small bordered_bottom bordered_right <%= purchaseorder.processed_color %>" >
            <%= purchaseorder.get_processed_short %>
          </td>
         <td class="small bordered_bottom bordered_right">
            <%= link_to "Ver", purchaseorder %>
          </td>
<td class="small bordered_bottom bordered_right">  

            

         <% if purchaseorder.processed =="" || purchaseorder.processed == nil %>

          <%= link_to "Edit", edit_purchaseorder_path(purchaseorder) %>                      
          <%= link_to 'Eliminar', purchaseorder, :confirm => 'Are you sure?', :method => :delete 
          %>
          <% elsif purchaseorder.processed =="1"%>    
           <%= link_to "Edit", edit_purchaseorder_path(purchaseorder) %>    
          <%= link_to 'Eliminar', purchaseorder,:data=> {:confirm => 'Esta seguro ?'}, :method => :delete %>
          
          <% elsif purchaseorder.processed =="2"%>  
          <%= "** Anulado **" %>
          
          <%= link_to 'Eliminar', purchaseorder,:data=> {:confirm => 'Esta seguro ?'}, :method => :delete %>
          
          <% elsif purchaseorder.processed =="3"%>  
          <%= "** Cerrado **" %>                      
        <%= link_to 'Eliminar', purchaseorder,:data=> {:confirm => 'Esta seguro ?'}, :method => :delete %>          
          <% end %> 
        </td>
        

        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="error">
    We couldn't find any purchaseorders.
  </p>
<% end %>