<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @company.name, @company %>
</div>

<h1>
  <%= image_tag("invoice_48.png", :class => "vmiddle") %>
  Orden de compra
  <% if @supplier %>
    for supplier: <%= @supplier.name %>
  <% end %>
</h1>



<div class="small">
 <form method="get" action="/companies/purchaseorders/<%= @company.id %>">
    <strong>Buscar :</strong>
    <input type="text" name="search" value="<% if @q_org %><%= @q_org %><% end %>" class="small" style="width: 250px;" onclick="$(this).select();" />
    <input type="submit" value="Buscar " class="bold small_btn" />
   <a href="/companies/purchaseorders/<%= @company.id %>" class="small_btn">Limpiar</a>
  </form>
</div>




<br />
<%= render "purchaseorders/list" %>

<br />

<div class="button">
  <%= link_to 'Nueva Orden ', "/purchaseorders/new/#{@company.id}" %>
</div>

<%= will_paginate @purchaseorders %>

<%= render 'layouts/autocomplete' %>

<script type="text/javascript">
  $(document).ready(function() {
    $("#ac_supplier").autocomplete("/purchaseorders/ac_suppliers/<%= @company.id %>", {
			matchSubset: 1,
			matchContains: 1,
      selectFirst: false
    });
  });
</script>