 <% if @contrato.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contrato.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @contrato.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



<%= simple_form_for(@contrato) do |f| %>



  <%= f.error_notification %>

  <div class="form-inputs">

    <div class="field">
      <%= f.label :employee_id, "Empleado" %><br />
      <%= f.collection_select :employee_id, @employees, :id, :full_name, :prompt => true %>
    </div>

  <div class="field">
    <%= f.label :fecha_inicio , "Fecha  Inicio*", :class => "bold" %><br />
    <%= f.date_field :fecha_inicio %>
  </div>
    
  <div class="field">
    <%= f.label :fecha_fin , "Fecha Fin ", :class => "bold" %><br />
    <%= f.date_field :fecha_fin  %>
  </div>
 <div class="field">
    <%= f.label :fecha_suscripcion , "Fecha Suscrito ", :class => "bold" %><br />
    <%= f.date_field :fecha_suscripcion  %>
  </div>

    
  <div class="field">
      <%= f.label :location_id, "Locacion" %><br />
      <%= f.collection_select :location_id, @locations, :id, :name, :prompt => true %>
  </div>
  
    
  <div class="field">
      <%= f.label :division_id, "Division" %><br />
      <%= f.collection_select :division_id, @divisions, :id, :name, :prompt => true %>
  </div>
  


    <div class="field">
      <%= f.label :sueldo, "Sueldo", :class => "bold" %><br />
      <%= f.number_field :sueldo , :step => '0.01' %>
    </div>



   

     <div class="field">
      <%= f.label :moneda_id ,"  "%><br />
      <%= f.collection_select :moneda_id, @monedas, :id, :description, :prompt => true %>
      
    </div>

  

 
    <div class="field">
      <%= f.label :comments %><br />
      <%= f.text_area :comments %>
    </div>  
      
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
