<p id="notice"><%= notice %></p>

<h1>Contratos</h1>

<table>
  <thead>
    <tr>
      <th>Employee</th>
      <th>Fecha inicio</th>
      <th>Fecha fin</th>
      <th>Fecha suscripcion</th>
      <th>Sueldo</th>
     
      <th>Moneda</th>
     
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contratos.each do |contrato| %>
      <tr>
        <td><%= contrato.employee.full_name %></td>
        <td><%= contrato.fecha_inicio.strftime("%d/%m/%Y")%></td> 

        <td><%= contrato.fecha_fin.strftime("%d/%m/%Y") %></td>

        <td><%= contrato.fecha_suscripcion.strftime("%d/%m/%Y") %></td>
        <td><%= contrato.sueldo %></td>
        <td><%= contrato.moneda_id %></td>
        <td><%= link_to 'Ver', contrato %></td>
        <td><%= link_to 'Editar', edit_contrato_path(contrato) %></td>
        <td><%= link_to 'Eliminar ', contrato, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contrato', new_contrato_path %>
