<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @company.name, @company %>
</div>

<h1>
  <%= image_tag("invoice_48.png", :class => "vmiddle") %>
  Orden de Servicio 
  
  <% if @customer %>
    for customer: <%= @customer.name %>
  <% end %>
</h1>



<h4>Buscar </h4>

<%= form_tag(serviceorders_path, method: :get , return: false ) do %>
  <%= text_field_tag(:search, params[:search])%>
  <%= submit_tag("Buscar ")%>

<% end %>

<a href="/companies/serviceorders/<%= @company.id %>" class="small_btn">Clear</a>

<br />
<%= render "serviceorders/list" %>

<br />

<div class="button">
  <%= link_to 'Nueva Orden servicio ', "/serviceorders/new/#{@company.id}" %>
</div>

<%= will_paginate @serviceorders %>

<%= render 'layouts/autocomplete' %>

<script type="text/javascript">
  $(document).ready(function() {
    $("#ac_customer").autocomplete("/serviceorders/ac_customers/<%= @company.id %>", {
			matchSubset: 1,
			matchContains: 1,
      selectFirst: false
    });
  });
</script>