<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha1:</strong>
  <%= @telecredito.fecha1 %>
</p>

<p>
  <strong>Code:</strong>
  <%= @telecredito.code %>
</p>

<p>
  <strong>Bank acount:</strong>
  <%= @telecredito.bank_acount.bank.name  %>
</p>

<p>
  <strong>Importe:</strong>
  <%= @telecredito.importe %>
</p>

<%= link_to 'Editar', edit_telecredito_path(@telecredito) %> |
<%= link_to 'Regresar', telecreditos_path %>
