<%= simple_form_for(@autoviatico) do |f| %>
  <%= f.error_notification %>



<div class="ui form">


 <table style="width:100%">

   <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Age</th>
    <th>Age</th>
    
  </tr>
  <tr>
     <td class="ui dividing header">   Local</td>
    <td></td>
    <td></td>
     <td></td>
  </tr>
  <tr>
    <td>Nombre Apellidos</td>
    <td><td>  <%= f.collection_select :employee_id, @empleados, :id, :full_name, :prompt => true, class: "ui selection dropdown" %></td></td>
    <td></td>
     <td></td>
  </tr>
<tr>
    <td>Fecha </td>
    <td> <%= f.date_field :fecha  %> </td>
    <td></td>
     <td></td>
  </tr>

<tr>
    <td>Tema </td>
    <td></td>
    <td></td>
     <td></td>
  </tr>



<tr>
    <td>Clinica / Capacitacion </td>
    <td></td>
    <td></td>
     <td></td>
  </tr>


<tr>
    <td> Asunto </td>
    <td></td>
    <td></td>
     <td></td>
  </tr>


<tr>
    <td>Movilidad </td>
    <td></td>
    <td>Lugar:</td>
     <td></td>
  </tr>


<tr>
    <td>Almuerzo </td>
    <td></td>
    <td>Lugar:</td>
     <td></td>
  </tr>

<tr>
    <td>Otros</td>
    <td></td>
    <td>Lugar:</td>
     <td></td>
  </tr>

  <tr>
    <td>Observaciones</td>
    <td></td>
    <td> </td>
     <td></td>
  </tr>

 <tr>
    <td>Hora Ingreso</td>
    <td></td>
    <td>Hora Salida</td>
     <td></td>
  </tr> 
  <tr>
    <td class="ui dividing header">   Sucursal</td>
    <td></td>
    <td> </td>
     <td></td>
  </tr>

 <tr>
    <td>Nombres Apellidos</td>
    <td></td>
    <td></td>
     <td></td>
  </tr> 

   <tr>
    <td>Lugar salida</td>
    <td></td>
    <td>Fecha:</td>
     <td></td>
  </tr> 
   <tr>
    <td>Lugar destino:</td>
    <td></td>
    <td></td>
     <td></td>
  </tr> 

   <tr>
    <td>Hora Ingreso</td>
    <td></td>
    <td>Hora Salida</td>
     <td></td>
  </tr> 
  <tr>
    <td>Observaciones</td>
    <td></td>
    <td></td>
     <td></td>
  </tr> 
 </table>

</div>



<div class="ui form">

 <table style="width:100%">
 
<tr>
 <td class="ui dividing header">  Local  </td>
  </tr>

 <tr>
    <div class="field">
     <td>Nombre:</td>
      <td>  <%= f.collection_select :employee_id, @empleados, :id, :full_name, :prompt => true, class: "ui selection dropdown" %></td>
    </div>
         
    <div class="field">
        <td>Fecha</td>
        <td>  <%= f.date_field :fecha  %> </td>
    </div>

   

  </tr>

<tr>

<div class="field">
        <td>Tema</td>
        <td>  <%= f.text_field :tema %> </td>
    </div>

</tr>

<tr>

<div class="field">
     <td> Clinica/ Capacitacion :</td>
      <td>  <%= f.collection_select :supplier_id, @suppliers, :id, :name, :prompt => true, class: "ui selection dropdown" %></td>
    </div>

</tr>

<tr>


<div class="field">
        <td>Asunto</td>
      
         <div class="ui toggle checkbox">
          
                  <%= check_box_tag  "asunto1" , :asunto  %> 
                <label>Atender?</label>
         </div>

</div>

</tr>

<tr> 
   
   <div class="field">
        <td>Movilidad</td>
        <td>  <%= f.number_field :movilidad %> </td>
    </div>

</tr>

  

  <div class="field">
        <td>Almuerzo</td>
        <td>  <%= f.number_field :almuerzo %> </td>
    </div>

</tr>

   
   <div class="field">
        <td>Otros</td>
        <td>  <%= f.text_field :otros %> </td>
    </div>

</tr>
  

<tr> 
  <div class="field">
        <td>Observa</td>
        <td>  <%= f.text_field :observa  %> </td>
    </div>

</tr>

<tr>
  
  <div class="field">
        <td>Hora ingreso: </td>
        <td>  <%= f.text_field :hora_ingreso  %> </td>
    </div>

  



   <div class="field">
        <td>Hora salida : </td>
        <td>  <%= f.text_field :hora_salida  %> </td>
    </div>



</tr>

<tr> <td class="ui dividing header">   Sucursal </td>
</tr>

<tr>
   <div class="field">
        <td> Empleado : </td>
        <td>  <%= f.text_field :employee_id2  %> </td>
    </div>

</tr>


<tr>
    <div class="field">
        <td> Lugar Salida : </td>
        <td>  <%= f.text_field :lugar_salida %> </td>
    </div>
   <div class="field">
        <td> Fecha : </td>
        <td>  <%= f.text_field :fecha2 %> </td>
    </div>


</tr>

<tr>
    <div class="field">
        <td> Lugar Destino : </td>
        <td>  <%= f.text_field :lugar_destino %> </td>
    </div>


</tr>
<tr>

    <div class="field">
        <td> Hora ingreso : </td>
        <td>  <%= f.text_field :hora1  %> </td>
    </div>




    <div class="field">
        <td> Hora salida  : </td>
        <td>  <%= f.text_field :hora2  %> </td>
    </div>

</tr>




    <div class="field">
        <td> Observa   : </td>
        <td>  <%= f.text_field :observa2 %> </td>
    </div>





</table>


  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
