<%= simple_form_for(@autoviatico) do |f| %>
  <%= f.error_notification %>



<div class="ui form">


 <table style="width:100%">


<div class="ui form">

 <table style="width:100%">
 
<tr>
 <td class="ui dividing header" >    </td>
 <td  style="font-weight:bold" > LOCAL </td>
  </tr>

 <tr>
    <div class="field">
     <td>Nombre:</td>
      <td>  <%= f.collection_select :employee_id, @empleados, :id, :full_name2, :prompt => true, class: "ui selection dropdown" %></td>
    </div>
   </tr>
   <tr>      

    <div class="field">
        <td>Fecha:  </td>
        <td> <%= f.date_field :fecha  %> </td>

    </div>

   

  </tr>

<tr>

<div class="field">
        <td>Tema</td>
        <td>  <%= f.text_field :tema %> </td>
    </div>

</tr>

<tr>

<div class="field" >
     <td  style="font-weight:bold" > Clinica/ Capacitacion :</td>
      <td>  <%= f.collection_select :supplier_id, @suppliers, :id, :name, :prompt => true, class: "ui selection dropdown" %></td>
    </div>

</tr>

 </table>


<table style="width:100%">

<tr>


<div class="field">
  <td >Asunto </td>
  <td>
         <div class="ui toggle checkbox" align="left">
          <%= f.check_box  :asunto1  %> 
          <label>Examen Medico </label>
         </div>
      
  </td>


  <td>
          <div class="ui toggle checkbox" align="left">
          <%= f.check_box  :asunto2 %> 
          <label>Capacitacion </label>
         </div>
  </td>
   

</tr>

<tr> 
   
   <div class="field">
        <td>Movilidad</td>
        <td>  <%= f.number_field :movilidad %> </td>
        <td> Lugar : </td>
        <td> <%= f.text_field :lugar1 %></td>
    </div>

</tr>

  

  <div class="field">
        <td  >Almuerzo</td>
        <td >  <%= f.number_field :almuerzo %> </td>
        <td > Lugar: </td>
        <td > <%= f.text_field:lugar2 %></td>
    </div>
    

</tr>

   
   <div class="field">
        <td>Otros</td>
        <td>  <%= f.text_field :otros %> </td>
        <td> Lugar: </td>
        <td> <%= f.text_field :lugar3 %></td>
    </div>

</tr>
  
</table>

<table style="width:100%">

<tr> 
  <div class="field">
        <td>Observaciones: </td>
        <td ><%= f.text_field :observa ,size: 105 %> </td>
        <td></td>
    </div>

</tr>
</table>

<table style="width:100%">
<tr>
   <div class="field">
        <td style="width:15%" >Hora ingreso: </td>
        <td style="width:15%">  <%= f.text_field :hora_ingreso  %> </td>
        <td style="width:15%">Hora salida :</td>
        <td style="width:15%">  <%= f.text_field :hora_salida %>   </td>
        <td style="width:40%"> </td>
   </div>

</tr>
</table>

<table style="width:100%">
<tr>
       <td class="ui dividing header"  style="font-weight:bold">    </td>
       <td> SUCURSAL  </td>
       <td> </td>
</tr>

<tr>
   <div class="field">
        <td> Empleado : </td>
       
        <td>  <%= f.collection_select :employee_id2, @empleados, :id, :full_name2, :prompt => true, class: "ui selection dropdown" %></td>
        <td> </td>

    </div>

</tr>
</table>

<table style="width:100%">
<tr>
    <div class="field">
        <td> Lugar Salida : </td>
        <td>  <%= f.text_field :lugar_salida %> </td>
      
    </div>
   <div class="field">
        <td> Fecha :  </td>
        <td><%= f.date_field :fecha2 %>  </td>
    </div>


</tr>

<tr>
    <div class="field">
        <td> Lugar Destino : </td>
        <td>  <%= f.text_field :lugar_destino %> </td>
        <td></td>
        <td></td>
    </div>


</tr>

<tr>
   <div class="field">
        <td style="width:15%" >Hora ingreso: </td>
        <td style="width:15%">  <%= f.text_field :hora1  %> </td>
        <td style="width:15%">Hora salida :</td>
        <td style="width:15%">  <%= f.text_field :hora2 %>   </td>
    
   </div>

</tr>







</table>

<table style="width:100%">

<tr> 
  <div class="field">
        <td>Observaciones: </td>
        <td ><%= f.text_field :observa2 ,size: 105 %> </td>
        <td></td>
    </div>

</tr>
</table>

 <div class="ui button" tabindex="0">
    <%= f.button :submit %>
  </div>


<% end %>
