<p id="notice"><%= notice %></p>




<div class="ui form">


 <table style="width:100%">


<div class="ui form">

 <table style="width:100%">
 
<tr>
 <td class="ui dividing header" >    </td>
 <td  style="font-weight:bold" > LOCAL </td>
  </tr>

 <tr>
    <div class="field">
     <td>Nombre:</td>
      <td>  <%= @autoviatico.employee.full_name2 %></td>
    </div>
   </tr>
   <tr>      

    <div class="field">
        <td>Fecha:  </td>
        <td> <%= @autoviatico.fecha.strftime("%d/%m/%Y")%> </td>

    </div>

   

  </tr>

<tr>

<div class="field">
        <td>Tema</td>
        <td>  <%= @autoviatico.tema %> </td>
    </div>

</tr>

<tr>

<div class="field" >
     <td  style="font-weight:bold" > Clinica/ Capacitacion :</td>
      <td>  <%= @autoviatico.supplier.name  %></td>
    </div>

</tr>

 </table>


<table style="width:100%">


<tr>


  <td >Asunto </td>
  <td>

     <div class="ui toggle checkbox">
       
           <% if @autoviatico.asunto1 == "1"  %>  
           X
           <% end %>
        
          <label>Examen Medico </label>
        </div>
      
  </td>


  <td>
          <div class="ui toggle checkbox">

          <% if @autoviatico.asunto2 == "1"  %>  
           X
           <% end %>
          <label>Capacitacion </label>
         </div>
  </td>
   

</tr>

<tr> 
   
   <div class="field">
        <td>Movilidad</td>
        <td>  <%= @autoviatico.movilidad %> </td>
        <td> Lugar : </td>
        <td> <%= @autoviatico.lugar1 %></td>
    </div>

</tr>

  

  <div class="field">
        <td  >Almuerzo</td>
        <td >  <%= @autoviatico.almuerzo %> </td>
        <td > Lugar: </td>
        <td > <%=@autoviatico.lugar2 %></td>
    </div>
    

</tr>

   
   <div class="field">
        <td>Otros</td>
        <td>  <%=  @autoviatico.otros %> </td>
        <td> Lugar: </td>
        <td> <%= @autoviatico.lugar3 %></td>
    </div>

</tr>
  
</table>

<table style="width:100%">

<tr> 
  <div class="field">
        <td>Observaciones: </td>
        <td ><%= @autoviatico.observa  %> </td>
        <td></td>
    </div>

</tr>
</table>

<table style="width:100%">
<tr>
   <div class="field">
        <td style="width:15%" >Hora ingreso: </td>
        <td style="width:15%">  <%= @autoviatico.hora_ingreso  %> </td>
        <td style="width:15%">Hora salida :</td>
        <td style="width:15%">  <%= @autoviatico.hora_salida %>   </td>
        <td style="width:40%"> </td>
   </div>

</tr>
</table>

<table style="width:100%">
<tr>
       <td class="ui dividing header"  style="font-weight:bold">    </td>
       <td> SUCURSAL  </td>
       <td> </td>
</tr>

<tr>
   <div class="field">
        <td> Empleado : </td>
       
        <td>  <%= @autoviatico.get_empleado(@autoviatico.employee_id2) %></td>
        <td> </td>

    </div>

</tr>
</table>

<table style="width:100%">
<tr>
    <div class="field">
        <td> Lugar Salida : </td>
        <td>  <%= @autoviatico.lugar_salida %> </td>
      
    </div>
   <div class="field">
        <td> Fecha :  </td>
        <td><%= @autoviatico.fecha2.strftime("%d/%m/%Y") %>  </td>
    </div>


</tr>

<tr>
    <div class="field">
        <td> Lugar Destino : </td>
        <td>  <%= @autoviatico.lugar_destino %> </td>
        <td></td>
        <td></td>
    </div>


</tr>

<tr>
   <div class="field">
        <td style="width:15%" >Hora ingreso: </td>
        <td style="width:15%">  <%= @autoviatico.hora1  %> </td>
        <td style="width:15%">Hora salida :</td>
        <td style="width:15%">  <%= @autoviatico.hora2 %>   </td>
    
   </div>

</tr>







</table>

<table style="width:100%">

<tr> 
  <div class="field">
        <td>Observaciones: </td>
        <td ><%= @autoviatico.observa2  %> </td>
        <td></td>
    </div>

</tr>
</table>


<div class="button">


 

  <% if @autoviatico.processed == "1" %>
   <%= link_to 'Exportar to PDF', "/autoviaticos/pdf/#{@autoviatico.id}.pdf" %>  
   <%= link_to 'Anular', "/autoviaticos/do_anular/#{@autoviatico.id}" %>
  
  <%end %>


  <% if @autoviatico.processed.nil? %>

  <%= link_to 'Procesar', "/autoviaticos/do_process/#{@autoviatico.id}" %>
  <%end %>



<%= link_to 'Regresar', autoviaticos_path %>
