<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @autoviatico.code %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @autoviatico.employee_id %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @autoviatico.fecha %>
</p>

<p>
  <strong>Tema:</strong>
  <%= @autoviatico.tema %>
</p>

<p>
  <strong>Supplier:</strong>
  <%= @autoviatico.supplier_id %>
</p>

<p>
  <strong>Asunto:</strong>
  <%= @autoviatico.asunto %>
</p>

<p>
  <strong>Movilidad:</strong>
  <%= @autoviatico.movilidad %>
</p>

<p>
  <strong>Almuerzo:</strong>
  <%= @autoviatico.almuerzo %>
</p>

<p>
  <strong>Otros:</strong>
  <%= @autoviatico.otros %>
</p>

<p>
  <strong>Observa:</strong>
  <%= @autoviatico.observa %>
</p>

<p>
  <strong>Hora ingreso:</strong>
  <%= @autoviatico.hora_ingreso %>
</p>

<p>
  <strong>Hora salida:</strong>
  <%= @autoviatico.hora_salida %>
</p>

<p>
  <strong>Employee id2:</strong>
  <%= @autoviatico.employee_id2 %>
</p>

<p>
  <strong>Lugar salida:</strong>
  <%= @autoviatico.lugar_salida %>
</p>

<p>
  <strong>Lugar destino:</strong>
  <%= @autoviatico.lugar_destino %>
</p>

<p>
  <strong>Hora1:</strong>
  <%= @autoviatico.hora1 %>
</p>

<p>
  <strong>Hora2:</strong>
  <%= @autoviatico.hora2 %>
</p>

<p>
  <strong>Observa2:</strong>
  <%= @autoviatico.observa2 %>
</p>

<%= link_to 'Edit', edit_autoviatico_path(@autoviatico) %> |
<%= link_to 'Back', autoviaticos_path %>
