


<%= form_for(@supplier) do |f| %>
  <% if @supplier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@supplier.errors.count, "error") %> prohibited this supplier from being saved:</h2>

      <ul>
      <% @supplier.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  
  <div class="field">
    <%= f.label :ruc, "Ruc*", :class => "bold" %><br />
    <%= f.text_field :ruc , onblur:  "consultaRuc()" %>
  </div>
  
  
  <div class="field">
    <%= f.label :name, "Name*", :class => "bold" %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :phone1 %><br />
    <%= f.text_field :phone1 %>
  </div>
  <div class="field">
    <%= f.label :phone2 %><br />
    <%= f.text_field :phone2 %>
  </div>
  <div class="field">
    <%= f.label :address1 %><br />
    <%= f.text_field :address1 , :input_html => {:style => 'width: 350px' } %>
  </div>
  <div class="field">
    <%= f.label :address2 %><br />
    <%= f.text_field :address2 %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :zip %><br />
    <%= f.text_field :zip %>
  </div>
  <div class="field">
    <%= f.label :country %><br />
    <%= f.text_field :country %>
  </div>

 <div class="field">
      <%= f.label :bank_id ,"Banco"%><br />
      <%= f.select :bank_id, options_from_collection_for_select(@bancos,'id','name'),   :style => "width: 200px" %>
    
        
    </div>

<div class="field">
    <%= f.label :cuenta_corriente %><br />
    <%= f.text_field :cuenta_corriente %>
  </div>
<div class="field">
    <%= f.label :proyecto_minero %><br />
    <%= f.text_field :proyecto_minero , :input_html => {:style => 'width: 350px' }%>
  </div>

<div class="field">
 <%= f.label :tipo1, "Tipo Proveedor Contado - Credito " %><br />

<%= f.collection_select :tipo1, @tipoproveedor, :id, :name, :prompt => true %>

</div> 


<div class="field">
 <%= f.label :tipoexm, "Categoria Proveedor " %><br />

   <%= f.collection_select :tipoexm , @typeproveedor, :id, :name, :prompt => true %>


</div> 

 <div class="field">
    <%= f.label :lugar %><br />
    <%= f.text_area :lugar  %>
  </div>



  <div class="field">
    <%= f.label :comments %><br />
    <%= f.text_area :comments %>
  </div>


  <div class="field">
      <%= f.check_box :taxable%>
      <%= f.label :taxable ,"Impuesto", :class => "bold" ,value: "1" %>
      <div class="small">
        Es un proveedor con impuesto ?
      </div>
    </div>
    
  <div class="actions">
    <%= f.hidden_field :company_id %>
    <%= f.submit %>
  </div>
<% end %>




<script type="text/javascript">



  
function consultaRuc()  {


var ruc  = $("#supplier_ruc").val();
var company_id = 1 ;

$.post('/suppliers/search_ruc/' + company_id, {
        ruc: ruc 

      },
      function(data) {
        if(data == "error_empty") {
          alert("Please enter a supplier name");
        } else if(data == "error") {
          alert("Ah ocurrido un error grabando el proveedor ,por favor trate otra vez ");
        } else {
          var data_arr = data.split("|BRK|");


          alert("Conexio con Sunat exitosa..");
          
          $("#supplier_name ").val(data_arr[1]);

          $("#supplier_address1").val(data_arr[2]);
         
          $("#selected_supplier").html(data_arr[1]);

          
      
        
        }

});
} 


</script>