<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;

  
   <p>
  

<br>
 Razon Social <%= @data[:razon_social]  %> 
<br>
  Condicion: <%= @data[:condicion]  %>
  <br>

  Telefono: <%= @data[:telefono]  %>
  <br>
  
  Nombre Comercial : <%= @data[:nombre_comercial]  %>
  <br>
  
  Tipo: <%= @data[:tipo]  %>
  <br>
  
  Fecha Inscripcion: <%= @data[:fecha_inscripcion]  %>
  <br>
  
  Estado: <%= @data[:estado]  %>
  <br>
  
  
  Direccion: <%= @data[:direccion]  %>
  <br>
  
  Actividad exterior: <%= @data[:actividad_exterior]  %>
  <br>
  
   </p>



<div class="button">
  <%= link_to 'Regresar', "/companies/suppliers/1" %>
</div>

 
</div>
