<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @supplier.company.name, @supplier.company %> &raquo;
  <%= link_to "suppliers", "/companies/suppliers/#{@supplier.company.id}" %>
</div>

<h1>
  <%= image_tag("clients_48.png", :class => "vmiddle") %>
  <%= @supplier.name %>
</h1>

<%= render "suppliers/show" %>




<div class="button">
<%= link_to 'Agregar Contacto ', new_supplier_supplier_detail_path(@supplier) %>
</div> 



<table>
  <thead>
    <tr>
      <th>
        Contacto
      </th>
      <th>
        Cargo
      </th>
      
      <th>
        email
      </th>
      <th>
        telefono
      </th>
      
      <th>
        Area
      </th>
    
    </tr>
  </thead>
  <tbody>
    
<%= hr() %>
    <%  @supplier_detail.each do |product| %>
    
      <tr>

        <td class="small bordered_bottom bordered_right">
          
             <%=product.name %>
             

          </td>
          
         <td class="small bordered_bottom bordered_right">
            <%= product.cargo %>
          </td>
         <td class="small bordered_bottom bordered_right">
           <%= product.correo  %>
          </td>
        
          
         <td class="small bordered_bottom bordered_right">
            <%= product.telefono %>
          </td>
         <td class="small bordered_bottom bordered_right">
            <%= product.area %>
          </td>

       
          <td><%= link_to 'Editar',  edit_supplier_supplier_detail_path(supplier_id: @supplier.id,id: product.id ) %></td>          
          <td><%= link_to 'Eliminar',[@supplier,product], method: :delete, data: { confirm: 'Esta seguro?' } %></td>
          
      </tr>
    <% end %>
  
    
  
   
   
  </tbody>
</table>
<br />


<br />



<div class="button">
  <%= link_to "Invoices for supplier", "/companies/serviceorders/#{@supplier.company.id}?supplier=#{@supplier.id}" %>
  <%= link_to 'Editar', edit_supplier_path(@supplier) %>


<% if current_user.level == "examen" || current_user.level == "admin"%>
<div class="extra content">
<%= link_to 'Regresar', "/companies/suppliers/#{@supplier.company.id}/1" %>
<% else %>

  <%= link_to 'Regresar', "/companies/suppliers/#{@supplier.company.id}" %>
<% end %>
</div>