<p id="notice"><%= notice %></p>

<p>
  <strong>Almacen:</strong>
  <%= @inventario.almacen_id %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @inventario.fecha %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @inventario.descripcion %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @inventario.tipo %>
</p>

<p>
  <strong>Total:</strong>
  <%= @inventario.total %>
</p>

<%= link_to 'Edit', edit_inventario_path(@inventario) %> |
<%= link_to 'Back', inventarios_path %>
