
<% if @purchases.length > 0 %>


<div class="small">
  <form method="get" action="new2">
    <strong>Buscar :</strong>
    <input type="text" name="search" value="<% if @q_org %><%= @q_org %><% end %>" class="small" style="width: 250px;" onclick="$(this).select();" />
    <input type="submit" value="Find" class="bold small_btn" />
    <a href="new2" > Limpiar</a>
  </form>
</div>



<table>
  <thead>
    <tr>
      <th>Tipo</th>
      <th>Documento</th>
      <th>Proveedor </th>
      <th>Fec.Emision</th>
      <th>Fec.Vmto </th>
    
      
      <th>Moneda</th>
      <th>Dscto</th>
      
      <th>V.Venta </th>
      <th>IGV</th>
      <th>Importe</th>
      <th>Procesado </th>
      
      <th>Orden Compra</th>
      
      <th class="bordered_right bordered_bottom" colspan="3">
          Opciones
        </th>
    </tr>
  </thead>

  <tbody>
    <% @purchases.each do |purchase| %>
      <tr>
         <td class="small bordered_bottom bordered_right"><%= purchase.document.description %></td>
        <td class="small bordered_bottom bordered_right"><%= purchase.documento %></td>
        <td class="small bordered_bottom bordered_right"><%= purchase.supplier.name  %></td>         
        <td class="small bordered_bottom bordered_right"><%= purchase.date1.strftime("%d/%m/%Y") %></td>
        <td class="small bordered_bottom bordered_right"><%= purchase.date3.strftime("%d/%m/%Y") %></td>
        <td class="small bordered_bottom bordered_right"><%= purchase.moneda.symbol %></td>            
        <td class="small bordered_bottom bordered_right"><%= money(purchase.discount) %></td>      
        <td class="small bordered_bottom bordered_right"><%= money(purchase.payable_amount) %></td>      
        <td class="small bordered_bottom bordered_right"><%= money(purchase.tax_amount) %></td>
        <td class="small bordered_bottom bordered_right"><%= money(purchase.total_amount) %></td>

        <td class="small bordered_bottom bordered_right <%= purchase.processed_color %>">
          <%= purchase.get_processed_short %>
        </td>
        
        <td class="small bordered_bottom bordered_right">
            <%= purchase.get_purchaseorder %>
        </td>

        
            
        <td><%= link_to 'Agregar',  agregar_viaticolgv_viaticolgv_details_path(purchase_id: purchase.id ) %></td>
         
                

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= will_paginate @purchases %>


<% else %>
  <p class="error">
    Nosotros no podemos encontrar ninguna factura
  </p>
<% end %>


