<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @company.name, @company %>
</div>

<h1>
  <%= image_tag("product_restock_48.png", :class => "vmiddle") %>
  Salidas 
  <% if @customer %>
    for customer: <%= @customer.name %>
  <% end %>

</h1>



<h3>


  Almacenes 

</h3>



<%= render "outputs/list_almacen" %>

<br />

<div class="button">
  <%= link_to 'Nueva salida ', "/outputs/new/#{@company.id}" %>
</div>

<%= will_paginate @outputs %>

<%= render 'layouts/autocomplete' %>

<script type="text/javascript">
  $(document).ready(function() {
    $("#ac_customer").autocomplete("/outputs/ac_customers/<%= @company.id %>", {
			matchSubset: 1,
			matchContains: 1,
      selectFirst: false
    });
  });
</script>