<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @proyectominero3.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @proyectominero3.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @proyectominero3.user_id %>
</p>

<%= link_to 'Edit', edit_proyectominero3_path(@proyectominero3) %> |
<%= link_to 'Back', proyectominero3s_path %>
