<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @company.name, @company %>
</div>

<h1>
  <%= image_tag("reports_48.png", :class => "vmiddle") %>
  Reportes
</h1>

<div class="mid_box bordered_right">
  <h3>
    Ordenes
  </h3>
  
  <p class="big">
    <%= link_to "Orden de servicio ", "/companies/reports/rpt_serviceorder_all/#{@company.id}" %>
  </p>

  <p class="big">
    <%= link_to "Orden de compra", "/companies/reports/rpt_purchaseorder2_all/#{@company.id}" %>
  </p>

  <p class="big">
    <%= link_to "Orden de servicio pendientes ", "/companies/reports/rpt_purchaseorder4_all/#{@company.id}" %>
  </p>
<p class="big">
    <%= link_to "Orden de compra pendientes ", "/companies/reports/rpt_purchaseorder3_all/#{@company.id}" %>
  </p>
<h3>
   Facturas 
  </h3>
  
 <p class="big">
    <%= link_to "Facturas  contado/credito - todas", "/companies/reports/rpt_purchase60_all/#{@company.id}" %>
  </p>


  <p class="big">
    <%= link_to "Facturas  por proveedor ", "/companies/reports/rpt_purchase_all2/#{@company.id}" %>
  </p>

  <p class="big">
    <%= link_to "Facturas Detallado  ", "/companies/reports/rpt_purchase2_all/#{@company.id}" %>
  </p>
  
  <p class="big">
    <%= link_to "Resumen Compras por categoria  ", "/companies/reports/rpt_purchase3_all/#{@company.id}" %>
  </p>
  <p class="big">
    <%= link_to "Detalle Compras por categoria  ", "/companies/reports/rpt_purchase4_all/#{@company.id}" %>
  </p>
  
  <p class="big">
    <%= link_to "Facturas  contado/credito ", "/companies/reports/rpt_purchase6_all/#{@company.id}" %>
  </p>


<p class="big">
    <%= link_to "Pendientes por pagar general  ", "/companies/reports/rpt_cpagar2_pdf/#{@company.id}" %>
  </p>

<h3>
    Otras Facturas 
  </h3>


 <p class="big">
    <%= link_to "Facturas  contado/credito - Asis.Administrativo ", "/companies/reports/rpt_purchase61_all/#{@company.id}/16" %>
  </p>

   <p class="big">
    <%= link_to "Facturas  contado/credito - Administracion ", "/companies/reports/rpt_purchase61_all/#{@company.id}/10" %>
  </p>
   <p class="big">
    <%= link_to "Facturas  contado/credito - Finanzas ", "/companies/reports/rpt_purchase61_all/#{@company.id}/3" %>
  </p>
   <p class="big">
    <%= link_to "Facturas  contado/credito - Caja ", "/companies/reports/rpt_purchase61_all/#{@company.id}/11" %>
  </p>
  <p class="big">
    <%= link_to "Facturas  contado/credito - LGV ", "/companies/reports/rpt_purchase62_all/#{@company.id}" %>
  </p>



<h3>
    Productos
  </h3>

  <p class="big">
    <%= link_to "Productos ", "/companies/reports/report_products/#{@company.id}" %>
  </p>
  
</div>

<div class="mid_box">
</div>

<%= br() %>