<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @company.name, @company %>
</div>

<h1>
  <%= image_tag("reports_48.png", :class => "vmiddle") %>
  Reportes
</h1>

<div class="mid_box bordered_right">

<h3>
    Cotización
 
  </h3>
  
  <p class="big">
    <%= link_to  "Cotizaciones  ", "/companies/reports/rpt_coti_all/#{@company.id}" %>
  </p>

  <h3>
    Solicitud de Transporte

  </h3>
  
  <p class="big">
    <%= link_to  "Solictud de transporte ", "/companies/reports/rpt_st_all/#{@company.id}" %>
  </p>

  <p class="big">
    <%= link_to  "Solictud de transporte - semanal", "/companies/reports/rpt_st_all2/#{@company.id}" %>
  </p>

  <p class="big">
    <%= link_to  "Solictud de transporte - mes", "/companies/reports/rpt_st_all3/#{@company.id}" %>
  </p>

    <p class="big">
    <%= link_to "Solicitud de transporte - Resumen x mes  ", "/companies/reports/rpt_st_res/#{@company.id}" %>
  </p>
  
  <h3>
    Facturas 
  </h3>
  
  <p class="big">
    <%= link_to "Facturas y Notas ", "/companies/reports/rpt_facturas_all/#{@company.id}" %>
  </p>

  <p class="big">
    <%= link_to "Facturas y Notas x mes ", "/companies/reports/monthly_sales/#{@company.id}" %>
  </p>

  <p class="big">
    <%= link_to "Facturas y Notas por cliente ", "/companies/reports/rpt_facturas_all2/#{@company.id}" %>
  </p>
    <p class="big">
    <%= link_to "Facturas y Notas - Resumen x mes  ", "/companies/reports/rpt_facturas_res/#{@company.id}" %>
  </p>
  
  

</div>

<div class="mid_box">
</div>

<%= br() %>

