<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @company.name, @company %>
</div>

<h1>
  <%= image_tag("reports_48.png", :class => "vmiddle") %>
  Reportes
</h1>

<div class="mid_box bordered_right">
  <h3>
    Factura
  </h3>
  
  <p class="big">
    <%= link_to "Facturas Compra -Detalle  ", "/companies/reports/rpt_parte_1/#{@company.id}" %>
  </p>

  <h3>
    Tickets de Consumo  
  </h3>
  
  
  <p class="big">
    <%= link_to "Tickets Pex  Detalle General ", "/companies/reports/rpt_pex_1/#{@company.id}" %>
  </p>
  
  
  <p class="big">
    <%= link_to "Tickets- Consumo galones por estacion de servicio ", "/companies/reports/rpt_parte_3/#{@company.id}" %>
  </p>
  
  <p class="big">
    <%= link_to "Tickets- Consumo galones por tipo vehiculo ", "/companies/reports/rpt_parte_3/#{@company.id}" %>
  </p>

<div class="mid_box">
</div>

<%= br() %>