<%= render 'layouts/charts' %>
<%
invoices_subtotal = 0
invoices_tax = 0
invoices_total = 0
subtotals = []
taxes = []
totals = []
%>
<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @company.name, @company %> &raquo;
  <%= link_to "Reports", "/companies/reports/#{@company.id}" %>
</div>

<h1>
  <%= image_tag("reports_48.png", :class => "vmiddle") %>
  Orden de servicio de transporte 
</h1>


<%= form_tag(rpt_ost_2_facturas_path, :method => "get") do %>

  
<p>


  <label for="tiporeporte"> Tipo de Reporte:</label><br>
  <select id="tiporeporte" name="tiporeporte" >

    <option value="1" selected> FECHA O.S.T. </option>
    <option value="0" selected> FECHA Creacion </option>
    <option value="2" selected> FECHA S.T. </option>
    
  </select>
</p>
      
        <div class="field">
            <input id="check_local" name="check_local" type="checkbox" value="true" checked />
          
            Todos los locales 
        
        </div>
        
        
      
      <td>
      <div class="field">
        <h5> Locales </h5>
        <%= select_tag(:location_id,options_from_collection_for_select(@locations,'id','name'),:id => "location_select"  ) %>
      </div>
      

  
  <div class="field">
    <input type="date" name="fecha1" value="2020-10-05" style = "width: 150px" >
  </div>
	<div class="field">
		<input type="date" name="fecha2" value="2020-10-31" style = "width: 150px" >
  </div>

  
  <%= submit_tag "To PDF"  , :name => "print" %>
  <%= submit_tag "To Excel", :name => "print" %>
     
<% end %>


<br />

