<%= render 'layouts/charts' %>
<%
invoices_subtotal = 0
invoices_tax = 0
invoices_total = 0
subtotals = []
taxes = []
totals = []
%>
<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @company.name, @company %> &raquo;
  <%= link_to "Reports", "/companies/reports/#{@company.id}" %>
</div>

<h1>
  <%= image_tag("reports_48.png", :class => "vmiddle") %>
 Reporte Orden Servicio   %>
</h1>

<form method="get" action="/serviceorders/rpt_serviceorder_all_pdf/<%= @company.id %>">

  <div class="field">
      <input type="date" name="fecha1" value="2020-01-01" style = "width: 150px" >
  </div>

  <div class="field">
	  	<input type="date" name="fecha2" value="2020-08-31" style = "width: 150px" >
  </div>



<table>
    <tr>
      <td>
        <div class="field">
            <input id="check_proveedor" name="check_proveedor" type="checkbox"  checked />
          <div class="small">
            Todos los Proveedores 
          </div>
        </div>
        
      </td>
      <td>
      <div class="field">
        <h5>  Proveedor </h5>

          <%= select_tag(:supplier_id,options_from_collection_for_select(@suppliers,'id','name') ) %>


      </div>
      </td>
      
    </tr>

  </table>

  <input type="submit" value="Generar" />
  <a href="/serviceorders/rpt_serviceorder_all_pdf/<%= @company.id %>" </a>
</form>

<br />

<div class="button">
  <%= link_to "Regresar", "/companies/reports/#{@company.id}" %>
</div>

<script type="text/javascript">
  $(document).ready(function() {
  
    
    $('#check_proveedor').change(function() {
   if ($('#check_proveedor').is(":checked")) {
     $('#supplier_id').attr('disabled', true);
   }
   else {
     $('#supplier_id').attr('disabled', false);
   }
}); 
    
  });
</script>