<%= render 'layouts/charts' %>

<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @company.name, @company %> &raquo;
  <%= link_to "Reports", "/companies/reports/#{@company.id}" %>
</div>

<h3>
  <%= image_tag("reports_48.png", :class => "vmiddle") %>
 Reporte de cuentas proveedores - Documentos de compra 
 <br/>
 
</h3	>
<h5>Detallado  *  </h5>
<br>

  
<%= form_tag(rpt_purchase61_facturas_path, :method => "get") do %>

  <select id="fecha6" name="fecha6" >
  <option value="" selected disabled hidden>Selecionar Fecha </option>
  <option value="1">Fec.Emision</option>
  <option value="2">Fec.Recepcion</option>
  
   </select>

<br>


    <div class="field">
        Desde
        <input type="date" name="fecha1" value="2020-12-01" style = "width: 150px" >
    </div>
    <div class="field">
        Hasta
        <input type="date" name="fecha2" value="2020-12-30" style = "width: 150px" >
    </div>
  


 <table>
    <tr>
      <td>
        <div class="field">
            <input id="check_supplier" name="check_supplier" type="checkbox" value="true" checked />
          <div class="small">
            Todos los proveedores
          </div>
        </div>
        
      </td>
      <td>
      <div class="field">
         <h5> Proveedores </h5>
        <%= select_tag(:proveedor,options_from_collection_for_select(@suppliers,'id','name'),:id => "supplier_select"  ) %>
      </div>
      </td>
      
    </tr>

  </table>


  
<br> 
 

   <%= hidden_field_tag "usuario", @usuario.id %>

 <%= submit_tag "To PDF", :name => "print" %>
 <%= submit_tag "To Excel", :name => "print" %>
  
<% end %>

   
</html>


<script>

$(document).ready(function() {
  
  if ($('#check_supplier').is(":checked")) {
      $('#supplier_select').attr('disabled', true); //disable input
   }
   else {
      $('#supplier_select').removeAttr('disabled'); //enable input
   }
  
   
   $('#check_supplier').click(function () {
        //check if checkbox is checked
        if ($(this).is(':checked')) {

           $('#supplier_select').attr('disabled', true); //disable input

        } else {
             $('#supplier_select').removeAttr('disabled'); //enable input
            
        }
    });

 


  });
  
  </script>
  