<%= simple_form_for(@cout) do |f| %>
   <% if @cout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cout.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @cout.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="form-inputs">


      <div class="field">
        <%= f.label :ost_id, "ORDEN DE SERVICIO : *", :class => "bold" %><br />
        <%= f.text_field :ost_id  %>
      </div>


      <label for="ac_customer" class="bold">Cliente*</label><br />
      <input type="text" name="ac_customer" id="ac_customer" value="<% if @ac_customer %><%= @ac_customer %><% end %>" />
      
      
      <div class="small">
        Ingrese una termino de busqueda para encontrar un cliente.
      </div>
      <br />



  <div class="field">
    <%= f.label :fecha, "Fecha: *", :class => "bold" %><br />
    <%= f.text_field :fecha %>
  </div>
  
   
    <%= f.input :fecha %>
    <%= f.input :importe %>
    <%= f.input :truck_id %>
    <%= f.input :punto_id %>
    <%= f.input :tranportorder_id %>
    <%= f.input :employee_id %>
    <%= f.input :employee2_id %>
    <%= f.input :employee3_id %>
    <%= f.input :peajes %>
    <%= f.input :lavado %>
    <%= f.input :llanta %>
    <%= f.input :alimento %>
    <%= f.input :otros %>
    <%= f.input :monto_recibido %>
    <%= f.input :flete %>
    <%= f.input :recibido_ruta %>
    <%= f.input :vuelto %>
    <%= f.input :descuento %>
    <%= f.input :reembolso %>
    <%= f.input :flete %>
    <%= f.input :ost_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>



  <script>

$(document).ready(function() {
  
    $('#customer_select').change(function() {
      $.ajax({
        url: "/ordens/update_marcas",
        data: {
          customer_id : $('#customer_select').val()
        },
        dataType: "script"
      });
    
    });
    
    $('#marca_select').change(function() {
      $.ajax({
        url: "/ordens/update_productos",
        data: {
          marca_id : $('#marca_select').val()

        },
        dataType: "script"
      });
    });

  

  });
  
  </script>


