<%= simple_form_for(@cout) do |f| %>
   <% if @cout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cout.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @cout.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="form-inputs">

  
          <div class="field">
            <input id="check_orden" name="check_orden" type="checkbox" value="true" checked />
                <div class="small">
                   Comprobante sin OST  
                </div>
        

         </div>



      <label for="ac_ost" class="bold">ORDEN DE SERVICIO </label><br />
      <input type="text" name="ac_ost" id="ac_ost" value="<% if @ac_ost %><%= @ac_ost %><% end %>" />
      
      <div class="small">
        <strong>Seleccionar ORDEN DE SERVICIO :</strong>
        <span id="selected_ost"><% if @ac_ost %><%= @ac_ost %><% else %><!-- i --><% end %></span>
      </div>
     
    

      <div class="small">
        Ingrese una termino de busqueda para encontrar una orden de servicio 
      </div>
      <br />



      <div class="field">
        <%= f.label :fecha, "Fecha: *", :class => "bold" %><br />
        <%= f.date_field :fecha %>
      </div>


        <div class="field">
          <%= f.label  :importe,"Efectivo :  " , :class => "bold"%><br />
            <%= f.number_field :importe , step: :any  %>
        </div>
  
        <div class="field">
            <%= f.label  :tbk ,"TBK  :  " , :class => "bold"%><br />
            <%= f.number_field :tbk  , step: :any  %>
        </div>
        <div class="field">
            <%= f.label  :tbk_documento ,"TBK Documento  :  " , :class => "bold"%><br />
            <%= f.text_field :tbk_documento  , step: :any  %>
        </div>

        <table class="ui right aligned table">
            <thead>
              <th class="left aligned"></th>
              <th>Datos</th>
              <th>Conductor</th>
              <th></th>
            </thead>
            <tbody>

              <tr>
               <td>Ruta Desde: </td>
                  <td>  <%= f.collection_select :ubication_id, @puntos, :id, :name, :prompt => true %></td>
                <td>Hacia :</td>
                <td>  <%= f.collection_select :ubication2_id, @puntos, :id, :name, :prompt => true %></td>

              </tr>


              <tr>
                <td class="right aligned">Fecha Salida </td>
                <td align="right" >  <%= f.date_field :fecha1 %></td> 
                
                <td class="right aligned">Fecha Llegada</td>
                <td align="right" >  <%= f.date_field :fecha2 %></td> 
               
              </tr>



              <tr>
                <td class="left aligned">Conductor </td>
                <td>   <%= f.collection_select :employee_id, @employees, :id, :full_name2, :prompt => true  %></td> 
                
                 <td class="left aligned"> Transferido a :  </td>
                  <td>   <%= f.collection_select :employee4_id, @employees, :id, :full_name2, :prompt => true  %></td> 
               
              </tr>


              <tr>


               <td></td>
                <td></td>
                
              </tr>
              
              
            </tbody>
          </table>

   <TABLE>
  <tr>
    <td><strong>Vehiculo: </strong></td>
    <td><%= f.collection_select :truck_id, @trucks, :id, :placa, :prompt => true  %></td> 
                
   <td> </td>
    <td> </td> 
  </tr>
  <tr>
    <td><strong>Vehiculo 2 : </strong></td>
    <td><%= f.collection_select :truck2_id, @trucks, :id, :placa, :prompt => true  %></td> 
   <td>  </td>
    <td> </td> 
  </tr>
   <tr>
    <td><strong>Escolta  </strong></td>
    <td><%= f.collection_select :truck3_id, @trucks, :id, :placa, :prompt => true  %></td> 
    <td> </td>
    <td> </td> 
  </tr>

   </TABLE>

   <div class="field">
            <%= f.label  :observa ,"Observación  :  " , :class => "bold"%><br />
            <%= f.text_area :observa  , step: :any  %>
    


    </div> 

    
  </div>

  <div class="form-actions">

     <%= f.hidden_field :tranportorder_id, :id => "ac_ost_id" %>
    <%= f.button :submit %>
  </div>



<% end %>



<%= render 'layouts/autocomplete' %>




  <script>

$(document).ready(function() {


  $("#ac_ost").autocomplete("/tranportorders/ac_osts/<%= @company.id %>", {
      matchSubset: 1,
      matchContains: 1,
      selectFirst: false
    });

    
    $("#ac_ost").result(function(event, data, formatted) {

      $("#ac_ost_id").val(data[2]);
      $("#selected_ost").html(data[0]);
      $("#ac_employee_id").html(data[4]);
      $("#ac_employee2_id").html(data[6]);
      $("#ac_ubication_id").html(data[8]);
      $("#ac_ubication2_id").html(data[10]);
     });  


  
  if ($('#check_orden').is(":checked")) {
      $('#ac_ost').attr('disabled', true); //disable input
   }
   else {
      $('#ac_ost').removeAttr('disabled'); //enable input
   }


   $('#check_orden').click(function () {
        //check if checkbox is checked
        if ($(this).is(':checked')) {

           $('#ac_ost').attr('disabled', true); //disable input

        } else {
             $('#ac_ost').removeAttr('disabled'); //enable input
            
        }
    });



 
    $('#ac_ost').change(function() {
      $.ajax({
        url: "/couts/update_compro",
        data: {
          ost_code  : $('#ac_ost').val()

        },
        dataType: "script"
      });
    });



    
  });
  
  </script>


