<%= simple_form_for(@cout) do |f| %>
   <% if @cout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cout.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @cout.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="form-inputs">


    

      <label for="ac_ost" class="bold">ORDEN DE SERVICIO </label><br />
      <input type="text" name="ac_ost" id="ac_ost" value="<% if @ac_ost %><%= @ac_ost %><% end %>" />
      
      <div class="small">
        <strong>Seleccionar ORDEN DE SERVICIO :</strong>
        <span id="selected_ost"><% if @ac_ost %><%= @ac_ost %><% else %><!-- i --><% end %></span>
      </div>
     </div>
      

       <div class="small">
        <strong>EMPLEADO :</strong>
        <span id="ac_employee_id"><% if @ac_ost %><%= @ac_ost %><% else %><!-- i --><% end %></span>
      </div>
    

      <div class="small">
        Ingrese una termino de busqueda para encontrar una orden de servicio 
      </div>
      <br />



  <div class="field">
    <%= f.label :fecha, "Fecha: *", :class => "bold" %><br />
    <%= f.date_field :fecha %>
  </div>
  
   

  
        <div class="field">
          <%= f.label  :importe,"Importe:  " , :class => "bold"%><br />
            <%= f.number_field :importe , step: :any  %>
        </div>




<table class="ui right aligned table">
      <thead>
        <th class="left aligned"></th>
        <th>Datos</th>
        <th>Conductor</th>
        <th></th>
      </thead>
      <tbody>
        <tr>
          <td class="left aligned">Conductor 1 </td>
          <td> <span id="ac_employee_id"> </td>
          <td>DNI</td>
          <td> </td>
          <td>Licencia</td>
          <td></td>
        </tr>
        <tr>
          <td class="left aligned">Conductor 2 </td>
            <td> <span id="ac_employee2_id"></span> </td>
          <td>DNI</td>
          <td></td>
          <td>Licencia</td>
          <td></td>
        </tr>
        
        
      </tbody>
    </table>



  <table class="ui right aligned table">
      <thead>
        <th class="left aligned"></th>
        <th>Datos</th>
        <th>Conductor</th>
        <th></th>
      </thead>
      <tbody>
        <tr>
          <td class="left aligned">Conductor</td>
          <td>   <%= f.number_field :peajes, step: :any  %> </td>
          <td>DNI</td>
          <td> </td>
          <td>Licencia</td>
          <td></td>
        </tr>
        <tr>
          <td class="left aligned">Conductor</td>
          <td><   <%= f.number_field :lavado , step: :any  %></td>
          <td>DNI</td>
          <td></td>
          <td>Licencia</td>
          <td></td>
        </tr>
        <tr>
          <td class="left aligned">Conductor</td>
          <td>   <%= f.number_field :llanta, step: :any  %> </td>
          <td>DNI</td>
          <td> </td>
          <td>Licencia</td>
          <td></td>
        </tr>
        <tr>
          <td class="left aligned">Conductor</td>
          <td><   <%= f.number_field :alimento, step: :any  %></td>
          <td>DNI</td>
          <td></td>
          <td>Licencia</td>
          <td></td>
        </tr>
        <tr>
          <td class="left aligned">Conductor</td>
          <td><   <%= f.number_field :otros, step: :any  %></td>
          <td>DNI</td>
          <td></td>
          <td>Licencia</td>
          <td></td>
        </tr>
        
      </tbody>
    </table>


  <table class="ui right aligned table">
      <thead>
        <th class="left aligned"></th>
        <th>Datos</th>
        <th>Conductor</th>
        <th></th>
      </thead>
      <tbody>
        <tr>
          <td class="left aligned">Conductor</td>
          <td>   <%= f.number_field :monto_recibido, step: :any  %> </td>
          <td>DNI</td>
          <td> </td>
          <td>Licencia</td>
          <td></td>
        </tr>
        <tr>
          <td class="left aligned">Conductor</td>
          <td><   <%= f.number_field :flete , step: :any  %></td>
          <td>DNI</td>
          <td></td>
          <td>Licencia</td>
          <td></td>
        </tr>
        <tr>
          <td class="left aligned">Conductor</td>
          <td>   <%= f.number_field :recibido_ruta, step: :any  %> </td>
          <td>DNI</td>
          <td> </td>
          <td>Licencia</td>
          <td></td>
        </tr>
        <tr>
          <td class="left aligned">Conductor</td>
          <td><   <%= f.number_field :vuelto, step: :any  %></td>
          <td>DNI</td>
          <td></td>
          <td>Licencia</td>
          <td></td>
        </tr>
        <tr>
          <td class="left aligned">Conductor</td>
          <td><   <%= f.number_field :descuento, step: :any  %></td>
          <td>DNI</td>
          <td></td>
          <td>Licencia</td>
          <td></td>
        </tr>

         <tr>
          <td class="left aligned">Conductor</td>
          <td><   <%= f.number_field :reembolso, step: :any  %></td>
          <td>DNI</td>
          <td></td>
          <td>Licencia</td>
          <td></td>
        </tr>
        
         <tr>
          <td class="left aligned">Conductor</td>
          <td><   <%= f.number_field :flete, step: :any  %></td>
          <td>DNI</td>
          <td></td>
          <td>Licencia</td>
          <td></td>
        </tr>
        
      </tbody>
    </table>
    
  </div>

  <div class="form-actions">

     <%= f.hidden_field :tranportorder_id, :id => "ac_ost_id" %>
    <%= f.button :submit %>
  </div>
<% end %>



<%= render 'layouts/autocomplete' %>




  <script>

$(document).ready(function() {


  $("#ac_ost").autocomplete("/tranportorders/ac_osts/<%= @company.id %>", {
      matchSubset: 1,
      matchContains: 1,
      selectFirst: false
    });

    
    $("#ac_ost").result(function(event, data, formatted) {

      $("#ac_ost_id").val(data[2]);
      $("#selected_ost").html(data[0]);
      $("#ac_employee_id").html(data[4]);
      $("#ac_employee2_id").html(data[6]);
     

     });  


    
  });
  
  </script>


