<p id="notice"><%= notice %></p>



<h1>Comprobantes de Egresos </h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Fecha</th>
       <th>O.S.T.</th>
      <th>Empleado</th>
      <th>Placa</th>
      <th>Importe</th>
      <th>TBK</th>
  
      <th>TBK documento </th>

      
     
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @couts.each do |cout| %>
      <tr>
        <td><%= cout.code %></td>
        <td><%= cout.fecha.strftime("%d/%m/%Y") %></td>
        <td><%= cout.tranportorder.code  %></td>
        <td><%= cout.employee.full_name %></td>
       
        <td><%= cout.truck.placa %></td>
        <td><%= cout.importe %></td>
        <td><%= cout.tbk  %></td>
        <td><%= cout.tbk_documento %></td>
     
        <td><%= link_to 'Ver', cout %></td>
        <td><%= link_to 'Editar', edit_cout_path(cout) %></td>
        <td><%= link_to 'Eliminar', cout, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="buttons">

  <%= link_to 'Nuevo', new_cout_path %>
  
<%= link_to 'Cargar OST ', "/companies/couts/do_cargar/#{@company.id}" %>

</div>
