<p id="notice"><%= notice %></p>



<p>
  <strong>Code:</strong>
  <%= @cout.code %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @cout.fecha.to_date  %>
</p>

 <%if  @cout.tranportorder_id != 222 %>
<p>
  <strong>ORDEN DE SERVICIO :</strong>
  <%= @cout.tranportorder.code  %>
</p>

<% end %>


 <%if  @cout.carr == "1" %>

       <p>
        <strong> Comprobante en Carretera </strong>
        
       </p>

 <% else %>
      <p>
        <strong> Comprobante :</strong>
    
      </p>

<% end %>

<p>
  <strong>Empleado : </strong>
  <%= @cout.employee.full_name %>
</p>
<p>
  <strong> Placa :</strong>
  <%= @cout.truck.placa  %>
</p>




<p>
  <strong>Importe:</strong>
  <%= @cout.importe %>
</p>


<p>
  <strong> TBK :</strong>
  <%= @cout.tbk %>
</p>

<p>
  <strong> TBK Documento  :</strong>
  <%= @cout.tbk_documento %>
</p>


<table style="width: 80%;">
  <tr>
    <td >PEAJES </td>
   
    <td></td>
    <td> <%= @cout.peajes %></td>
  
    
  </tr>
  <tr>
    <td>LAVADO </td>
    <td></td>
    <td><%= @cout.lavado %></td>
 
  </tr>
  <tr>
    <td>LLANTA </td>
    <td></td>
    <td><%= @cout.llanta %></td>
   
  </tr>

  <tr>
    <td>ALIMENTO </td>
    <td></td>
    <td> <%= @cout.alimento %> </td>
   
  </tr>

  <tr>
    <th> </th>
    <td></td>
    <td> </td>
   
  </tr>

  <tr>
    <td> TOTAL S/- </td>
    <td></td>
    <td> </td>
   
  </tr>


</table>

<p> </br> </p>

<p> <strong> RENDICION DE LGV </strong></p>
<table style="width: 80%;">
  <tr>
    <td >MONTO RECIBIDO </td>
   
    <td></td>
    <td> <%= @cout.monto_recibido %></td>
  
    
  </tr>
  <tr>
    <td>FLETE </td>
    <td></td>
    <td><%= @cout.flete %></td>
 
  </tr>
  <tr>
    <td>RECIBIDO RUTA </td>
    <td></td>
    <td><%= @cout.recibido_ruta  %></td>
   
  </tr>

  <tr>
    <td>TOTAL  </td>
    <td></td>
    <td> <%=  %> </td>
   
  </tr>

  <tr>
    <th> </th>
    <td></td>
    <td> </td>
   
  </tr>

  <tr>
    <td> VUELTO  </td>
    <td></td>
    <td> <%= @cout.vuelto  %></td>
   
  </tr>

  <tr>
    <td> DESCUENTO  </td>
    <td></td>
    <td><%= @cout.descuento %> </td>
   
  </tr>

  <tr>
    <td> REEMBOLSO  </td>
    <td></td>
    <td><%= @cout.reembolso  %> </td>
   
  </tr>

  <tr>
    <td> FLETE   </td>
    <td></td>
    <td><%= @cout.flete  %> </td>
   
  </tr>



</table>



<div class="button">


    <%= link_to 'Exportar to PDF', "/cout/pdf/#{@cout.id}.pdf" %>  

     <%= link_to 'Exportar to PDF Formato 1', "/cout/pdf1/#{@cout.id}.pdf" %>  

  <% if @cout.processed.nil? %>

  <%= link_to 'Anular .', "/couts/do_process/#{@cout.id}" %>
  <%end %>



<%= link_to 'Editar', edit_cout_path(@cout) %> 

 <% if @cout.processed == "1" %>
   <%= link_to 'Cancelar', "/couts/do_anular/#{@cout.id}" %>
  <tr>
<% end %>


<%= link_to 'Regresar', couts_path %>

</div>