<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @cout.code %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @cout.fecha %>
</p>

<p>
  <strong>Importe:</strong>
  <%= @cout.importe %>
</p>

<p>
  <strong>Truck:</strong>
  <%= @cout.truck_id %>
</p>

<p>
  <strong>Punto:</strong>
  <%= @cout.punto_id %>
</p>

<p>
  <strong>Tranportorder:</strong>
  <%= @cout.tranportorder_id %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @cout.employee_id %>
</p>

<p>
  <strong>Employee2:</strong>
  <%= @cout.employee2_id %>
</p>

<p>
  <strong>Employee3:</strong>
  <%= @cout.employee3_id %>
</p>

<p>
  <strong>Peajes:</strong>
  <%= @cout.peajes %>
</p>

<p>
  <strong>Lavado:</strong>
  <%= @cout.lavado %>
</p>

<p>
  <strong>Llanta:</strong>
  <%= @cout.llanta %>
</p>

<p>
  <strong>Alimento:</strong>
  <%= @cout.alimento %>
</p>

<p>
  <strong>Otros:</strong>
  <%= @cout.otros %>
</p>

<p>
  <strong>Monto recibido:</strong>
  <%= @cout.monto_recibido %>
</p>

<p>
  <strong>Flete:</strong>
  <%= @cout.flete %>
</p>

<p>
  <strong>Recibido ruta:</strong>
  <%= @cout.recibido_ruta %>
</p>

<p>
  <strong>Vuelto:</strong>
  <%= @cout.vuelto %>
</p>

<p>
  <strong>Descuento:</strong>
  <%= @cout.descuento %>
</p>

<p>
  <strong>Reembolso:</strong>
  <%= @cout.reembolso %>
</p>

<p>
  <strong>Flete:</strong>
  <%= @cout.flete %>
</p>

<p>
  <strong>Ost:</strong>
  <%= @cout.ost_id %>
</p>

<%= link_to 'Edit', edit_cout_path(@cout) %> |
<%= link_to 'Back', couts_path %>
